.block-info {
  box-shadow: $section-shadow;
  font-size: 1.125rem;
  padding-left: 0;
  padding-right: 0;

  @media #{$breakpoint-large} {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.block-info__inner {
  max-width: $content-max-width;
  margin: 0 auto;
  padding-bottom: 4rem;

  //two column as of large 960px
  @media #{$breakpoint-large} {
    display: flex;
    padding-bottom: 6rem;
  }
}

.block-info__inner__content {
  @media #{$breakpoint-large} {
    flex: 1 1 0;

    &:last-child {
      margin-left: 7rem;
    }
  }
}

.block-info__title {
  margin-bottom: 1.5rem;

  @media #{$breakpoint-tablet-and-up} {
    margin-bottom: 3rem;
  }
}

.block-info__description {
  font-family: $font-family-serif;
  font-size: 1.125rem;
}

.block-info__subsection {
  padding-left: 1rem;
  padding-right: 1rem;

  @media #{$breakpoint-large} {
    padding-left: 0;
    padding-right: 0;
  }
}

.block-info__subject {
  margin-bottom: 0;
}

.block-info__lead-author,
.block-info__contributing-authors,
.block-info__license,
.block-info__subject {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ececec;

  &:last-child {
    @media #{$breakpoint-small-to-tablet} {
      border-bottom: 0 none;
    }
  }
}

.block-info__lead-author__authors {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.block-info__lead-author__photo {
  border-radius: 58px;
  border: 3px solid var(--brand-accent);
  overflow: hidden;
  width: 116px;
  height: 116px;
  margin-right: 0.625rem;

  img {
    width: 100%;
    height: auto;
  }
}

.block-info__lead-author__name {
  margin-right: 2rem;
}
