.block-meta {
  box-shadow: $section-shadow;
  font-size: 1.125rem;

  @media #{$breakpoint-large} {
    background-color: var(--body-bg-alt);
    box-shadow: none;
    padding-left: 2rem;
    padding-right: 2rem;

    //overwrite .section.block--toggle
    &.section {
      padding-bottom: 6rem;
    }
  }
}

.block-meta__content-box {
  background-color: var(--body-bg);
  margin: 0 auto;
  max-width: $content-box-max-width;
  padding-left: 2rem;
  padding-right: 2rem;

  @media #{$breakpoint-large} {
    box-shadow: $section-shadow;
    padding: 4rem 8rem;
  }
}

.block-meta__title {
  margin-bottom: 1.5rem;

  @media #{$breakpoint-tablet-and-up} {
    margin-bottom: 3rem;
  }
}

.block-meta__inner {
  padding-bottom: 2rem;

  @media #{$breakpoint-tablet-and-up} {
    padding-bottom: 4rem;
  }

  @media #{$breakpoint-large} {
    //padding-bottom: 6rem;
    padding-bottom: 0;
  }
}

.block-meta__list {
  column-rule: 1px solid #b7b7b7;

  @media #{$breakpoint-tablet-and-up} {
    column-count: 3;
    column-gap: 3rem;
  }
}

.block-meta__subsection {
  margin-bottom: 2.5rem;
  //try to prevent column breaks inside
  overflow: hidden; /* fix for Firefox */
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.block-meta__subtitle {
  color: var(--brand);
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
