////
/// @group specials
////

@import '../utilities';

.twocolumn {
  margin-top: $column-margin-top;
  margin-bottom: $column-margin-bottom;
  font-size: $column-twocolumn-font-size;
  @if $type != 'epub' {
    line-height: $column-line-height;
  }
  text-align: if-map-get($para-align, $type);
  text-indent: if-map-get($column-text-indent, $type);
  column-gap: $column-twocolumn-column-gap;
  column-count: 2;
  column-fill: balance;

  p {
    font-size: inherit;
    @if $type != 'epub' {
      line-height: $column-line-height;
    }
    text-align: if-map-get($para-align, $type);
    text-indent: $para-indent;
  }

  p + p {
    margin-top: $para-margin-top;
  }
}

.threecolumn {
  margin-top: $column-margin-top;
  margin-bottom: $column-margin-bottom;
  font-size: $column-threecolumn-font-size;
  text-indent: if-map-get($column-text-indent, $type);
  @if $type != 'epub' {
    line-height: $column-line-height;
  }
  column-gap: $column-threecolumn-column-gap;
  column-count: 3;
  column-fill: balance;

  p {
    font-size: inherit;
    @if $type != 'epub' {
      line-height: $column-line-height;
    }
    text-align: left;
    text-indent: $para-indent;
  }

  p + p {
    margin-top: $para-margin-top;
  }
}
