////
/// @group specials
////

//============================================================================//
//                           Contributors                                     //
//============================================================================//

.contributors {
  color: $body-color;
  font-size: $body-font-size;
  border-top: 1px solid $body-color;
  margin-top: 1rem;

  .contributor_profile_picture {
    float: left;
    max-width: 175px;
    max-height: 175px;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  .contributor_name {
    font-family: $h1-font-family;
    font-size: 36px;
    color: $h1-color;
    display: block;
    line-height: 1.25;
  }

  .contributor_institution {
    font-family: $h1-font-family;
    text-transform: uppercase;
    display: block;
    margin-bottom: .4rem;

  }
  .contributor_website {
    display: block;
  }
  .contributor_links {
    padding-top: .2rem;
    display: inline-block;

    svg {
      width: 50px;
      height: 50px;
      fill: var(--primary-dark);
    }
  }
  .contributor_bio {
    padding-top: .75rem;
    clear: both;
  }
}


