////
/// @group specials
////

//============================================================================//
//                       Pullquotes, Asides & Sidebars                        //
//============================================================================//

// Asides: HTML5 <aside> tag; div.aside conversion for old e-readers

aside,
.aside {
  padding: $aside-padding-top $aside-padding-right $aside-padding-bottom $aside-padding-left;
  margin: $aside-margin-top $aside-margin-right $aside-margin-bottom $aside-margin-left;
  @if $type != 'epub' {
    line-height: $aside-line-height;
  }
  text-indent: 0;
  border-top: $aside-border-top;
  border-right: $aside-border-right;
  border-bottom: $aside-border-bottom;
  border-left: $aside-border-left;
}

// Pullquotes

%pullquote {
  display: block;
  font-family: $pullquote-font-family;
  font-size: $pullquote-font-size;
  font-style: $pullquote-font-style;
  font-weight: $pullquote-font-weight;
  hyphens: none;
  @if $type != 'epub' {
    line-height: $pullquote-line-height;
  }
  text-align: $pullquote-align;
  text-indent: 0;
  border-top: if-map-get($pullquote-border-top-width, $type) $pullquote-border-top-style $pullquote-border-top-color;
  border-bottom: if-map-get($pullquote-border-bottom-width, $type) $pullquote-border-bottom-style $pullquote-border-bottom-color;
  padding-top: if-map-get($pullquote-padding-top, $type);
  padding-bottom: if-map-get($pullquote-padding-bottom, $type);
}

.pullquote {
  @extend %pullquote;
  margin: if-map-get($pullquote-margin-top, $type) auto if-map-get($pullquote-margin-bottom, $type);
  width: if-map-get($pullquote-width, $type);
}

.pullquote-left,
.pullquote--left {
  @extend %pullquote;
  float: left;
  margin: if-map-get($pullquote-left-margin-top, $type) if-map-get($pullquote-left-margin-right, $type) if-map-get($pullquote-left-margin-bottom, $type) if-map-get($pullquote-left-margin-left, $type);
  text-align: $pullquote-left-align;
  width: $pullquote-left-width;
}

.pullquote-right,
.pullquote--right {
  @extend %pullquote;
  float: right;
  margin: if-map-get($pullquote-right-margin-top, $type) if-map-get($pullquote-right-margin-right, $type) if-map-get($pullquote-right-margin-bottom, $type) if-map-get($pullquote-right-margin-left, $type);
  text-align: $pullquote-right-align;
  width: $pullquote-right-width;
}

// Sidebars
.sidebar {
  float: right;
  width: $sidebar-width;
  padding: $sidebar-padding-top $sidebar-padding-right $sidebar-padding-bottom $sidebar-padding-left;
  margin-top: $sidebar-margin-top;
  margin-right: $sidebar-margin-right;
  margin-left: $sidebar-margin-left;
  font-size: $sidebar-font-size;
  font-style: $sidebar-font-style;
  font-weight: $sidebar-font-weight;
  text-align: $sidebar-align;
}

.sidebar p,
.sidebar p + p {
  text-align: left;
}
