////
/// @group specials
////

//============================================================================//
//                                  Separators                                //
//============================================================================//

// Page Breaks
.page-break-after,
.pdf-page-break-after {
  page-break-after: always;
}

.page-break-before,
.pdf-page-break-before {
  page-break-before: always;
}

.page-break-inside,
.pdf-page-break-inside {
  page-break-inside: auto;
}

// Separators
hr {
  width: $hr-width;
  margin: $hr-margin-top auto $hr-margin-bottom;
  border-top: none;
  border-right: none;
  border-bottom: $hr-border-style $hr-border-width $hr-border-color;
  border-left: none;
  text-align: center;

  &.break-symbols {
    padding-top: if-map-get($hr-break-symbols-padding-top, $type);
    border-top: if-map-get($hr-break-symbols-border-top-width, $type) if-map-get($hr-break-symbols-border-top-style, $type) if-map-get($hr-break-symbols-border-top-color, $type);
    margin-bottom: $hr-break-symbols-margin-bottom;
    border: 0;

    &::after {
      display: block;
      font-size: $hr-break-symbols-font-size;
      text-align: center;
      content: $hr-break-symbols-content;
    }
  }
}

// Section Breaks
.section-break {
  margin-top: $section-break-margin-top;
  margin-bottom: $section-break-margin-bottom;
  text-align: center;
  text-indent: 0;
}

.section-break-space {
  margin-top: $section-break-space-margin-top;
  margin-bottom: $section-break-space-margin-bottom;
  @if $type != 'epub' {
    line-height: $section-break-space-line-height;
  }
  visibility: hidden;
}

.section-break-page {
  margin-top: $section-break-page-margin-top;
  margin-bottom: $section-break-page-margin-bottom;
  text-align: center;
  text-indent: 0;
  page-break-after: always;
}

.section-break-page-invisible {
  margin-top: $section-break-page-invisible-margin-top;
  margin-bottom: $section-break-page-invisible-margin-bottom;
  text-align: center;
  text-indent: 0;
  visibility: hidden;
  page-break-after: always;
}

// Blank Pages
.blank-page {
  font-size: 0;
  visibility: hidden;
  page-break-before: always;
}
