////
/// @group specials
////

//============================================================================//
//                                   Textboxes                                //
//============================================================================//

@import '../utilities';

@mixin educational-textbox($header-color: #fff, $header-background: #444, $color: #000, $background: #fff) {
  padding:
    if-map-get($edu-textbox-padding-top, $type)
    if-map-get($edu-textbox-padding-right, $type)
    if-map-get($edu-textbox-padding-bottom, $type)
    if-map-get($edu-textbox-padding-left, $type);
  margin-bottom: if-map-get($edu-textbox-margin-bottom, $type);
  border-radius: if-map-get($edu-textbox-border-radius, $type);
  border-style: $edu-textbox-border-style;
  border-width: if-map-get($edu-textbox-border-width, $type);
  color: $color;
  background: $background;

  h3 {
    padding:
      if-map-get($edu-textbox-padding-top, $type) * (1 / $edu-header-font-size-multiplier)
      if-map-get($edu-textbox-padding-right, $type) * (1 / $edu-header-font-size-multiplier)
      if-map-get($edu-textbox-padding-bottom, $type) * (1 / $edu-header-font-size-multiplier)
      if-map-get($edu-textbox-padding-left, $type) * (1 / $edu-header-font-size-multiplier);
    margin:
      -1 * if-map-get($edu-textbox-padding-top, $type) * (1 / $edu-header-font-size-multiplier)
      -1 * if-map-get($edu-textbox-padding-top, $type) * (1 / $edu-header-font-size-multiplier)
      if-map-get($edu-textbox-padding-top, $type) * (1 / $edu-header-font-size-multiplier)
      -1 * if-map-get($edu-textbox-padding-top, $type) * (1 / $edu-header-font-size-multiplier);
    border-top-right-radius: if-map-get($edu-textbox-border-radius, $type) * (1 / $edu-header-font-size-multiplier) - if-map-get($edu-textbox-border-width, $type);
    border-top-left-radius: if-map-get($edu-textbox-border-radius, $type) * (1 / $edu-header-font-size-multiplier) - if-map-get($edu-textbox-border-width, $type);
    font-size: $edu-header-font-size-multiplier * if-map-get($textbox-font-size, $type);
    font-style: $edu-header-font-style;
    font-weight: $edu-header-font-weight;
    color: $header-color;
    background: $header-background;
    text-align: $edu-header-text-align;
  }
}

@mixin edu-textbox($header-color: #fff, $header-background: #444, $color: #000, $background: #fff) {
  margin-bottom: if-map-get($edu-textbox-margin-bottom, $type);
  padding: 0;
  border-radius: if-map-get($edu-textbox-border-radius, $type);
  border-style: $edu-textbox-border-style;
  border-width: if-map-get($edu-textbox-border-width, $type);
  color: $color;
  background: $background;

  .textbox__header {
    background: $header-background;
    border-top-left-radius: if-map-get($edu-textbox-border-radius, $type);
    border-top-right-radius: if-map-get($edu-textbox-border-radius, $type);
    color: $header-color;
    font-size: $edu-header-font-size;
    font-style: $edu-header-font-style;
    font-weight: $edu-header-font-weight;
    margin: 0;
    padding:
      if-map-get($edu-textbox-padding-top, $type)
      if-map-get($edu-textbox-padding-right, $type)
      if-map-get($edu-textbox-padding-bottom, $type)
      if-map-get($edu-textbox-padding-left, $type);
    text-align: $edu-header-text-align;
  }

  .textbox__content {
    margin: 0;
    padding:
      if-map-get($edu-textbox-padding-top, $type)
      if-map-get($edu-textbox-padding-right, $type)
      if-map-get($edu-textbox-padding-bottom, $type)
      if-map-get($edu-textbox-padding-left, $type);
  }
}

.textbox {
  padding: if-map-get($textbox-padding-top, $type) if-map-get($textbox-padding-right, $type) if-map-get($textbox-padding-bottom, $type) if-map-get($textbox-padding-left, $type);
  margin: if-map-get($textbox-margin-top, $type) if-map-get($textbox-margin-right, $type) if-map-get($textbox-margin-bottom, $type) if-map-get($textbox-margin-left, $type);
  font-family: $textbox-font-family;
  font-size: if-map-get($textbox-font-size, $type);
  font-style: $textbox-font-style;
  font-weight: $textbox-font-weight;
  line-height: if-map-get($textbox-line-height, $type);
  text-align: $textbox-text-align;
  border-style: $textbox-border-style;
  border-width: if-map-get($textbox-border-width, $type);
  border-radius: if-map-get($textbox-border-radius, $type);

  h2 {
    font-size: $textbox-header-font-size;
    margin-top: $textbox-header-margin-top;
    margin-bottom: $textbox-header-margin-bottom;
  }

  ul {
    margin-top: $textbox-ul-margin-top;
    margin-bottom: $textbox-ul-margin-bottom;
  }

  li {
    margin-left: $textbox-li-margin-left;
  }

  p {
    margin-top: if-map-get($textbox-para-margin-top, $type);
    margin-bottom: if-map-get($textbox-para-margin-bottom, $type);
    text-indent: 0;
  }

  .textbox-caption {
    display: block;
    margin: 0;
    font-family: $textbox-caption-font-family;
    font-size: if-map-get($textbox-caption-font-size, $type);
    font-style: $textbox-caption-font-style;
    font-weight: $textbox-caption-font-weight;
  }

  &.shaded {
    background-color: if-map-get($textbox-shaded-background-color, $type);
  }

  &.learning-objectives {
    @include educational-textbox($learning-objectives-header-color, $learning-objectives-header-background, $learning-objectives-color, $learning-objectives-background);
  }

  &.textbox--learning-objectives {
    @include edu-textbox($learning-objectives-header-color, $learning-objectives-header-background, $learning-objectives-color, $learning-objectives-background);
  }

  &.key-takeaways {
    @include educational-textbox($key-takeaways-header-color, $key-takeaways-header-background, $key-takeaways-color, $key-takeaways-background);
  }

  &.textbox--key-takeaways {
    @include edu-textbox($key-takeaways-header-color, $key-takeaways-header-background, $key-takeaways-color, $key-takeaways-background);
  }

  &.exercises {
    @include educational-textbox($exercises-header-color, $exercises-header-background, $exercises-color, $exercises-background);
  }

  &.textbox--exercises {
    @include edu-textbox($exercises-header-color, $exercises-header-background, $exercises-color, $exercises-background);
  }

  &.examples {
    @include educational-textbox($examples-header-color, $examples-header-background, $examples-color, $examples-background);
  }

  &.textbox--examples {
    @include edu-textbox($examples-header-color, $examples-header-background, $examples-color, $examples-background);
  }
}

.bcc-box {
  @extend .textbox;
}

.bcc-highlight {
  @extend .textbox.learning-objectives;
}

.bcc-success {
  @extend .textbox.key-takeaways;
}

.bcc-info {
  @extend .textbox.exercises;
}

.textbox--sidebar {
  float: if-map-get($textbox-sidebar-float, $type);
  margin: if-map-get($textbox-sidebar-margin-top, $type) if-map-get($textbox-sidebar-margin-right, $type) if-map-get($textbox-sidebar-margin-bottom, $type) if-map-get($textbox-sidebar-margin-left, $type);
  @if $type == 'prince' {
    margin-inside: $textbox-sidebar-margin-inside;
  }
  max-width: 25%;
}

@if $type == 'epub' {
  @media amzn-mobi {
    div.textbox {
      margin: 5%;
      border-top: 1px solid;
      border-bottom: 1px solid;
    }

    .ugc.chapter-ugc.textbox {
      padding-left: 10%;
      margin: 1.5em 5% 1.5em 10%;
      font-size: 0.9em;
      font-style: italic;
      border-top: 1px solid;
    }

    .ugc.chapter-ugc.textbox p.nonindent,
    .ugc.chapter-ugc.textbox p.indent {
      margin-right: 5%;
      margin-left: 10%;
      font-size: 0.9em;
      font-style: italic;
    }
  }
}
