//============================================================================//
//                             Chapter Pages                                  //
//============================================================================//

//Special chapter page styling

// Numberless Chapters
.numberless .chapter-number {
  display: none;
}

// License
.chapter .license-attribution {
  text-align: $section-license-align;
  margin-top: $section-license-margin-top;
}
