////
/// @group pages
////

// Numberless Chapters
.numberless > .chapter-number {
  display: none;
}

// License
.chapter .license-attribution {
  p {
    text-align: $section-license-align;
    line-height: $section-license-line-height;
    font-size: $section-license-font-size;
    font-style: $section-license-font-style;
    margin-top: $section-license-margin-top;
    page-break-inside: avoid;
  }

  img {
    height: 2em;
    width: auto;
  }
}
