////
/// @group elements
////

//============================================================================//
//                                   Body                                     //
//============================================================================//

@import '../utilities';

@if $type != 'web' {
  body {
    font-family: $body-font-family;
    font-size: if-map-get($body-font-size, $type);
    font-style: $body-font-style;
    font-weight: $body-font-weight;
    line-height: if-map-get($body-line-height, $type);
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    body {
      font-family: serif;
      font-size: medium;
      font-style: normal;
      font-weight: normal;
      line-height: 1.4em;
    }
  }
}

@if $type == 'web' {
  .front-matter,
  .part,
  .chapter,
  .back-matter,
  body#tinymce.wp-editor {
    font-family: $body-font-family;
    font-size: if-map-get($body-font-size, $type);
    font-style: $body-font-style;
    font-weight: $body-font-weight;
    line-height: if-map-get($body-line-height, $type);
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
