////
/// @group elements
////

//============================================================================//
//                                 Headings                                   //
//============================================================================//

@import '../utilities';

@mixin heading($heading) {
  #{$heading} {
    border-bottom: map-get($_heading-border-bottom-style, $heading) if-map-get(map-get($_heading-border-bottom-width, $heading), $type) if-map-get(map-get($_heading-border-bottom-color, $heading), $type);
    margin-top: if-map-get(map-get($_heading-margin-top, $heading), $type);
    margin-bottom: if-map-get(map-get($_heading-margin-bottom, $heading), $type);
    padding-bottom: if-map-get(map-get($_heading-padding-bottom, $heading), $type);
    font-family: if-map-get(map-get($_heading-font-family, $heading), $type);
    font-size: if-map-get(map-get($_heading-font-size, $heading), $type);
    font-style: map-get($_heading-font-style, $heading);
    font-weight: map-get($_heading-font-weight, $heading);
    @if $type != 'epub' {
      line-height: if-map-get(map-get($_heading-line-height, $heading), $type);
    }
    text-align: map-get($_heading-align, $heading);
    text-transform: map-get($_heading-text-transform, $heading);
  }
}

@if $type != 'web' {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    hyphens: none;
    page-break-after: avoid;
  }

  @for $i from 1 through 6 {
    @include heading(h#{$i});
  }
}

// This means that your PDF TOC won't list your subheadings, but in case of
// 2-level TOC, `div.ugc h1` should be excluded.

@if $type == 'prince' {
  .ugc h1,
  .ugc h2,
  .ugc h3,
  .ugc h4,
  .ugc h5,
  .ugc h6 {
    bookmark-level: none;
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    h1 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 1.4em;
      font-style: normal;
      font-weight: bold;
      text-align: center;
    }

    h2 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 1.3em;
      font-style: normal;
      font-weight: bold;
      text-align: center;
    }

    h3 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 1.2em;
      font-style: normal;
      font-weight: bold;
      text-align: center;
    }

    h4 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 1.1em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }

    h5 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 1em;
      font-style: normal;
      font-weight: bold;
      text-align: center;
    }

    h6 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 0.9em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }
  }
}

@if $type == 'web' {
  .front-matter,
  .part,
  .chapter,
  .back-matter,
  body#tinymce.wp-editor {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      hyphens: none;
    }

    @for $i from 1 through 6 {
      @include heading(h#{$i});
    }
  }
}
