////
/// @group elements
////

//============================================================================//
//                                 Headings                                   //
//============================================================================//

@import '../utilities';

@mixin heading($level) {
  h#{$level} {
    border-bottom: map-get($heading-border-bottom-style, $level) if-map-get(map-get($heading-border-bottom-width, $level), $type) if-map-get(map-get($heading-border-bottom-color, $level), $type);
    margin-top: if-map-get(map-get($heading-margin-top, $level), $type);
    margin-bottom: if-map-get(map-get($heading-margin-bottom, $level), $type);
    padding-bottom: if-map-get(map-get($heading-padding-bottom, $level), $type);
    font-family: if-map-get(map-get($heading-font-family, $level), $type);
    font-size: if-map-get(map-get($heading-font-size, $level), $type);
    font-style: map-get($heading-font-style, $level);
    font-weight: map-get($heading-font-weight, $level);
    line-height: if-map-get(map-get($heading-line-height, $level), $type);
    text-align: map-get($heading-align, $level);
    text-transform: map-get($heading-text-transform, $level);
  }
}

@if $type != 'web' {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    hyphens: none;
    page-break-after: avoid;
  }

  @for $i from 1 through 6 {
    @include heading($i);
  }
}

// This means that your PDF TOC won't list your subheadings, but in case of
// 2-level TOC, `div.ugc h1` should be excluded.

@if $type == 'prince' {
  .ugc h1,
  .ugc h2,
  .ugc h3,
  .ugc h4,
  .ugc h5,
  .ugc h6 {
    bookmark-level: none;
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    h1 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 1.4em;
      font-style: normal;
      font-weight: bold;
      text-align: center;
    }

    h2 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 1.3em;
      font-style: normal;
      font-weight: bold;
      text-align: center;
    }

    h3 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 1.2em;
      font-style: normal;
      font-weight: bold;
      text-align: center;
    }

    h4 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 1.1em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }

    h5 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 1em;
      font-style: normal;
      font-weight: bold;
      text-align: center;
    }

    h6 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 0.9em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }
  }
}

@if $type == 'web' {
  .front-matter,
  .part,
  .chapter,
  .back-matter {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      hyphens: none;
    }

    @for $i from 1 through 6 {
      @include heading($i);
    }
  }
}
