////
/// @group elements
////

//============================================================================//
//                               Miscellaneous                                //
//============================================================================//
@import "../utilities";

@if $type != 'web' {
  // Cite
  cite {
    font-size: if-map-get($cite-font-size, $type);
    font-style: $cite-font-style;
    font-variant: $cite-font-variant;
    font-weight: $cite-font-weight;
    letter-spacing: if-map-get($cite-letter-spacing, $type);
    text-transform: $cite-text-transform;
    word-spacing: if-map-get($cite-word-spacing, $type);
  }

  // Code & Pre
  code {
    font-family: $code-font-family;
    font-size: if-map-get($code-font-size, $type);
    line-height: if-map-get($code-line-height, $type);
  }

  pre {
    font-family: $pre-font-family;
    font-size: if-map-get($pre-font-size, $type);
    line-height: if-map-get($pre-line-height, $type);
  }

  // Superscript & Subscript
  sub {
    font-size: if-map-get($sub-font-size, $type);
    font-style: $sub-font-style;
    line-height: if-map-get($sub-line-height, $type);
    text-transform: $sub-text-transform;
  }

  sup {
    font-size: if-map-get($sup-font-size, $type);
    font-style: $sup-font-style;
    line-height: if-map-get($sup-line-height, $type);
    text-transform: $sup-text-transform;
  }
}

@else {
  .front-matter,
  .part,
  .chapter,
  .back-matter {
    // Cite
    cite {
      font-size: if-map-get($cite-font-size, $type);
      font-style: $cite-font-style;
      font-variant: $cite-font-variant;
      font-weight: $cite-font-weight;
      letter-spacing: if-map-get($cite-letter-spacing, $type);
      text-transform: $cite-text-transform;
      word-spacing: if-map-get($cite-word-spacing, $type);
    }

    // Code & Pre
    code {
      font-family: $code-font-family;
      font-size: if-map-get($code-font-size, $type);
      line-height: if-map-get($code-line-height, $type);
    }

    pre {
      font-family: $pre-font-family;
      font-size: if-map-get($pre-font-size, $type);
      line-height: if-map-get($pre-line-height, $type);
    }

    // Superscript & Subscript
    sub {
      font-size: if-map-get($sub-font-size, $type);
      font-style: $sub-font-style;
      line-height: if-map-get($sub-line-height, $type);
      text-transform: $sub-text-transform;
    }

    sup {
      font-size: if-map-get($sup-font-size, $type);
      font-style: $sup-font-style;
      line-height: if-map-get($sup-line-height, $type);
      text-transform: $sup-text-transform;
    }
  }
}
