////
/// @group elements
////

// ============================================================================//
//                                 Paragraphs                                 //
// ============================================================================//

@import '../utilities';

@if $type != 'web' {
  p {
    font-weight: normal;
    margin-bottom: $para-margin-bottom;
    text-align: if-map-get($para-align, $type);
    widows: $widows;
    orphans: $orphans;
  }

  p + p,
  .indent {
    margin-top: $para-margin-top;
    text-indent: $para-indent;
  }

  .no-indent {
    margin-top: $para-no-indent-margin-top;
    text-indent: 0;
  }

  // Hyphenation

  body,
  p {
    hyphens: $para-hyphens;
    hyphenate-before: $para-hyphenate-before;
    hyphenate-after: $para-hyphenate-after;
    hyphenate-lines: $para-hyphenate-lines;
  }

  #copyright-page p,
  .dedication p,
  .epigraph p {
    hyphens: none;
  }

  // When paragraphs follow a floated element, make sure indents work as expected.
  // NOTE: this should only happen when paragraph separators = indent.

  .wp-caption.alignleft + p,
  .wp-nocaption.alignleft + p,
  .wp-caption.alignright + p,
  .wp-nocaption.alignright + p,
  .float-top + p,
  .float-bottom + p,
  .pullquote + p,
  .pullquote-right + p,
  .pullquote--right + p,
  .pullquote-left + p,
  .pullquote--left + p,
  .pullquote-outside + p,
  .pullquote--outside + p,
  .pullquote-inside + p,
  .pullquote--inside + p,
  .sidebar + p {
    margin-top: $para-margin-top;
    text-indent: $para-indent;
  }

  // Hanging Indents
  .hanging-indent {
    padding-left: $para-hanging-indent-padding-left;
    text-indent: $para-hanging-indent-text-indent;
  }
}

@if $type == 'prince' {
  // Paragraph tracking (for Prince only)
  .tight {
    letter-spacing: $para-tight-letter-spacing;
    word-spacing: $para-tight-word-spacing;
  }

  .very-tight {
    letter-spacing: $para-very-tight-letter-spacing;
    word-spacing: $para-very-tight-word-spacing;
  }

  .loose {
    letter-spacing: $para-loose-letter-spacing;
    word-spacing: $para-loose-word-spacing;
  }

  .very-loose {
    letter-spacing: $para-very-loose-letter-spacing;
    word-spacing: $para-very-loose-word-spacing;
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    p,
    .ugc p,
    .chapter-ugc p {
      font-family: serif;
      font-size: 1em;
      font-style: normal;
      font-weight: normal;
      text-align: justify;
    }

    .nonindent,
    .no-indent,
    p.nonindent,
    p.no-indent,
    div.ugc p.no-indent,
    div.ugc p.nonindent {
      margin-top: 0.5em;
      font-family: serif;
      font-size: 1em;
      font-style: normal;
      font-weight: normal;
      text-align: justify;
      text-indent: 0;
    }

    .indent,
    p.indent,
    div.ugc p.indent {
      margin-top: 0;
      font-family: serif;
      font-size: 1em;
      font-style: normal;
      font-weight: normal;
      text-align: justify;
      text-indent: 1.5em;
    }

    .front-matter-ugc p.indent,
    .front-matter-ugc p.nonindent,
    .front-matter-ugc p.no-indent {
      font-family: serif;
      font-size: 1em;
      font-style: normal;
      font-weight: normal;
      text-align: justify;
    }

    .back-matter-ugc p.indent,
    .back-matter-ugc p.nonindent,
    .back-matter-ugc p.no-indent {
      font-family: serif;
      font-size: 1em;
      font-style: normal;
      font-weight: normal;
      text-align: justify;
    }
  }
}

@if $type == 'web' {
  .front-matter,
  .part,
  .chapter,
  .back-matter,
  body#tinymce.wp-editor {
    p {
      font-weight: normal;
      margin-bottom: $para-margin-bottom;
      text-align: if-map-get($para-align, $type);
      widows: $widows;
      orphans: $orphans;
      hyphens: $para-hyphens;
      hyphenate-before: $para-hyphenate-before;
      hyphenate-after: $para-hyphenate-after;
      hyphenate-lines: $para-hyphenate-lines;
    }

    p + p,
    .indent {
      margin-top: $para-margin-top;
      text-indent: $para-indent;
    }

    .no-indent {
      margin-top: $para-no-indent-margin-top;
      text-indent: 0;
    }

    // Hyphenation

    hyphens: $para-hyphens;
    hyphenate-before: $para-hyphenate-before;
    hyphenate-after: $para-hyphenate-after;
    hyphenate-lines: $para-hyphenate-lines;

    .dedication p,
    .epigraph p {
      hyphens: none;
    }

    // When paragraphs follow a floated element, make sure indents work as expected.
    // NOTE: this should only happen when paragraph separators = indent.

    .wp-caption.alignleft + p,
    .wp-nocaption.alignleft + p,
    .wp-caption.alignright + p,
    .wp-nocaption.alignright + p,
    .float-top + p,
    .float-bottom + p,
    .pullquote + p,
    .pullquote-right + p,
    .pullquote-left + p,
    .pullquote-outside + p,
    .sidebar + p {
      margin-top: $para-margin-top;
      text-indent: $para-indent;
    }

    // Hanging Indents
    .hanging-indent {
      padding-left: $para-hanging-indent-padding-left;
      text-indent: $para-hanging-indent-text-indent;
    }
  }
}
