////
/// @group pages
////

// Numberless Chapters
.numberless > .chapter-number {
  display: none;
}

// License
.chapter .license-attribution {
  > p {
    text-align: $section-license-align;
    line-height: $section-license-line-height;
    font-size: $section-license-font-size;
    font-style: $section-license-font-style;
    margin-top: $section-license-margin-top;
    page-break-inside: avoid;
  }

  img {
    margin-bottom: $section-license-image-margin-bottom;
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    .chapter .license-attribution img {
      width: $section-license-image-width !important;
      height: $section-license-image-height !important;
    }
  }
}
