{
	"extends": "stylelint-config-standard",
	"rules": {
		"indentation": 2,
		"media-feature-name-no-unknown": [
			true,
			{
				ignoreMediaFeatureNames: [
					"min--moz-device-pixel-ratio"
				]
			}
		],
		"property-no-unknown": [
			true,
			{
				ignoreProperties: [
					"footnote-style-position",
					"hyphenate-before",
					"hyphenate-after",
					"hyphenate-lines",
					"prince-footnote-policy",
					"prince-image-resolution",
					"prince-page-group"
				]
			}
		],
		"selector-pseudo-element-no-unknown": [
			true,
			{
				ignorePseudoElements: [
					"footnote-call"
				]
			}
		]
	}
}
