language: php

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
  - dev

php:
  - 5.6
  - 7.0
  - 7.1
  - nightly

env:
  - TRAVIS_NODE_VERSION="6"
  - TRAVIS_NODE_VERSION="7"

matrix:
  fast_finish: true
  allow_failures:
  - php: nightly

cache:
  apt: true
  directories:
    - $HOME/.composer/cache
    - node_modules
    - vendor

before_install:
  - source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION && nvm use $TRAVIS_NODE_VERSION

install:
  - node -v
  - npm install -g webpack
  - npm install
  - composer install

script:
  - npm run production
  - composer test
