////
/// @group section-titles
////

@import '../utilities';

@if $type != 'web' {
  .back-matter-title-wrap {
    margin: if-map-get($section-header-margin-top, $type) if-map-get($section-header-margin-right, $type) if-map-get($section-header-margin-bottom, $type) if-map-get($section-header-margin-left, $type);

    .back-matter-number {
      display: none;
    }

    h1.back-matter-title {
      display: block;
      margin-top: if-map-get($back-matter-title-margin-top, $type);
      margin-bottom: 0;
      font-family: $back-matter-title-font-family;
      font-size: if-map-get($back-matter-title-font-size, $type);
      font-style: $back-matter-title-font-style;
      font-weight: $back-matter-title-font-weight;
      hyphens: none;
      @if $type != 'epub' {
        line-height: if-map-get($back-matter-title-line-height, $type);
      }
      text-align: $back-matter-title-align;
      text-transform: $back-matter-title-text-transform;
      border-bottom: if-map-get($back-matter-title-border-bottom-width, $type) $back-matter-title-border-bottom-style if-map-get($back-matter-title-border-bottom-color, $type);
      padding-bottom: if-map-get($back-matter-title-padding-bottom, $type);
      letter-spacing: if-map-get($back-matter-title-letter-spacing, $type);
      word-spacing: if-map-get($back-matter-title-word-spacing, $type);

      &::after {
        font-family: $back-matter-title-decoration-font-family;
        content: $back-matter-title-decoration-content;
        display: $back-matter-title-decoration-display;
        white-space: pre;
        font-size: if-map-get($back-matter-title-decoration-font-size, $type);
        font-weight: $back-matter-title-decoration-font-weight;
        margin-bottom: if-map-get($back-matter-title-decoration-margin-bottom, $type);
        margin-top: if-map-get($back-matter-title-decoration-margin-top, $type);
        color: if-map-get($back-matter-title-decoration-color, $type);
      }
    }

    h2.chapter-subtitle {
      display: block;
      margin-bottom: 0;
      font-family: $section-subtitle-font-family;
      font-size: if-map-get($section-subtitle-font-size, $type);
      font-style: $section-subtitle-font-style;
      font-weight: $section-subtitle-font-weight;
      hyphens: none;
      text-align: $section-subtitle-align;
      text-transform: $section-subtitle-text-transform;
      @if $type != 'epub' {
        column-span: all;
      }
      letter-spacing: if-map-get($section-subtitle-letter-spacing, $type);
      word-spacing: if-map-get($section-subtitle-word-spacing, $type);
    }

    h2.chapter-author {
      display: block;
      margin-bottom: if-map-get($section-author-margin-bottom, $type);
      font-family: $section-author-font-family;
      font-size: if-map-get($section-author-font-size, $type);
      font-style: $section-author-font-style;
      font-weight: $section-author-font-weight;
      hyphens: none;
      text-align: $section-author-align;
      text-transform: $section-author-text-transform;
      letter-spacing: if-map-get($section-author-letter-spacing, $type);
      word-spacing: if-map-get($section-author-word-spacing, $type);
    }

    h1.back-matter-title + h2.chapter-subtitle,
    .short-title + h2.chapter-subtitle {
      margin-top: if-map-get($section-title-subtitle-spacing, $type);
    }

    h1.back-matter-title + h2.chapter-author,
    .short-title + h2.chapter-author {
      margin-top: if-map-get($section-title-author-spacing, $type);
    }

    h2.chapter-subtitle + h2.chapter-author {
      margin-top: if-map-get($section-subtitle-author-spacing, $type);
    }

    h1.back-matter-title:last-child {
      margin-bottom: if-map-get($back-matter-title-margin-bottom, $type);
    }

    h2.chapter-subtitle:last-child {
      margin-bottom: if-map-get($section-subtitle-margin-bottom, $type);
    }
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    h2.back-matter-title {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.3em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }
  }
}
