////
/// @group section-titles
////

@import '../utilities';

section header,
.chapter-title-wrap {
  margin: if-map-get($section-header-margin-top, $type) if-map-get($section-header-margin-right, $type) if-map-get($section-header-margin-bottom, $type) if-map-get($section-header-margin-left, $type);

  h1,
  h1.chapter-title {
    display: $chapter-title-display;
    margin-top: if-map-get($chapter-title-margin-top, $type);
    font-family: $chapter-title-font-family;
    font-size: if-map-get($section-title-font-size, $type);
    font-style: $chapter-title-font-style;
    font-weight: $chapter-title-font-weight;
    hyphens: none;
    text-align: $chapter-title-align;
    text-transform: $chapter-title-text-transform;
  }

  h1 span,
  .chapter-number {
    display: $chapter-number-display;
    margin-top: 0;
    margin-bottom: if-map-get($chapter-number-margin-bottom, $type);
    font-family: $chapter-number-font-family;
    font-size: if-map-get($chapter-number-font-size, $type);
    font-style: $chapter-number-font-style;
    font-weight: $chapter-number-font-weight;
    line-height: $chapter-number-line-height;
    text-align: $chapter-number-align;
    text-transform: $chapter-number-text-transform;

    &::after {
      content: $chapter-number-after-content;
    }
  }

  .numberless & {
    h1 span,
    .chapter-number::after {
      content: '';
    }
  }

  h2.chapter-subtitle,
  [data-type='subtitle'] {
    display: block;
    margin-bottom: 0;
    font-family: $section-subtitle-font-family;
    font-size: if-map-get($section-subtitle-font-size, $type);
    font-style: $section-subtitle-font-style;
    font-weight: $section-subtitle-font-weight;
    hyphens: none;
    text-align: $section-subtitle-align;
    text-transform: $section-subtitle-text-transform;
    column-span: all;
  }

  h2.chapter-author,
  [data-type='author'] {
    display: block;
    margin-bottom: if-map-get($section-author-margin-bottom, $type);
    font-family: $section-author-font-family;
    font-size: if-map-get($section-author-font-size, $type);
    font-style: $section-author-font-style;
    font-weight: $section-author-font-weight;
    hyphens: none;
    text-align: $section-author-align;
    text-transform: $section-author-text-transform;
  }

  h1 + [data-type='subtitle'],
  h1.chapter-title + h2.chapter-subtitle {
    margin-top: if-map-get($section-title-subtitle-spacing, $type);
  }

  h1 + [data-type='author'],
  h1.chapter-title + h2.chapter-author {
    margin-top: if-map-get($section-title-author-spacing, $type);
  }

  [data-type='subtitle'] + [data-type='author'],
  h2.chapter-subtitle + h2.chapter-author {
    margin-top: if-map-get($section-subtitle-author-spacing, $type);
  }

  h1:last-child,
  h1.chapter-title:last-child {
    margin-bottom: $section-title-margin-bottom;
  }

  [data-type='subtitle']:last-child,
  h2.chapter-subtitle:last-child {
    margin-bottom: $section-subtitle-margin-bottom;
  }
}

blockquote.aphorism {
  margin-top: if-map-get($aphorism-margin-top, $type);
  margin-bottom: if-map-get($aphorism-margin-bottom, $type);
  font-family: $aphorism-font-family;
  font-size: if-map-get($aphorism-font-size, $type);
  line-height: if-map-get($body-line-height, $type);
  text-align: $aphorism-align;
  text-indent: 0;

  cite {
    display: block;
    margin-left: if-map-get($aphorism-cite-margin-left, $type);
    font-size: if-map-get($aphorism-cite-font-size, $type);

    &::before {
      content: $aphorism-cite-before-content;
    }
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    div.chapter-title-wrap {
      margin-top: 0;
      margin-bottom: 0;
    }

    h3.chapter-number {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.2em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }

    h2.chapter-title {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.5em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }

    h2.chapter-subtitle {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 0.9em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }

    h2.chapter-author {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 0.8em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }
  }

  @media amzn-kf8 {
    .chapter-title-wrap h2.chapter-title::before {
      content: '';
    }

    .chapter-title-wrap h2.chapter-title::after {
      content: '';
    }
  }
}
