$part: 'Part';

@import "../../assets/styles/variables/accessibility";
@import "../../assets/styles/variables/colors";
@import "../../assets/styles/variables/elements";
@import "../../assets/styles/variables/specials";
@import "../../assets/styles/variables/media";
@import "../../assets/styles/variables/pages";
@import "../../assets/styles/variables/section-titles";
@import "../../assets/styles/variables/structure";
@import "../../assets/styles/variables/toc";
