.footer--page {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer.footer--reading {
  padding-top: 1rem;
  padding-bottom: 7rem;

  @media screen and (min-width: rem(768)) {
    padding-bottom: 4rem;
  }

  @media #{$breakpoint-max-content} {
    padding-bottom: 4rem;
  }
}
