// stylelint-disable no-descending-specificity
body:not(.home) {
  .header {
    padding-left: 0;
    padding-right: 0;

    &__inside {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.reading-header {
  --header-bg: var(--body-text);
  --header-color: var(--body-bg);

  color: var(--header-color);
  background-color: var(--header-bg);
  font-family: $font-family-sans-serif;
  margin-top: 3rem;

  //overwrite link colors of potential book theme
  .reading-header__title a,
  .reading-header__end-container a {
    color: var(--header-color);
    text-decoration: $link-decoration;

    &:hover,
    &:focus {
      color: var(--header-color);
      text-decoration: $link-hover-decoration;
    }
  }
}

.reading-header__inside {
  display: flex;
  flex-direction: column;

  body:not(.has-annotator-pane) & {
    @media #{$breakpoint-large} {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.reading-header__toc,
.reading-header__title,
.reading-header__end-container {
  align-items: center;
  display: flex;
  min-height: 5rem;

  body:not(.has-annotator-pane) & {
    @media #{$breakpoint-large} {
      height: 5rem;
    }
  }
}

.reading-header__toc,
.reading-header__end-container {
  border-top: 3px solid var(--header-color);
  font-size: 1rem;
  order: 1;
  width: 100%;

  body:not(.has-annotator-pane) & {
    @media #{$breakpoint-large} {
      flex: 1 0 rem(280);
      border-top: 0 none;
      order: 0;
      width: calc((100vw - 800px) / 2);
    }
  }
}

.reading-header__toc {
  background: var(--header-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;

  body:not(.has-annotator-pane) & {
    @media #{$breakpoint-large} {
      align-items: flex-end;
      justify-content: flex-start;
    }
  }

  h3.reading-header__toc__title {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    height: 5rem;
    margin-bottom: 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;

    body:not(.has-annotator-pane) & {
      @media #{$breakpoint-large} {
        width: 100%;

        button {
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }
    }

    button {
      height: 5rem;
      border-bottom: 0;
      padding-bottom: 0;
      padding-left: 2.25rem;
      padding-right: 2.25rem;
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
        color: var(--header-color);
      }

      @media #{$breakpoint-tablet-and-up} {
        font-size: 1.125rem;

        .arrow {
          margin-top: 0.65rem;
        }
      }
    }
  }
}

.reading-header__title {
  background-color: var(--footer-bg);
  border-top: solid 2px var(--body-bg);
  border-bottom: solid 2px var(--body-bg);
  font-size: 1.25rem;
  justify-content: center;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  body:not(.has-annotator-pane) & {
      @media #{$breakpoint-large} {
      flex: 1 1 var(--reading-width, 40em);
      max-width: var(--reading-width, 40em);
    }
  }
}

.reading-header__end-container {
  display: none;
  padding-left: 2.25rem;
  padding-right: 2.25rem;

  body:not(.has-annotator-pane) & {
    @media #{$breakpoint-large} {
      display: flex;
      justify-content: flex-end;
      padding-left: 2rem;
      padding-right: 2rem;

      a {
        font-size: 1.125rem;
        text-transform: uppercase;
      }
    }
  }
}

.a11y-toolbar {
  z-index: 9990;
  @media #{$breakpoint-not-large} {
    position: absolute;
  }
}
