h1.reading-header__title {
  &::before {
    display: none;
  }
}

.single-front-matter,
.single-part,
.single-chapter,
.single-back-matter,
.error404 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  #page {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  #main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  #content {
    font-size: rem(18);
    flex-grow: 1;
    padding: 0 1rem;
    margin-bottom: 2rem;

    @media #{$breakpoint-large} {
      padding: 0;
    }

    h1,
    h2 {
      &::before {
        display: none;
      }
    }
  }
}

.front-matter,
.part,
.chapter,
.back-matter {
  .post-password-form {
    margin-top: 1rem;

    p + p {
      margin-top: 1rem;
      text-indent: 0;
    }

    label {
      width: 100%;
      &::after {
        clear: both;
        content: "";
        display: block;
        width: 100%;
      }
    }

    [type="submit"] {
      margin-top: 1rem;
    }
  }
}

.part-title {
  text-align: right;
}

#content .entry-content a.call-to-action,
.edit-link .call-to-action {
  color: var(--primary);

  &:hover,
  &:focus {
    color: var(--primary-dark);
  }
}

// Navigation
.nav-reading {
  background-color: var(--primary);
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  width: 100vw;

  &.absolute {
    position: absolute;
  }

  @media #{$breakpoint-max-content} {
    background-color: transparent;
    display: block;
    bottom: auto;
    top: 58%;

    .fontsize & {
      background-color: var(--primary);
      bottom: 0;
      display: flex;
      left: 0;
      top: auto;
    }
  }
}

.nav-reading__previous,
.nav-reading__next {
  align-items: center;
  display: flex;
  color: var(--primary-fg);
  flex: 1 1 50%;
  font-family: $font-family-sans-serif;
  font-size: 0.875rem;
  height: 2.5rem;
  padding: 0 1rem;

  @media #{$breakpoint-max-content} {
    bottom: 0;
    color: var(--body-color);
    font-size: 1.25rem;
    height: auto;
    position: absolute;
    padding: 0 1rem;

    .fontsize & {
      color: var(--primary-fg);
      flex: 1 1 50%;
      font-size: 0.875rem;
      height: 2.5rem;
      position: relative;
      padding: 0 1rem;
    }
  }

  a {
    align-items: center;
    color: var(--button-primary-color);
    display: flex;
    white-space: nowrap;

    &:hover {
      color: var(--primary--dark);
      text-decoration: underline;
    }

    svg {
      fill: var(--primary);
      height: 1em;
      width: 1em;

      &:hover {
        fill: var(--primary--dark);
      }
    }

    @media #{$breakpoint-max-content} {
      color: var(--body-color);
      font-size: 1.25rem;
      height: auto;

      &:hover {
        color: var(--primary-dark);
      }

      svg {
        fill: var(--primary);
        height: 1em;
        width: 1em;
      }

      .fontsize & {
        color: var(--button-primary-color);

        &:hover {
          color: var(--primary--dark);
        }
      }
    }
  }
}

.nav-reading__previous {
  border-right: 1px solid var(--primary-fg);
  justify-content: flex-start;
  left: 0;

  @media #{$breakpoint-max-content} {
    border: 0 none;
    left: 3rem;

    .fontsize & {
      border-right: 1px solid var(--primary-fg);
      left: 0;
    }
  }

  svg {
    margin-right: 0.5rem;

    @media #{$breakpoint-max-content} {
      margin-right: 1rem;
    }
  }
}

.nav-reading__next {
  border-left: 1px solid var(--primary-fg);
  justify-content: flex-end;
  right: 0;

  @media #{$breakpoint-max-content} {
    border: 0 none;
    right: 3rem;

    .fontsize & {
      border-left: 1px solid var(--primary-fg);
      right: 0;
    }
  }

  svg {
    margin-left: 0.5rem;

    @media #{$breakpoint-max-content} {
      margin-left: 1rem;
    }
  }
}

.nav-reading__up {
  align-items: center;
  background-color: var(--primary);
  border-radius: 50%;
  color: var(--primary-fg);
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  height: 2.5rem;
  left: 50%;
  position: absolute;
  top: -3rem;
  transform: translate(-50%, 0);
  width: 2.5rem;
  padding: 0;

  &:hover,
  &:focus {
    background-color: var(--primary-dark);
    color: var(--primary-fg);
    text-decoration: none;
  }

  &:active {
    color: var(--primary-fg);
  }

  .nav-reading--multipage & {
    @media #{$breakpoint-not-large} {
      top: -6rem;
    }
  }

  @media #{$breakpoint-max-content} {
    left: auto;
    right: 3rem;
    top: 4rem;
    height: 6rem;
    width: 6rem;

    .fontsize & {
      left: 50%;
      right: auto;
      top: -6.5rem;
    }
  }

  .nav-reading__up__text {
    display: none;
    font-family: $font-family-serif;
    font-size: 0.875rem;

    @media #{$breakpoint-max-content} {
      display: block;
    }
  }

  svg {
    height: 1em;
    margin: 0;
    width: 1em;

    @media #{$breakpoint-max-content} {
      width: 1.25em;
      height: 1.25em;
    }
  }
}
//page navigation
.nav-reading--page {
  background-color: var(--body-bg);
  bottom: $nav-reading-height-mobile;
  display: flex;
  left: 0;
  position: fixed;
  width: 100vw;
  margin-top: 2rem;

  @media #{$breakpoint-large} {
    background-color: transparent;
    bottom: auto;
    top: 58%;
    position: relative;
    display: block;
    width: auto;
  }
}

.nav-reading--page__previous,
.nav-reading--page__next {
  align-items: center;
  display: flex;
  flex: 1 1 50%;
  font-family: $font-family-sans-serif;
  font-size: 0.875rem;
  height: 2.5rem;
  padding: 0 1rem;

  @media #{$breakpoint-large} {
    padding: 0 1rem;
  }

  @media #{$breakpoint-max-content} {
    bottom: 0;
    height: auto;
    font-size: 1.25rem;
  }

  a {
    align-items: center;
    color: var(--body-color);
    display: flex;
    white-space: nowrap;

    &:hover {
      color: var(--primary-dark);
      text-decoration: underline;
    }

    svg {
      height: 1em;
      width: 1em;

      // &:hover {
      //   fill: var(--primary-dark);
      // }
    }

    @media #{$breakpoint-max-content} {
      height: auto;
      font-size: 1.25rem;
    }
  }
}

.nav-reading--page__previous {
  justify-content: flex-start;
  left: 0;

  svg {
    margin-right: 0.5rem;

    @media #{$breakpoint-large} {
      margin-left: 0;
      margin-right: 1rem;
    }
  }
}

.nav-reading--page__next {
  justify-content: flex-end;
  right: 0;

  svg {
    margin-left: 0.5rem;

    @media #{$breakpoint-large} {
      margin-left: 1rem;
      margin-right: 0;
    }
  }
}
