h1.reading-header__title {
  &::before {
    display: none;
  }
}

.single-front-matter,
.single-part,
.single-chapter,
.single-back-matter,
.error404,
.search-results {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  #page {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  #main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  #content {
    font-size: rem(18);
    flex-grow: 1;
    padding: 0 1rem;
    margin-bottom: 2rem;

    body:not(.has-annotator-pane) & {
      @media #{$breakpoint-large} {
        padding: 0;
      }
    }

    h1,
    h2 {
      &::before {
        display: none;
      }
    }
  }
}

.front-matter,
.part,
.chapter,
.back-matter {
  div[hidden] + h1:not(:first-of-type) {
    margin-top: 0;
  }

  h1[data-collapsed="true"] {
    margin-bottom: 0;
  }

  .post-password-form {
    margin-top: 1rem;

    p + p {
      margin-top: 1rem;
      text-indent: 0;
    }

    label {
      width: 100%;
      &::after {
        clear: both;
        content: "";
        display: block;
        width: 100%;
      }
    }

    [type="submit"] {
      margin-top: 1rem;
    }
  }
}

.part-title {
  text-align: right;
}

#content .entry-content a.call-to-action,
.edit-link .call-to-action {
  color: var(--primary);

  &:hover,
  &:focus {
    color: var(--primary-dark);
  }
}

// Navigation
.nav-reading {
  background-color: var(--primary);
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  width: 100%;
  @media #{$breakpoint-large} {
    display: flex;
    flex-direction: row;
    z-index: 1;
  }
}

.nav-reading__previous,
.nav-reading__next {
  color: var(--primary-fg);
  min-height: rem(37);

  @media #{$breakpoint-large} {
    float: left;
    width: 50%;
  }
}

.nav-reading__next {
  text-align: right;
}

.nav-reading__previous a,
.nav-reading__next a {
  border: solid 1px transparent;
  color: var(--primary-fg);
  display: block;
  font-family: $font-family-sans-serif;
  font-size: 0.875rem;
  height: 100%;
  padding: 0.5rem 1rem;

  &:focus {
    border: solid 1px var(--primary-fg);
    outline: none;
  }

  &:hover {
    background: var(--primary-dark);
  }
}

.nav-reading__previous a {
  border-bottom-color: var(--primary-dark);

  @media #{$breakpoint-large} {
    border-bottom-color: transparent;
    border-right-color: var(--primary-dark);
  }
}

.nav-reading__next a {
  border-top-color: var(--primary-dark);

  @media #{$breakpoint-large} {
    border-top-color: transparent;
    border-left-color: var(--primary-dark);
  }
}


.nav-reading__previous a svg,
.nav-reading__next a svg {
  fill: currentColor;
  height: 1em;
  vertical-align: text-bottom;
  width: 1em;
}

.nav-reading__previous a svg {
  margin-right: 0.5em;
}

.nav-reading__next a svg {
  margin-left: 0.5em;
}

.nav-reading__previous,
.nav-reading__next,
.nav-reading__up {
  z-index: 11;
}

.nav-reading__up {
  align-items: center;
  background-color: var(--primary);
  border-radius: 50%;
  color: var(--primary-fg);
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  height: 2.5rem;
  left: 50%;
  position: absolute;
  top: -3rem;
  transform: translate(-50%, 0);
  width: 2.5rem;
  padding: 0;

  &:focus {
    background-color: var(--primary);
    border: solid 1px var(--primary-fg);
  }

  &:hover {
    background-color: var(--primary-dark);
    color: var(--primary-fg);
    text-decoration: none;
  }

  &:active {
    color: var(--primary-fg);
  }

  .nav-reading--multipage & {
    @media #{$breakpoint-not-large} {
      top: -6rem;
    }
  }

  .nav-reading__up__text {
    display: none;
    font-family: $font-family-serif;
    font-size: 0.875rem;
  }

  svg {
    height: 1em;
    margin: 0;
    width: 1em;
  }
}

.nav-reading--page {
  margin-top: 2rem;
}

.nav-reading--page__previous,
.nav-reading--page__next {
  font-family: $font-family-sans-serif;
  font-size: 1rem;

  a {
    color: var(--body-color);

    &:hover {
      color: var(--primary-dark);
      text-decoration: underline;
    }

    svg {
      fill: currentColor;
      height: 1em;
      vertical-align: text-bottom;
      width: 1em;
    }
  }
}

.nav-reading--page__previous a svg {
  margin-right: 0.5em;
}

.nav-reading--page__next a svg {
  margin-left: 0.5em;
}

.button--text {
  all: inherit;
  border: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em 0;


  &:hover,
  &:active {
    border: 0;
    background: transparent;
    box-shadow: none;
    color: inherit;
  }

  &:focus {
    background: transparent;
    color: inherit;
    svg {
      outline: 2px solid;
    }
  }

  span {
    max-width: calc(100% - 1.5em);
    display: block;
    span {
      display: inline;
    }
  }

  svg {
    height: 1em;
    margin-left: 0.5em;
  }
}

[aria-expanded="true"] .vert {
  display: none;
}

.no-navigation {
  .header,
  .nav-reading,
  .footer {
    display: none;
  }

  &.single {
    #content {
      box-sizing: border-box;
      max-width: var(--reading-width);
      width: 100%;
      .edit-link {
        display: none;
      }
    }
  }
}

.mejs-container,
.mejs-embed {
  z-index: 0;
}

.block-reading-meta__subsection h2 + p {
  margin-top: 0;
}

.block-reading-meta__subsection a {
  text-decoration: underline;
}
