h1.reading-header__title {
  &::before {
    display: none;
  }
}

.single-front-matter,
.single-part,
.single-chapter,
.single-back-matter {
  #content {
    padding: 0 1rem;

    @media #{$breakpoint-large} {
      padding: 0;
    }

    h1,
    h2 {
      &::before {
        display: none;
      }
    }
  }
}

.part-title {
  text-align: right;
}
