h1.reading-header__title {
  &::before {
    display: none;
  }
}

.single-front-matter,
.single-part,
.single-chapter,
.single-back-matter {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  #page {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  #content {
    flex-grow: 1;
    padding: 0 1rem;
    margin-bottom: 2rem;

    @media #{$breakpoint-large} {
      padding: 0;
    }

    h1,
    h2 {
      &::before {
        display: none;
      }
    }
  }
}

.part-title {
  text-align: right;
}

#content .entry-content a.call-to-action,
.edit-link .call-to-action {
  color: var(--primary);

  &:hover,
  &:focus {
    color: var(--primary-dark);
  }
}
