@import "~spinkit/scss/spinners/2-double-bounce.scss";

.block-reading-meta__compare {
  margin-bottom: 2rem;
  width: 100%;

  .no-js & {
    display: none;
  }

  del,
  ins {
    margin: 0 0.1rem;
    padding: 0.2rem;
    word-break: break-word;
  }

  del {
    background: #faa;
    color: black;
    text-decoration: none;
  }

  ins {
    background: #afa;
    color: black;
    text-decoration: none;
  }

  &__activity.sk-double-bounce {
    margin-left: 0;
  }

  &__toggle[aria-expanded="true"] {
    box-shadow: inset 0 0.1rem 0 0.1rem var(--primary-dark);
    padding-top: 1rem;
    padding-bottom: 0.75rem;
  }

  &__comparison {
    margin: 2em auto;
    width: 100%;
  }

  .diff {
    font-size: 1rem;
    font-family: Inconsolata, monospace;
    margin: 2rem 0 0;
    min-width: 40rem;
    overflow: scroll;
    white-space: pre-wrap;

    tr {
      border-bottom: 0;
      display: grid;
      grid-template-columns: 48% 1fr 48%;
    }

    .diff-addedline,
    .diff-context,
    .diff-deletedline {
      background-color: #fff;
      padding: 1rem;
      vertical-align: top;
    }

    .diff-context {
      background-color: #fff;
    }

    .diff-addedline {
      background-color: #e9ffe9;
    }

    .diff-deletedline {
      background-color: #ffe9e9;
    }
  }
}
