.block-reading-meta__compare {
  margin-bottom: 2rem;
  width: 100%;
}

#diff {
  background: #fff;
  border: solid 1px #000;
  height: 24em;
  margin: 2em auto;
  overflow: scroll;
  padding: 1em;
  white-space: pre-wrap;
  width: 100%;
}
