$lightest: #fcfcfc;
$lighter: #fafafa;
$light: #eee;

.home .toc {
  margin-bottom: 4rem;
}

.toc,
.toc ol {
  font-family: $font-family-sans-serif;
  list-style-type: none;
  padding: 0;
}

.toc li + li,
.toc li ol li:first-child {
  margin-top: 0.5rem;
}

.toc__front-matter + .toc__part,
.toc__part + .toc__part,
.toc__part + .toc__back-matter {
  margin-top: 1rem;
}

.toc button {
  background: transparent;
  border: solid (2 / 16) * 1rem transparent;
  border-radius: 0;
  height: 2.25rem;
  padding: 0;
  width: 2.25rem;
  float: right;
}

.toc__title button {
  background: $lighter;
  text-align: center;
}

.toc__part > .toc__title button {
  background: $light;
}

.toc .icon--private {
  height: 1rem;
  margin: 0.1875rem;
  vertical-align: text-bottom;
  width: 1rem;
}

.toc [class*="--full"] > .toc__title > span,
.toc [class*="--empty"] > .toc__title {
  background: $lighter;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  min-height: 2.25rem;
  overflow-wrap: break-word;
}

.toc__subsections li {
  background: $lightest;
  padding: 0.25rem 0.5rem;
  display: block;
  min-height: 2.25rem;
}

.toc [class*="--full"] > .toc__title > span {
  width: calc(100% - 2.75rem);
}

.toc [class*="--full"] .toc__subsections {
  font-size: 1rem;
  margin-left: 1.25rem;
}

.toc [class*="--empty"] > .toc__title {
  width: 100%;
}

.toc__title {
  margin-bottom: 0;
}

.toc__part > .toc__title {
  font-weight: 600;
}

.toc .toc__part--full > .toc__title span,
.toc .toc__part--empty > .toc__title {
  background: $light;
}

.toc button:focus,
.toc button:hover,
.dropdown .toc button:focus,
.dropdown .toc button:hover {
  border-color: var(--primary);
  box-shadow: none;
}

.toc button:active,
.dropdown .toc button:active {
  border-color: var(--primary-dark);
}

.toc button svg {
  height: 1rem;
  margin-top: 0.5rem;
  width: 1rem;
}

.toc > li {
  padding-left: 2rem;
  padding-right: 2rem;
}

.toc__toggle {
  margin: 2rem 0 4rem;
  text-align: center;
}

.toc__toggle[aria-expanded="false"] #hide {
  display: none;
}

.toc__toggle[aria-expanded="false"] #show {
  display: inline-block;
}

.toc__toggle[aria-expanded="true"] #hide {
  display: inline-block;
}

.toc__toggle[aria-expanded="true"] #show {
  display: none;
}

.block-reading-toc {
  background: var(--body-bg);
  color: var(--body-text);
  margin-top: 0.25rem;
  padding-top: 1rem;
  width: 100%;

  .toc > li {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media #{$breakpoint-large} {
    box-shadow: 2px 3px 2px 1px hsla(0,0%,53%,.09);
    z-index: 100;
  }
}

.toc__selected .toc__title a {
  text-decoration: underline;
}
