.toc,
.toc ol {
  font-family: $font-family-sans-serif;
  list-style-type: none;
  padding: 0;
}

.toc li + li {
  margin-top: (4 / 16) * 1rem;
}

.toc ol.toc__subsections {
  padding-left: 2rem;
}

.toc button {
  background: transparent;
  border: solid (2 / 16) * 1rem transparent;
  border-radius: 0;
  height: (36 / 16) * 1rem;
  margin-left: (40 / 16) * -1rem;
  padding: 0;
  width: (36 / 16) * 1rem;
}

.toc .toc__part__title button {
  background: #eee;
}

.toc .icon--private {
  height: 1rem;
  width: 1rem;
}

.toc__title,
.toc__part--full .toc__part__title span,
.toc__part--empty .toc__part__title {
  padding: 0 0.5rem;
}

.toc__part__title {
  background: #eee;
  height: (36 / 16) * 1rem;
  margin-bottom: 0;
}

.toc button:active,
.toc button:focus {
  border-color: var(--primary);
  box-shadow: none;
}

.toc button svg {
  height: 1rem;
  margin-top: 0.5rem;
  width: 1rem;
}

.toc > li {
  padding-left: 2rem;
}
