//section-reading-toc at the bottom

.block-toc {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 6rem;

  .inner-content {
    @extend .content-max-width;
  }

  .dropdown h3 {
    font-size: 1.5rem;
    margin-bottom: 3px;
    text-transform: uppercase;
  }

  .dropdown button {
    border-bottom: 0;
    padding: 1.25rem 1rem;
    background-color: var(--body-bg-alt);

    .arrow {
      margin-top: 0.75rem;
    }

    &[aria-expanded="true"] {
      color: var(--primary-dark);
    }
  }
}

.block-toc__title {
  @media #{$breakpoint-tablet-and-up} {
    margin-bottom: 5rem;
  }
}

.toc__front-matter-list,
.toc__back-matter-list {
  font-weight: 700;

  @media #{$breakpoint-tablet-and-up} {
    font-size: 1.125rem;
  }
}

.toc__front-matter + .toc__front-matter,
.toc__back-matter + .toc__back-matter {
  margin-top: 1rem;
}

.toc__list {
  color: var(--primary);
  margin-bottom: 0;

  &,
  & ol {
    list-style: none;
    padding: 0;
  }

  li {
    font-family: $font-family-sans-serif;
    font-weight: 700;

    ol {
      padding: 1rem;

      ol {
        padding: 0;
      }
    }
  }

  //overwrite link colors of potential book theme
  a {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover,
    &:focus {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }
}

.toc__part {
  // TODO
}

.js-toc-part-toggle {
  cursor: pointer;
}

.toc__front-matter__title,
.toc__part__title,
.toc__back-matter__title {
  background-color: var(--body-bg-alt);
  text-transform: uppercase;

  @media #{$breakpoint-tablet-and-up} {
    font-size: 1.5rem;
  }

  & > .inner-content {
    display: flex;
    align-items: center;
  }
}

//overwrite general toc ul rule
ol.toc__chapters {
  padding: 1rem;
}

.toc__chapters {
  // display: none;

  .home & {
    @media #{$breakpoint-tablet-and-up} {
      column-count: 2;
      column-gap: 2rem;
    }
  }

  // .open & {
  //   display: block;
  // }

  .toc__chapter {
    //try to prevent column breaks inside
    overflow: hidden; /* fix for Firefox */
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    & + .toc__chapter {
      margin-top: 1rem;
    }

    .toc__chapter-title {
      span {
        //display: inline-block;
        //width: 2rem;
        //text-align: right;
      }
    }
  }
}

.toc__subsection {
  font-size: 1rem;
  padding: 1rem 0 0 1rem;
}

//reading
.block-reading-toc .toc__list {
  // --primary: var(--primary);
  // --primary-dark: var(--primary-dark);

  background-color: var(--body-bg);
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  width: 100vw;
  //left: 0;
  //top: 100%;
  //position: absolute;
  //z-index: 100;

  .dropdown button {
    padding: 0;
    color: var(--primary);
    border-bottom: 0;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active,
    &[aria-expanded="true"] {
      color: var(--primary-dark);
      text-decoration: underline;
    }
  }

  @media #{$breakpoint-large} {
    width: 15.5rem;
    margin-right: -1rem;
    z-index: 100;
  }

  .toc__subsection {
    font-size: 1rem;
    padding: 1rem 0 0 1rem;
  }

  li {
    padding: 0;
    margin-bottom: 3px;

    ol {
      margin-top: 3px;
      padding: 0;

      li.toc__chapter,
      li.toc__front-matter,
      li.toc__back-matter {
        background: var(--body-bg-alt);
        margin-bottom: 3px;
        padding: 1rem;
        font-size: 1rem;

        @media #{$breakpoint-tablet-and-up} {
          padding: 1.25rem 1rem;
          font-size: 1rem;
        }
      }
    }
  }

  .toc__chapter + .toc__chapter,
  .toc__front-matter + .toc__front-matter,
  .toc__back-matter + .toc__back-matter {
    margin-top: 0;
  }

  .toc__front-matter__title,
  .toc__part__title,
  .toc__back-matter__title {
    font-size: 1rem;
    margin-bottom: 0;
    padding: 1rem;
    background: var(--body-bg-alt);

    @media #{$breakpoint-tablet-and-up} {
      padding: 1.25rem 1rem;
    }
  }
}
