.toc,
.toc ol {
  font-family: $font-family-sans-serif;
  list-style-type: none;
}

.toc button {
  background: transparent;
  border: solid 2px transparent;
  border-radius: 0;
  padding: 0;
}

.toc button:active,
.toc button:focus {
  border: solid 2px var(--primary);
  box-shadow: none;
}

.toc button svg {
  height: 2rem;
  width: 2rem;
}

.toc > li {
  padding-left: 2rem;
}
