button,
input[type="submit"],
a.call-to-action {
  border-style: solid;
  border-width: $btn-border-width;
  border-radius: $btn-border-radius;
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $input-btn-line-height;
  padding: $btn-padding-y $btn-padding-x;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  // Share hover and focus styles
  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    // box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: 0.65;
    box-shadow: none;
  }

  &:active,
  &.active {
    background-image: none;
    @include btn-active-box-shadow();
  }
}

button,
input[type="submit"] {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--primary-fg);

  &:focus,
  &:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    color: var(--primary-fg);
  }
}

a.call-to-action {
  background-color: var(--primary-fg);
  border-color: var(--primary);
  color: var(--primary);

  &:focus,
  &:hover {
    background-color: var(--primary-fg);
    border-color: var(--primary-dark);
    color: var(--primary-dark);
  }
}

[class$="--accent"] .call-to-action {
  background-color: var(--accent);
  border-color: var(--accent-fg);
  color: var(--accent-fg);

  &:focus,
  &:hover {
    background-color: var(--accent-dark);
    border-color: var(--accent-fg);
    color: var(--accent-fg);
  }

  &:active,
  &.active {
    background-image: none;
    @include btn-active-box-shadow( "accent" );
  }
}

.button--secondary {
  background-color: transparent;
  border-color: var(--primary);
  color: var(--primary);

  &:focus,
  &:hover {
    border-color: var(--primary-dark);
    color: var(--primary-dark);
  }
}

.button--circle--primary {
  align-items: center;
  background-color: var(--primary);
  color: var(--primary-fg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 3.75rem;
  width: 3.75rem;

  &:focus,
  &:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    color: var(--primary-fg);
    text-decoration: none;
  }
}
