.button,
button,
input[type="submit"],
a.call-to-action {
  border-style: solid;
  border-width: $btn-border-width;
  border-radius: $btn-border-radius;
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $input-btn-line-height;
  padding: $btn-padding-y $btn-padding-x;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  // Share hover and focus styles
  &:focus,
  &.focus,
  &:hover {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: 0.65;
    box-shadow: none;
  }

  &:active,
  &.active {
    background-image: none;
    @include btn-active-box-shadow();
  }
}

.button,
button,
input[type="submit"] {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--primary-fg);

  &:focus,
  &.focus,
  &:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    color: var(--primary-fg);
  }

  &:focus,
  &.focus {
    box-shadow:
      0 0 0 $btn-border-width var(--primary-fg),
      0 0 0 (2 * $btn-border-width) var(--primary-dark);
  }

  &.button--accent {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--accent-fg);

    &:focus,
    &.focus,
    &:hover {
      background-color: var(--accent-dark);
      border-color: var(--accent-dark);
      color: var(--accent-fg);
    }

    &:focus,
    &.focus {
      box-shadow:
        0 0 0 $btn-border-width var(--accent-fg),
        0 0 0 (2 * $btn-border-width) var(--accent-dark);
    }

    &:active,
    &.active {
      background-image: none;
      @include btn-active-box-shadow( "accent" );
    }
  }
}

.call-to-action {
  background-color: var(--primary-fg);
  border-color: var(--primary);
  color: var(--primary);

  &:focus,
  &.focus,
  &:hover {
    background-color: var(--primary-fg);
    border-color: var(--primary-dark);
    color: var(--primary-dark);
  }

  &:focus,
  &.focus {
    box-shadow:
      0 0 0 $btn-border-width var(--primary-fg),
      0 0 0 (2 * $btn-border-width) var(--primary-dark);
  }

  &.call-to-action--accent {
    background-color: var(--accent-fg);
    border-color: var(--accent);
    color: var(--accent);

    &:focus,
    &.focus,
    &:hover {
      background-color: var(--accent-fg);
      border-color: var(--accent-dark);
      color: var(--accent-dark);
    }

    &:focus,
    &.focus {
      box-shadow:
        0 0 0 $btn-border-width var(--accent-fg),
        0 0 0 (2 * $btn-border-width) var(--accent-dark);
    }

    &:active,
    &.active {
      background-image: none;
      @include btn-active-box-shadow( "accent" );
    }
  }
}

[class$="--accent"] .call-to-action {
  background-color: var(--accent);
  border-color: var(--accent-fg);
  color: var(--accent-fg);

  &:focus,
  &.focus,
  &:hover {
    background-color: var(--accent-dark);
    border-color: var(--accent-fg);
    color: var(--accent-fg);
  }

  &:focus,
  &.focus {
    box-shadow:
      0 0 0 $btn-border-width var(--accent-dark),
      0 0 0 (2 * $btn-border-width) var(--accent-fg);
  }

  &:active,
  &.active {
    background-image: none;
    @include btn-active-box-shadow( "accent" );
  }
}

.button--circle {
  align-items: center;
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 50%;
  border-style: solid;
  border-width: $btn-border-width;
  color: var(--primary-fg);
  display: flex;
  justify-content: center;
  height: 3.75rem;
  width: 3.75rem;

  &:focus,
  &.focus,
  &:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    color: var(--primary-fg);
    text-decoration: none;
  }

  &:focus,
  &.focus {
    box-shadow:
    0 0 0 $btn-border-width var(--primary-fg),
    0 0 0 (2 * $btn-border-width) var(--primary-dark);
  }

  &:active,
  &.active {
    background-image: none;
    @include btn-active-box-shadow();
  }

  &--accent {
    background-color: var(--accent);
    color: var(--accent-fg);

    &:focus,
    &.focus,
    &:hover {
      background-color: var(--accent-dark);
      border-color: var(--accent-dark);
      color: var(--accent-fg);
    }

    &:focus,
    &.focus {
      box-shadow:
      0 0 0 $btn-border-width var(--accent-fg),
      0 0 0 (2 * $btn-border-width) var(--accent-dark);
    }

    &:active,
    &.active {
      @include btn-active-box-shadow( "accent" );
    }
  }
}
