@charset "UTF-8";

// @font-face {
//   font-family: 'pressbooks-theme';
//   src: url('../fonts/pressbooks-theme.woff') format('woff'),
//     url('../fonts/pressbooks-theme.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

[data-icon]::before {
  font-family: 'pressbooks-theme', sans-serif !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
}

.icon {
  display: inline-block;
  font-size: 1.875rem;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0 0.5rem;
  text-decoration: none !important;
}

.icon::before {
  font-family: 'pressbooks-theme', sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  width: 1em;
  height: 1em;
}

.icon-arrow-down::before {
  content: '\61';
}

.icon-arrow-left::before {
  content: '\78';
}

.icon-arrow-right::before {
  content: '\62';
}

.icon-arrow-up::before {
  content: '\63';
}

.icon-arrow-up-down {
  &::before {
    content: '\61';
  }

  &.--visible::before {
    content: '\63';
  }
}

.icon-book::before {
  content: '\64';
}

.icon-graph::before {
  content: '\67';
}

.icon-like::before {
  content: '\68';
}

.icon-share-books::before {
  content: '\6a';
}

.icon-speach-bubble::before {
  content: '\6b';
}

.icon-twitter::before {
  content: '\6c';
}

.icon-facebook::before {
  content: '\65';
}

.icon-search::before {
  content: '\6d';
}

.icon-cc::before {
  content: '\66';
}

.icon-cc-by::before {
  content: '\6e';
}

.icon-google-plus::before {
  content: '\6f';
}

.icon-cc-nc::before {
  content: '\69';
}

.icon-cc-share::before {
  content: '\70';
}

.icon-cc-sa::before {
  content: '\71';
}

.icon-cc-zero::before {
  content: '\72';
}

.icon-cc-pd::before {
  content: '\73';
}

.icon-cc-nd::before {
  content: '\74';
}

.icon-cc-nc-jp::before {
  content: '\75';
}

.icon-cc-nc-eu::before {
  content: '\76';
}

.icon-cc-remix::before {
  content: '\77';
}
