.block-reading-meta {
  background-color: $brand-bg-alt2;
  font-family: $font-family-sans-serif;
  padding: 2rem 1rem 4rem;

  @media #{$breakpoint-tablet-and-up} {
    padding: 2rem 1rem 2.25rem;
  }
}

.block-reading-meta__inner {
  display: flex;
  flex-wrap: wrap;
  max-width: $content-box-max-width;
  margin: 0 auto;
}

.block-reading-meta__subsection {
  flex: 1;
  min-width: 300px;
  padding-right: 2rem;
}

.block-reading-meta__subtitle {
  color: var(--primary);
}

.block-reading-meta__share {
  align-items: center;
  display: flex;

  & > :first-child {
    margin-left: 0;
  }
}
