.block-reading-meta {
  background-color: var(--body-bg-alt);
  font-family: $font-family-sans-serif;
  padding: 2rem 1rem 4rem;

  @media #{$breakpoint-tablet-and-up} {
    padding: 2rem 1rem 2.25rem;
  }

  .license-attribution {
    font-size: 1rem;

    img {
      margin-bottom: 1rem;
    }
  }
}

.block-reading-meta__inner {
  display: flex;
  flex-wrap: wrap;
  max-width: $content-box-max-width;
  margin: 0 auto;
}

.block-reading-meta__subsection {
  flex: 1;
  min-width: 300px;
  padding-right: 2rem;
}

.block-reading-meta__subtitle {
  &:before {
    display: none;
  }

  font-size: 1.25rem;
  text-align: left;
  color: var(--primary);
  margin-bottom: 1rem;
}

.block-reading-meta__share {
  align-items: center;
  display: flex;

  & > :first-child {
    margin-left: 0;
  }

  svg {
    width: 3rem;
    height: 2rem;
  }
}
