.content-max-width {
  max-width: $content-max-width;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.clearfix::after {
  display: block;
  clear: both;
  content: '';
}

@mixin debug {
  * {
    border: solid 1px silver;
  }
}
