@import 'font-stack-prince'; // Dynamically generated

$serif-prince: serif !default;
$sans-serif-prince: sans-serif !default;

// Load Shape Shifter fonts, if any. Must come after Global Typography snippet
@import 'shapeshifter-font-stack-prince';
$shapeshifter-font-1-is-serif: true !default;
$shapeshifter-font-2-is-serif: true !default;

// Insert custom fonts for your theme into the font stacks below. Always end the
// stack with $serif-prince or $sans-serif-prince, as appropriate—this allows
// custom language support to be added dynamically.

@if variable-exists(shapeshifter-font-1)  {
  $font-1: $shapeshifter-font-1, if($shapeshifter-font-1-is-serif, $serif-prince, $sans-serif-prince);
} @else {
  $font-1: 'Lora', $serif-prince;
  @import 'LoraFont';
}

@if variable-exists(shapeshifter-font-2) {
  $font-2: $shapeshifter-font-2, if($shapeshifter-font-2-is-serif, $serif-prince, $sans-serif-prince);
} @else {
  $font-2: 'Cormorant Garamond', $serif-prince;
  @import 'CormorantGaramondFont';
}

@if variable-exists(shapeshifter-font-2) {
  $font-3: $shapeshifter-font-2, if($shapeshifter-font-2-is-serif, $serif-prince, $sans-serif-prince);
} @else {
  $font-3: 'Cormorant Garamond', $serif-prince;
  @import 'CormorantGaramondFont';
}
