////
/// @group media
////

/// Bottom padding for image captions.
/// @type String | Map
/// @since 1.1.0
$image-caption-margin-top: (
  epub: 0,
  prince: 0,
  web: 0
) !default;

/// Bottom padding for image captions.
/// @type String | Map
///
$image-caption-padding-bottom: 0.5em !default;

/// Font stack for image captions.
/// @type String
$image-caption-font-family: $font-1 !default;

/// Font size for image captions.
/// @type String | Map
$image-caption-font-size: 0.8em !default;

/// Font style for image captions.
/// @type String
$image-caption-font-style: normal !default;

/// Font weight for image captions.
/// @type String
$image-caption-font-weight: normal !default;

/// Line height for image captions.
/// @type String | Map
$image-caption-line-height: (
  prince: 1.2em,
  epub: 1.2,
  web: 1.2em
) !default;

/// Text alignment for image captions.
/// @type String
$image-caption-text-align: left !default;

/// Text transform for image captions.
/// @type String
$image-caption-text-transform: none !default;

/// Top margin for image wrappers.
/// @type String | Map
$image-wrapper-margin-top: 0.5em !default;

/// Top margin for floated image wrappers
/// @type String | Map
/// @since 1.0.0
$floated-image-wrapper-margin-top: $image-wrapper-margin-top !default;

/// Bottom margin for image wrappers.
/// @type String | Map
$image-wrapper-margin-bottom: 0.5em !default;

/// Bottom margin for floated image wrappers
/// @type String | Map
/// @since 1.0.0
$floated-image-wrapper-margin-bottom: $image-wrapper-margin-bottom !default;

/// Right margin for left-aligned images.
/// @type String | Map
$image-alignleft-margin-right: 1em !default;

/// Left margin for right-aligned images.
/// @type String | Map
$image-alignright-margin-left: 1em !default;

/// Image resolution for PrinceXML PDF outputs.
/// @type String
$prince-image-resolution: auto, normal !default;

/// Image float for alignnone images (Prince only).
/// @type String
/// @since 1.0.0
$image-alignnone-image-float: none !default;

/// Caption float for alignnone images (Prince only).
/// @type String
/// @since 1.0.0
$image-alignnone-caption-float: none !default;

/// Left padding for captions on alignnone images (Prince only).
/// @type String | Map
/// @since 1.0.0
$image-alignnone-caption-left-padding: 0 !default;

/// Width for captions on alignnone images (Prince only).
/// @type String | Map
/// @since 1.0.0
$image-alignnone-caption-width: 100% !default;

/// With for wrapper on alignnone images.
/// @type String | Map
/// @since 1.0.0
$image-alignnone-wrapper-width: (
  epub: auto,
  prince: auto,
  web: auto
) !default;

/// Max width for captioned alignnone images (Prince only).
/// @type String | Map
/// @since 1.0.0
$image-alignnone-image-maxwidth: 100% !default;

/// Caption text alignment for aligncenter images.
/// @type String
/// @since 1.0.0
$image-aligncenter-caption-text-align: $image-caption-text-align !default;

/// Caption text alignment for alignleft images.
/// @type String
/// @since 1.0.0
$image-alignleft-caption-text-align: $image-caption-text-align !default;

/// Caption text alignment for alignright images.
/// @type String
/// @since 1.0.0
$image-alignright-caption-text-align: $image-caption-text-align !default;

// Secret!
$_image-caption-text-align: (
  center: $image-aligncenter-caption-text-align,
  left: $image-alignleft-caption-text-align,
  right: $image-alignright-caption-text-align
);

/// Icon image URL for generic interactive content
/// @type String | Map
/// @since 0.7.0
$interactive-icon-url: (
  prince: "pressbooks-book/assets/book/images/icon-interactive.svg",
  epub: "pressbooks-book/assets/book/images/icon-interactive.png",
  web: "pressbooks-book/assets/book/images/icon-interactive.svg"
) !default;

/// Icon image URL for audio content
/// @type String | Map
/// @since 0.7.0
$audio-icon-url: (
  prince: "pressbooks-book/assets/book/images/icon-audio.svg",
  epub: "pressbooks-book/assets/book/images/icon-audio.png",
  web: "pressbooks-book/assets/book/images/icon-audio.svg"
) !default;

/// Icon image URL for video content
/// @type String | Map
/// @since 0.7.0
$video-icon-url: (
  prince: "pressbooks-book/assets/book/images/icon-video.svg",
  epub: "pressbooks-book/assets/book/images/icon-video.png",
  web: "pressbooks-book/assets/book/images/icon-video.svg"
) !default;

/// Display property for interactive content icon
/// @type String
/// @since 0.7.0
$interactive-icon-display: block !default;

/// Float property for interactive content icon
/// @type String
/// @since 0.7.0
$interactive-icon-float: left !default;

/// Width for interactive content icon
/// @type String | Map
/// @since 0.7.0
$interactive-icon-width: 3em !default;

/// Height for interactive content icon
/// @type String | Map
/// @since 0.7.0
$interactive-icon-height: 3em !default;

/// Top margin for interactive content icon
/// @type String | Map
/// @since 0.7.0
$interactive-icon-margin-top: 0 !default;

/// Right margin for interactive content icon
/// @type String | Map
/// @since 0.7.0
$interactive-icon-margin-right: 0.5em !default;

/// Bottom margin for interactive content icon
/// @type String | Map
/// @since 0.7.0
$interactive-icon-margin-bottom: 0 !default;

/// Left margin for interactive content icon
/// @type String | Map
/// @since 0.7.0
$interactive-icon-margin-left: 0 !default;

/// Background size property for interactive content icon
/// @type String | Map
/// @since 0.7.0
$interactive-icon-background-size: (
  prince: cover,
  epub: $interactive-icon-width $interactive-icon-height,
  web: cover
) !default;

/// Line height property for interactive content box
/// @type String | Map
/// @since 1.0.0
$interactive-content-line-height: $body-line-height !default;

/// Font size property for interactive content box
/// @type String | Map
/// @since 1.0.0
$interactive-content-font-size: 0.9em !default;

/// Font style property for interactive content box
/// @type String
/// @since 1.0.0
$interactive-content-font-style: italic !default;

/// Bottom margin property for interactive content box
/// @type String | Map
/// @since 1.0.0
$interactive-content-margin-bottom: (prince: 1.5em, epub: 1em, web: 1em) !default;
