////
/// @group section-titles
////

// $section-title-block margins control the vertical spacing of the section
// title, subtitle, author and aphorism with respect to the top of the page and
// the start of the section content.

// $part-number-margin-bottom and $chapter-number-margin-bottom determine the
// spacing between the part or chapter number and the part or chapter title.

// $section-title-margin-bottom determines the spacing between the section title
// and subsequent section title elements such as subtitle, author and aphorism.

// ---------------- ---
// |              |  | $section-title-block-margin-top
// |              |  |
// |      ##      | ---
// |   xxxxxxxx   | ---
// |              |  | $section-title-block-margin-bottom
// |  xxxxxxxxxxx | ---
// | xxxxxxxxxxxx |
// | xxxxxxxxxxxx |
// | xxxxxxxxxxxx |
// | xxxxxxxxxxxx |
// ----------------

/// Defines margin between the section header and top edge of the page content area.
/// @type String | Map
/// @deprecated Use $section-header-margin-top.
$section-title-block-margin-top: (
  epub: 3em,
  prince: 3cm,
  web: 3em
) !default;

/// Defines margin between the section header and the page content.
/// @type String | Map
/// @deprecated Use $section-header-margin-bottom.
$section-title-block-margin-bottom: (
  epub: 2em,
  prince: 2cm,
  web: 2em
) !default;

/// Defines left margin for section header element.
/// @type String
/// @deprecated Use $section-header-margin-left.
$section-title-block-margin-left: 0 !default;

/// Defines right margin for section header element.
/// @type String
/// @deprecated Use $section-header-margin-right.
$section-title-block-margin-right: 0 !default;

/// Defines margin between the section header and top edge of the page content area.
/// @type String | Map
/// @since 0.3.0
$section-header-margin-top: $section-title-block-margin-top !default;

/// Defines margin between the section header and the page content.
/// @type String | Map
/// @since 0.3.0
$section-header-margin-bottom: $section-title-block-margin-bottom !default;

/// Defines left margin for section header element.
/// @type String
/// @since 0.3.0
$section-header-margin-left: $section-title-block-margin-left !default;

/// Defines right margin for section header element.
/// @type String
/// @since 0.3.0
$section-header-margin-right: $section-title-block-margin-right !default;

/// Defines margin between section title and the top of the section header.
/// @type String
$section-title-margin-top: (
  epub: 0,
  prince: 0,
  web: 0
) !default;

/// Defines spacing between section title and the bottom of the section header when the section does not have a subtitle or author.
/// @type String
$section-title-margin-bottom: (
  epub: 2em,
  prince: 1.5cm,
  web: 2em
) !default;

/// Defines spacing between section title and section subtitle, when present.
/// @type String
/// @since 0.3.0
$section-title-subtitle-spacing: $section-title-margin-bottom !default;

/// Defines spacing between section title and section author, when present.
/// @type String
/// @since 0.3.0
$section-title-author-spacing: $section-title-margin-bottom !default;

/// Defines the section title font family.
/// @type String
$section-title-font-family: $font-2 !default;

/// Defines the section title font size.
/// @type String
$section-title-font-size: (
  epub: 1.5em,
  prince: 2em,
  web: 2em
) !default;

/// Defines the section title font style.
/// @type String
$section-title-font-style: normal !default;

/// Defines the section title font weight.
/// @type String | Integer
$section-title-font-weight: normal !default;

/// Defines the section title text alignment.
/// @type String
$section-title-align: center !default;

/// Defines the section title text transform.
/// @type String
$section-title-text-transform: none !default;

/// Defines spacing between section subtitle and the bottom of the section header when the section does not have an author.
/// @type String
$section-subtitle-margin-bottom: (
  epub: 0,
  prince: 0,
  web: 0
) !default;

/// Defines spacing between section subtitle and section author, when present.
/// @type String
/// @since 0.3.0
$section-title-author-spacing: (
  epub: 0.5em,
  prince: 0.375cm,
  web: 0.5em
) !default;

/// Defines the section subtitle font family.
/// @type String
$section-subtitle-font-family: $font-2 !default;

/// Defines the section subtitle font size.
/// @type String
$section-subtitle-font-size: 1em !default;

/// Defines the section subtitle font style.
/// @type String
$section-subtitle-font-style: normal !default;

/// Defines the section subtitle font weight.
/// @type String | Integer
$section-subtitle-font-weight: normal !default;

/// Defines the section subtitle text alignment.
/// @type String
$section-subtitle-align: center !default;

/// Defines the section subtitle text transform.
/// @type String
$section-subtitle-text-transform: none !default;

/// Defines spacing between section author and the bottom border of the section header.
/// @type String
$section-author-margin-bottom: (
  epub: 0,
  prince: 0,
  web: 0
) !default;

/// Defines the section author font family.
/// @type String
$section-author-font-family: $font-2 !default;

/// Defines the section author font size.
/// @type String
$section-author-font-size: 1em !default;

/// Defines the section author font style.
/// @type String
$section-author-font-style: normal !default;

/// Defines the section author font weight.
/// @type String | Integer
$section-author-font-weight: normal !default;

/// Defines the section author text alignment.
/// @type String
$section-author-align: center !default;

/// Defines the section author text transform.
/// @type String
$section-author-text-transform: uppercase !default;

/// Defines aphorism top margin.
/// @type Map | String
$aphorism-margin-top: 0 !default;

/// Defines aphorism bottom margin.
/// @type Map | String
$aphorism-margin-bottom: 0 !default;

/// Defines aphorism font family.
/// @type String
$aphorism-font-family: $body-font-family !default;

/// Defines aphorism font size.
/// @type String
$aphorism-font-size: 0.9em;

/// Defines aphorism text alignment.
/// @type String
$aphorism-align: left !default;

/// Aphorism citation font size.
/// @type String
$aphorism-cite-font-size: 0.9em !default;

/// Content that appears before the aphorism citation. Defaults to an em dash and a non-breaking space.
/// @type String | Map
/// @since 0.3.0
$aphorism-cite-margin-left: 0 !default;

/// Content that appears before the aphorism citation. Defaults to an em dash and a non-breaking space.
/// @type String
/// @since 0.3.0
$aphorism-cite-before-content: '\2014\00a0' !default;

$part-number-display: block !default;
$part-number-margin-bottom: 1em !default;
$part-number-font-family: $font-3 !default;
$part-number-font-size:(
  epub: 1em,
  prince: 1.5em,
  web: 1em
) !default;
$part-number-font-style: normal !default;
$part-number-font-weight: normal !default;
$part-number-letter-spacing: 1px !default;
$part-number-word-spacing: 2px !default;
$part-number-align: center !default;
$part-number-text-transform: none !default;
$part-number-prefix-text-transform: uppercase !default; // The text before the part number, e.g. 'Part '

$part-title-font-family: $font-2 !default;
$part-title-font-size:(
  epub: 1.75em,
  prince: 2.5em,
  web: 2.5em
) !default;
$part-title-font-style: normal !default;
$part-title-font-weight: normal !default;
$part-title-align: center !default;
$part-title-text-transform: uppercase !default;

$front-matter-title-font-family: $section-title-font-family !default;
$front-matter-title-font-style: $section-title-font-style !default;
$front-matter-title-font-weight: $section-title-font-weight !default;
$front-matter-title-align: $section-title-align !default;
$front-matter-title-text-transform: $section-title-text-transform !default;

$toc-title-font-family: $section-title-font-family !default;
$toc-title-font-size: $section-title-font-size !default;
$toc-title-font-style: $section-title-font-style !default;
$toc-title-font-weight: $section-title-font-weight !default;
$toc-title-align: $section-title-align !default;
$toc-title-text-transform: $section-title-text-transform !default;

$chapter-number-display: block !default;
$chapter-number-margin-bottom: 1em !default;
$chapter-number-font-family: $font-3 !default;
$chapter-number-font-size:(
  epub: 1em,
  prince: 1.5em,
  web: 1em
) !default;
$chapter-number-font-style: normal !default;
$chapter-number-font-weight: normal !default;
$chapter-number-line-height: 1em !default;
$chapter-number-align: center !default;
$chapter-number-text-transform: none !default;
$chapter-number-after-content: '. ' !default;

$chapter-title-display: block !default;
$chapter-title-margin-top: $section-title-margin-top !default;
$chapter-title-margin-bottom: $section-title-margin-bottom !default;
$chapter-title-font-family: $section-title-font-family !default;
$chapter-title-font-style: $section-title-font-style !default;
$chapter-title-font-weight: $section-title-font-weight !default;
$chapter-title-align: $section-title-align !default;
$chapter-title-text-transform: $section-title-text-transform !default;

$back-matter-title-font-family: $section-title-font-family !default;
$back-matter-title-font-style: $section-title-font-style !default;
$back-matter-title-font-weight: $section-title-font-weight !default;
$back-matter-title-align: $section-title-align !default;
$back-matter-title-text-transform: $section-title-text-transform !default;
