@import 'font-stack-web'; // Dynamically generated

$serif-web: serif !default;
$sans-serif-web: sans-serif !default;

// Insert custom fonts for your theme into the font stacks below. Always end the
// stack with $serif-web or $sans-serif-web, as appropriate—this allows custom
// language support to be added dynamically.
$font-1: 'Lora', $serif-web;
$font-2: 'Cormorant Garamond', $serif-web;
$font-3: $font-2;

// Add import rules for any referenced fonts you below. You must use Google
// Fonts or an equivalent over https. For example, to import Alegreya Sans, use:
// @import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,700,700i|Lora:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
