// Section Titles

$section-title-block-margin-top: (
  epub: 3em,
  prince: 3cm,
  web: 3em
) !default;
$section-title-block-margin-bottom: (
  epub: 2em,
  prince: 2cm,
  web: 2em
) !default;
$section-title-block-margin-left: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$section-title-block-margin-right: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$section-header-margin-top: 0 !default;
$section-header-margin-bottom: (50 / 20) * 1em !default;
$section-header-margin-left: $section-title-block-margin-left !default;
$section-header-margin-right: $section-title-block-margin-right !default;
$section-title-display: block !default;
$section-title-margin-top: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$section-title-margin-bottom: 1em !default;
$section-title-margin-left: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$section-title-margin-right: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$section-title-border-bottom-width: (epub: 0, prince: 0, web: 0) !default;
$section-title-border-bottom-style: none !default;
$section-title-border-bottom-color: $color-3 !default;
$section-title-padding-bottom: (epub: 0, prince: 0, web: 0) !default;
$section-title-subtitle-spacing: $section-title-margin-bottom !default;
$section-title-author-spacing: $section-title-margin-bottom !default;
$section-title-font-family: $font-2 !default;
$section-title-font-size: (
  epub: x-large,
  prince: (24 / 9) * 1em,
  web: (24 / 9) * 1em
) !default;
$section-title-font-style: normal !default;
$section-title-font-weight: normal !default;
$section-title-align: left !default;
$section-title-text-transform: none !default;
$section-title-line-height: $h1-line-height !default;
$section-title-letter-spacing: (
  epub: normal,
  prince: normal,
  web: normal
) !default;
$section-title-word-spacing: (
  epub: normal,
  prince: normal,
  web: normal
) !default;
$section-title-decoration-font-family: $font-3 !default;
$section-title-decoration-content: "" !default;
$section-title-decoration-display: none !default;
$section-title-decoration-font-size: (epub:  0, prince: 0, web: 0) !default;
$section-title-decoration-font-weight: normal !default;
$section-title-decoration-margin-bottom: (epub:  0, prince: 0, web: 0) !default;
$section-title-decoration-margin-top: (epub:  0, prince: 0, web: 0) !default;
$section-subtitle-margin-bottom: 1em !default;
$section-subtitle-author-spacing: (
  epub: 0.5em,
  prince: 0.375cm,
  web: 0.5em
) !default;
$section-subtitle-font-family: $font-2 !default;
$section-subtitle-font-size: (
  epub: large,
  prince: (15 / 9) * 1em,
  web: (15 / 9) * 1em
) !default;
$section-subtitle-font-style: italic !default;
$section-subtitle-font-weight: normal !default;
$section-subtitle-align: left !default;
$section-subtitle-text-transform: none !default;
$section-subtitle-letter-spacing: $section-title-letter-spacing !default;
$section-subtitle-word-spacing: $section-title-word-spacing !default;
$section-author-margin-bottom: 1em !default;
$section-author-font-family: $font-2 !default;
$section-author-font-size: (
  epub: medium,
  prince: 1em,
  web: 1em
) !default;
$section-author-font-style: normal !default;
$section-author-font-weight: bold !default;
$section-author-align: left !default;
$section-author-text-transform: uppercase !default;
$section-author-letter-spacing: $section-title-letter-spacing !default;
$section-author-word-spacing: $section-title-word-spacing !default;

// Aphorism
$aphorism-block-width: (
  epub: 100%,
  prince: 100%,
  web: 100%
) !default;
$aphorism-margin-top: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$aphorism-margin-bottom: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$aphorism-margin-left: (
  epub: auto,
  prince: auto,
  web: auto
) !default;
$aphorism-margin-right: (
  epub: auto,
  prince: auto,
  web: auto
) !default;
$aphorism-font-family: $body-font-family !default;
$aphorism-font-size: (
  epub: small,
  prince: 0.9em,
  web: 0.9em
) !default;
$aphorism-font-style: italic !default;
$aphorism-font-weight: normal !default;
$aphorism-line-height: $body-line-height !default;
$aphorism-align: left !default;
$aphorism-indent: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$aphorism-cite-font-size: (
  epub: small,
  prince: 0.9em,
  web: 0.9em
) !default;
$aphorism-cite-font-style: italic !default;
$aphorism-cite-font-variant: normal !default;
$aphorism-cite-font-weight: normal !default;
$aphorism-cite-text-transform: none !default;
$aphorism-cite-align: left !default;
$aphorism-cite-margin-left: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$aphorism-cite-margin-right: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$aphorism-cite-before-content: '\2014\00a0' !default;

// Part Number
$part-number-display: inline !default;
$part-number-margin-top: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$part-number-margin-right: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$part-number-margin-bottom: 0 !default;
$part-number-margin-left: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$part-number-padding-bottom: $section-title-padding-bottom !default;
$part-number-border-bottom-width: $section-title-border-bottom-width !default;
$part-number-border-bottom-style: $section-title-border-bottom-style !default;
$part-number-border-bottom-color: $section-title-border-bottom-color !default;
$part-number-font-family: $font-3 !default;
$part-number-font-size: (
  epub: 1em,
  prince: 1.5em,
  web: 1em
) !default;
$part-number-font-style: normal !default;
$part-number-font-weight: normal !default;
$part-number-letter-spacing: 1px !default;
$part-number-word-spacing: 2px !default;
$part-number-align: center !default;
$part-number-text-transform: none !default;
$part-number-line-height: (
  epub: 1,
  prince: 1,
  web: 1
 ) !default;
$part-number-prefix-content: $part + '\00A0' !default;
$part-number-before-content: $part-number-prefix-content !default;
$part-number-prefix-text-transform: uppercase !default;
$part-number-before-content-text-transform: $part-number-prefix-text-transform !default;
$part-number-after-content: '' !default;

// Part Title

$part-title-display: $section-title-display !default;
$part-title-margin-top: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$part-title-margin-bottom: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$part-title-margin-left: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$part-title-margin-right: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$part-title-font-family: $font-2 !default;
$part-title-font-size: (
  epub: 1.75em,
  prince: 2.5em,
  web: 2.5em
) !default;
$part-title-font-style: normal !default;
$part-title-font-weight: normal !default;
$part-title-align: left !default;
$part-title-text-transform: uppercase !default;
$part-title-line-height: $h1-line-height !default;
$part-title-letter-spacing: $section-title-letter-spacing !default;
$part-title-word-spacing: $section-title-word-spacing !default;
$part-title-decoration-font-family: $section-title-decoration-font-family !default;
$part-title-decoration-content: $section-title-decoration-content !default;
$part-title-decoration-display: $section-title-decoration-display !default;
$part-title-decoration-font-size: $section-title-decoration-font-size !default;
$part-title-decoration-font-weight: $section-title-decoration-font-weight !default;
$part-title-decoration-margin-bottom: $section-title-decoration-margin-bottom !default;
$part-title-decoration-margin-top: $section-title-decoration-margin-top !default;

// Front Matter Title
$front-matter-title-display: $section-title-display !default;
$front-matter-title-margin-top: $section-title-margin-top !default;
$front-matter-title-margin-bottom: $section-title-margin-bottom !default;
$front-matter-title-margin-right: $section-title-margin-right !default;
$front-matter-title-margin-left: $section-title-margin-left !default;
$front-matter-title-letter-spacing: $section-title-letter-spacing !default;
$front-matter-title-word-spacing: $section-title-word-spacing !default;
$front-matter-title-font-family: $section-title-font-family !default;
$front-matter-title-font-size: $section-title-font-size !default;
$front-matter-title-font-style: $section-title-font-style !default;
$front-matter-title-font-weight: $section-title-font-weight !default;
$front-matter-title-align: $section-title-align !default;
$front-matter-title-text-transform: $section-title-text-transform !default;
$front-matter-title-line-height: $section-title-line-height !default;
$front-matter-title-border-bottom-style: $section-title-border-bottom-style !default;
$front-matter-title-border-bottom-width: $section-title-border-bottom-width !default;
$front-matter-title-border-bottom-color: $section-title-border-bottom-color !default;
$front-matter-title-padding-bottom: $section-title-padding-bottom !default;
$front-matter-title-decoration-font-family: $section-title-decoration-font-family !default;
$front-matter-title-decoration-content: $section-title-decoration-content !default;
$front-matter-title-decoration-display: $section-title-decoration-display !default;
$front-matter-title-decoration-font-size: $section-title-decoration-font-size !default;
$front-matter-title-decoration-font-weight: $section-title-decoration-font-weight !default;
$front-matter-title-decoration-margin-bottom: $section-title-decoration-margin-bottom !default;
$front-matter-title-decoration-margin-top: $section-title-decoration-margin-top !default;

// TOC Title
$toc-title-display: $section-title-display !default;
$toc-title-margin-top: $section-header-margin-top !default;
$toc-title-margin-bottom: $section-header-margin-bottom !default;
$toc-title-margin-right: $section-title-margin-right !default;
$toc-title-margin-left: $section-title-margin-left !default;
$toc-title-font-family: $section-title-font-family !default;
$toc-title-font-size: $section-title-font-size !default;
$toc-title-font-style: $section-title-font-style !default;
$toc-title-font-weight: $section-title-font-weight !default;
$toc-title-align: $section-title-align !default;
$toc-title-text-transform: $section-title-text-transform !default;
$toc-title-line-height: $section-title-line-height !default;
$toc-title-border-bottom-style: $section-title-border-bottom-style !default;
$toc-title-border-bottom-width: $section-title-border-bottom-width !default;
$toc-title-border-bottom-color: $section-title-border-bottom-color !default;
$toc-title-padding-bottom: $section-title-padding-bottom !default;
$toc-title-decoration-font-family: $section-title-decoration-font-family !default;
$toc-title-decoration-content: $section-title-decoration-content !default;
$toc-title-decoration-display: $section-title-decoration-display !default;
$toc-title-decoration-font-size: $section-title-decoration-font-size !default;
$toc-title-decoration-font-weight: $section-title-decoration-font-weight !default;
$toc-title-decoration-margin-bottom: $section-title-decoration-margin-bottom !default;
$toc-title-decoration-margin-top: $section-title-decoration-margin-top !default;
$toc-title-letter-spacing: $section-title-letter-spacing !default;
$toc-title-word-spacing: $section-title-word-spacing !default;

// Chapter Number
$chapter-number-display: inline !default;
$chapter-number-margin-top: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$chapter-number-margin-bottom: 0 !default;
$chapter-number-margin-right: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$chapter-number-margin-left: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$chapter-number-padding-bottom: $section-title-padding-bottom !default;
$chapter-number-border-bottom-width: $section-title-border-bottom-width !default;
$chapter-number-border-bottom-style: $section-title-border-bottom-style !default;
$chapter-number-border-bottom-color: $section-title-border-bottom-color !default;
$chapter-number-font-family: $font-3 !default;
$chapter-number-font-size: (
  epub: large,
  prince: (24 / 9) * 1em,
  web: 1em
) !default;
$chapter-number-font-style: normal !default;
$chapter-number-font-weight: normal !default;
$chapter-number-line-height: (
  epub: 1,
  prince: 1,
  web: 1
 ) !default;
$chapter-number-align: center !default;
$chapter-number-text-transform: none !default;
$chapter-number-before-content: '' !default;
$chapter-number-before-content-text-transform: none !default;
$chapter-number-after-content: '.\00A0' !default;
$chapter-number-letter-spacing: $section-title-letter-spacing !default;
$chapter-number-word-spacing: $section-title-word-spacing !default;

// Chapter Title
$chapter-title-display: inline !default;
$chapter-title-margin-top: $section-title-margin-top !default;
$chapter-title-margin-bottom: $section-title-margin-bottom !default;
$chapter-title-margin-right: $section-title-margin-right !default;
$chapter-title-margin-left: $section-title-margin-left !default;
$chapter-title-font-family: $section-title-font-family !default;
$chapter-title-font-size: $section-title-font-size !default;
$chapter-title-font-style: $section-title-font-style !default;
$chapter-title-font-weight: $section-title-font-weight !default;
$chapter-title-align: $section-title-align !default;
$chapter-title-text-transform: $section-title-text-transform !default;
$chapter-title-line-height: $section-title-line-height !default;
$chapter-title-letter-spacing: $section-title-letter-spacing !default;
$chapter-title-word-spacing: $section-title-word-spacing !default;
$chapter-title-border-bottom-width: $section-title-border-bottom-width !default;
$chapter-title-border-bottom-style: $section-title-border-bottom-style !default;
$chapter-title-border-bottom-color: $section-title-border-bottom-color !default;
$chapter-title-padding-bottom: $section-title-padding-bottom !default;
$chapter-title-decoration-font-family: $section-title-decoration-font-family !default;
$chapter-title-decoration-content: $section-title-decoration-content !default;
$chapter-title-decoration-display: $section-title-decoration-display !default;
$chapter-title-decoration-font-size: $section-title-decoration-font-size !default;
$chapter-title-decoration-font-weight: $section-title-decoration-font-weight !default;
$chapter-title-decoration-margin-bottom: $section-title-decoration-margin-bottom !default;
$chapter-title-decoration-margin-top: $section-title-decoration-margin-top !default;

// Back Matter
$back-matter-title-display: $section-title-display !default;
$back-matter-title-margin-top: $section-title-margin-top !default;
$back-matter-title-margin-bottom: $section-title-margin-bottom !default;
$back-matter-title-margin-right: $section-title-margin-right !default;
$back-matter-title-margin-left: $section-title-margin-left !default;
$back-matter-title-font-family: $section-title-font-family !default;
$back-matter-title-font-size: $section-title-font-size !default;
$back-matter-title-font-style: $section-title-font-style !default;
$back-matter-title-font-weight: $section-title-font-weight !default;
$back-matter-title-align: $section-title-align !default;
$back-matter-title-text-transform: $section-title-text-transform !default;
$back-matter-title-line-height: $section-title-line-height !default;
$back-matter-title-border-bottom-width: $section-title-border-bottom-width !default;
$back-matter-title-border-bottom-style: $section-title-border-bottom-style !default;
$back-matter-title-border-bottom-color: $section-title-border-bottom-color !default;
$back-matter-title-padding-bottom: $section-title-padding-bottom !default;
$back-matter-title-letter-spacing: $section-title-letter-spacing !default;
$back-matter-title-word-spacing: $section-title-word-spacing !default;
$back-matter-title-decoration-font-family: $section-title-decoration-font-family !default;
$back-matter-title-decoration-content: $section-title-decoration-content !default;
$back-matter-title-decoration-display: $section-title-decoration-display !default;
$back-matter-title-decoration-font-size: $section-title-decoration-font-size !default;
$back-matter-title-decoration-font-weight: $section-title-decoration-font-weight !default;
$back-matter-title-decoration-margin-bottom: $section-title-decoration-margin-bottom !default;
$back-matter-title-decoration-margin-top: $section-title-decoration-margin-top !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/section-titles';

// Add custom SCSS below these imports and includes.
@import 'components/section-titles';
