$font-family-sans-serif: 'Karla', sans-serif;
$font-family-serif:      'Spectral', serif;

$header-bg:    #000;
$header-bg:    rgba(0,16,20,0.9);
$header-color: #fff;


$border-radius: 3px;
$border-width:  2px;

$btn-padding-x: 3.25rem;
$btn-padding-y: .875rem;

