////
/// @group toc
////

@import 'generic';

@if $type != 'web' {
  #toc {
    li {
      text-align: center;
      margin-left: if-map-get($toc-center-left-gutter, $type);
      margin-right: if-map-get($toc-center-right-gutter, $type);
    }

    .toc-chapter-title {
      display: $toc-center-chapter-title-display;
      width: if-map-get($toc-center-title-width, $type);
    }

    .chapter-subtitle {
      display: $toc-center-subtitle-display;
      width: if-map-get($toc-center-title-width, $type);
    }

    .chapter-author {
      display: $toc-center-author-display;
      width: if-map-get($toc-center-title-width, $type);
    }

    .toc-subsection-title {
      display: $toc-center-subsection-display;
      width: if-map-get($toc-center-subsection-width, $type);
    }
  }
}

@if $type == 'prince' {
  #toc {
    a::after {
      display: $toc-center-page-number-display;
    }

    .part a::before {
      content: $toc-part-number-before-content $toc-part-number-content $toc-center-part-number-after-content;
      display: $toc-center-part-number-display;
    }

    .chapter a::before {
      content: $toc-chapter-number-before-content counter(chapter) $toc-center-chapter-number-after-content;
      display: $toc-center-chapter-number-display;
    }
  }
}