////
/// @group toc
////

@import 'mixins', 'toc-prince';

@if $type == 'epub' {
  // TODO
}

@else if $type == 'prince' {
  $toc-part-number-display: block !default;

  #toc {
    // General
    margin-right: $toc-center-margin-right;
    margin-left: $toc-center-margin-left;

    ul {
      margin: 0;
      text-align: center;
    }

    li {
      text-align: center;
    }

    // Parts
    .part {
      @include toc-part-title($text-align: center);
    }

    .part a::before {
      @include toc-part-number($text-align: center);
    }

    .part a::after {
      content: '';
    }

    // Front Matter
    .front-matter .toc-chapter-title {
      @include toc-front-matter-title($text-align: center);
    }

    .introduction .toc-chapter-title {
      @include toc-front-matter-title($text-align: center);
    }

    .front-matter a::after {
      @include toc-front-matter-page-number;
    }

    .introduction a::after {
      @include toc-page-number;
    }

    // Chapters

    .chapter a::before {
      @include toc-chapter-number($text-align: center);
    }

    .toc-chapter-title {
      @include toc-chapter-title($text-align: center);
    }

    .chapter-subtitle,
    .chapter-author {
      display: none;
    }

    .chapter-subtitle {
      @include toc-chapter-subtitle($text-align: center);
    }

    .chapter-author {
      @include toc-chapter-author($text-align: center);
    }

    // Back Matter

    .back-matter .toc-chapter-title {
      @include toc-back-matter-title($text-align: center);
    }
  }
}

@else if $type == 'web' {
  // TODO
}

@import 'mobi';
