////
/// @group toc
////

@import 'generic';

@if $type != 'web' {
  #toc {
    li {
      text-align: left;
    }

    .toc-chapter-title {
      display: $toc-left-chapter-title-display;
      width: if-map-get($toc-title-width, $type);
    }

    .chapter-subtitle {
      display: $toc-left-subtitle-display;
      width: if-map-get($toc-title-width, $type);
    }

    .chapter-author {
      display: $toc-left-author-display;
      width: if-map-get($toc-title-width, $type);
    }

    .front-matter,
    .part,
    .back-matter {
      margin-left: if-map-get($toc-left-left-gutter, $type);
    }

    .chapter .chapter-subtitle,
    .chapter .chapter-author,
    .chapter .sections {
      margin-left: if-map-get($toc-left-left-gutter, $type);
    }

    .toc-subsection-title {
      display: $toc-left-subsection-display;
      width: if-map-get($toc-left-subsection-width, $type);
    }
  }
}

@if $type == 'prince' {
  #toc {
    a::after {
      display: $toc-left-page-number-display;
      position: absolute;
      right: 0;
      text-align: $toc-left-page-number-align;
      top: 0;
      width: if-map-get($toc-left-right-gutter, $type);
    }

    .part a::before {
      content: $toc-part-number-before-content $toc-part-number-content $toc-left-part-number-after-content;
      display: $toc-left-part-number-display;
      text-align: $toc-left-part-number-align;
    }

    .chapter a::before {
      content: $toc-chapter-number-before-content counter(chapter) $toc-left-chapter-number-after-content;
      display: $toc-left-chapter-number-display;
      float: $toc-left-chapter-number-float; // TODO
      text-align: $toc-left-chapter-number-align; // $toc-chapter-number-align;
      width: if-map-get($toc-left-left-gutter, $type);
    }
  }
}
