////
/// @group toc
////

@import '../utilities';

// note: for TOC title "Contents" see
//~/components/section-titles/front-matter

@mixin toc-front-matter-title($text-align: left) {
  color: if-map-get($toc-front-matter-title-color, $type);
  font-family: $toc-front-matter-title-font-family;
  text-align: $text-align;
  font-size: $toc-front-matter-title-font-size;
  font-style: $toc-front-matter-title-font-style;
  font-weight: $toc-front-matter-title-font-weight;
  text-transform: $toc-front-matter-title-text-transform;
  hyphens: none;
  position: relative;
  display: block;
}

@mixin toc-front-matter-subtitle($text-align: left) {
  color: if-map-get($toc-front-matter-subtitle-color, $type);
  font-family: $toc-front-matter-subtitle-font-family;
  text-align: $text-align;
  font-size: $toc-front-matter-subtitle-font-size;
  font-style: $toc-front-matter-subtitle-font-style;
  font-weight: $toc-front-matter-subtitle-font-weight;
  text-transform: $toc-front-matter-subtitle-text-transform;
  hyphens: none;
}

@mixin toc-front-matter-author($text-align: left) {
  color: if-map-get($toc-front-matter-author-color, $type);
  font-family: $toc-front-matter-author-font-family;
  text-align: $text-align;
  font-size: $toc-front-matter-author-font-size;
  font-style: $toc-front-matter-author-font-style;
  font-weight: $toc-front-matter-author-font-weight;
  text-transform: $toc-front-matter-author-text-transform;
  hyphens: none;
}

@mixin toc-part-number($text-align: left) {
  display: $toc-part-number-display;
  color: if-map-get($toc-part-number-color, $type);
  font-family: $toc-part-number-font-family;
  text-align: $text-align;
  font-size: $toc-part-number-font-size;
  font-style: $toc-part-number-font-style;
  font-weight: $toc-part-number-font-weight;
  text-transform: $toc-part-number-text-transform;
  hyphens: none;
  content: $toc-part-number-before-content $toc-part-number-content $toc-part-number-after-content;
  counter-increment: part;
  page-break-after: avoid;
}

@mixin toc-part-title($text-align: left) {
  color: if-map-get($toc-part-title-color, $type);
  font-family: $toc-part-title-font-family;
  font-size: if-map-get($toc-part-title-font-size, $type);
  font-style: $toc-part-title-font-style;
  font-weight: $toc-part-title-font-weight;
  hyphens: none;
  page-break-after: avoid;
  text-align: $text-align;
  text-transform: $toc-part-title-text-transform;
}

@mixin toc-chapter-number($text-align: right) {
  color: if-map-get($toc-chapter-number-color, $type);
  font-family: $toc-chapter-number-font-family;
  font-size: $toc-chapter-number-font-size;
  font-style: $toc-chapter-number-font-style;
  font-weight: $toc-chapter-number-font-weight;
  text-transform: $toc-chapter-number-text-transform;
  text-align: $text-align;
  hyphens: none;
  display: $toc-chapter-number-display;
  content: $toc-chapter-number-before-content $toc-chapter-number-content $toc-chapter-number-after-content;
  counter-increment: chapter;
  page-break-after: avoid;
}

@mixin toc-chapter-title($text-align: left) {
  color: if-map-get($toc-chapter-title-color, $type);
  display: $toc-chapter-title-display;
  font-family: $toc-chapter-title-font-family;
  font-size: $toc-chapter-title-font-size;
  font-style: $toc-chapter-title-font-style;
  font-weight: $toc-chapter-title-font-weight;
  text-transform: $toc-chapter-title-text-transform;
  text-align: $text-align;
  hyphens: none;
  page-break-after: avoid;
}

@mixin toc-chapter-subtitle($text-align: left) {
  color: if-map-get($toc-chapter-subtitle-color, $type);
  font-family: $toc-chapter-subtitle-font-family;
  text-align: $text-align;
  font-size: $toc-chapter-subtitle-font-size;
  font-style: $toc-chapter-subtitle-font-style;
  font-weight: $toc-chapter-subtitle-font-weight;
  text-transform: $toc-chapter-subtitle-text-transform;
  hyphens: none;
}

@mixin toc-chapter-author($text-align: left) {
  color: if-map-get($toc-chapter-author-color, $type);
  font-family: $toc-chapter-author-font-family;
  text-align: $text-align;
  font-size: $toc-chapter-author-font-size;
  font-style: $toc-chapter-author-font-style;
  font-weight: $toc-chapter-author-font-weight;
  text-transform: $toc-chapter-author-text-transform;
  hyphens: none;
}

@mixin toc-back-matter-title($text-align: left) {
  @include toc-front-matter-title($text-align: $text-align);
}

@mixin toc-back-matter-subtitle($text-align: left) {
  @include toc-front-matter-subtitle($text-align: $text-align);
}

@mixin toc-back-matter-author($text-align: left) {
  @include toc-front-matter-author($text-align: $text-align);
}

@mixin toc-page-number {
  color: if-map-get($toc-page-number-color, $type);
  content: $toc-page-number-before-content target-counter(attr(href), page);
  display: $toc-page-number-display;
  font-family: $toc-page-number-font-family;
  font-size: $toc-page-number-font-size;
  font-style: $toc-page-number-font-style;
  font-weight: $toc-page-number-font-weight;
  text-transform: $toc-page-number-text-transform;
  text-decoration: $toc-page-number-text-decoration;
  hyphens: none;
}

@mixin toc-front-matter-page-number {
  color: if-map-get($toc-front-matter-page-number-color, $type);
  content: $toc-front-matter-page-number-before-content ;
  display: $toc-front-matter-page-number-display;
  font-family: $toc-page-number-font-family;
  font-size: $toc-front-matter-page-number-font-size;
  font-style: $toc-front-matter-page-number-font-style;
  font-weight: $toc-front-matter-page-number-font-weight;
  text-transform: $toc-front-matter-page-number-text-transform;
  hyphens: none;
}
