////
/// @group toc
////

@if $type == 'prince' {
  #toc {
    display: $toc-display;
    counter-reset: part;
    page-break-before: right;

    // General

    ul {
      counter-reset: chapter;
      line-height: $toc-base-line-height;
      list-style: none;
      padding: 0;
    }

    li {
      list-style: none;
      padding: 0;
      page-break-inside: avoid;
      position: relative;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }

    a {
      color: inherit;
      border: 0;
    }

    a::after {
      @include toc-page-number;
    }

    h3.front-matter-number,
    h3.part-number,
    h3.chapter-number,
    h3.back-matter-number {
      bookmark-level: none;
    }

    // Spacing
    .front-matter,
    .back-matter {
      margin-top: $toc-section-margin-top;
    }

    .chapter {
      margin-top: $toc-chapter-margin-top;
    }

    .front-matter + .chapter,
    .part + .chapter,
    .part + .back-matter,
    .chapter + .back-matter {
      margin-top: $toc-block-margin-top;
    }

    // Parts
    .part {
      margin-top: $toc-block-margin-top;
      page-break-after: avoid;
    }

    .part.invisible {
      display: none;
    }

    // Chapters
    .chapter.numberless a::before {
      content: '';
      counter-increment: none;
      display: none;
    }

    // Sections (Multilevel TOC)
    .sections {
      margin-top: $toc-subsection-margin-top;
    }

    .section {
      margin-top: $toc-section-margin-top;
      font-size: $toc-section-title-font-size;
      font-style: $toc-section-title-font-style;
      font-weight: $toc-section-title-font-weight;
    }

    .section a::before {
      content: '';
      counter-increment: none;
      display: none;
    }
  }
}
