$type: 'web';

@import 'partials/fonts';
@import 'partials/variables';

@import '../assets/styles/components/accessibility';
@import '../assets/styles/components/colors';
@import '../assets/styles/components/elements';
@import '../assets/styles/components/specials';
@import '../assets/styles/components/media';
@import '../assets/styles/components/pages';
@import '../assets/styles/components/section-titles';
@import '../assets/styles/components/toc/center';
@import '../assets/styles/components/toc/left';
