:root {
  --primary: #{$primary};
  --primary-dark: #{$primary-dark};
  --primary-alpha: #{$primary-alpha};
  --primary-fg: #{$primary-foreground};
  --accent: #{$accent};
  --accent-alpha: #{$accent-alpha};
  --accent-dark: #{$accent-dark};
  --accent-fg: #{$accent-foreground};
  --success: #{$success-color};
  --error: #{$error-color};
  --warning: #{$warning-color};
  --body-bg: #{$background-color};
  --body-bg-alt: #{$background-alt-color};
  --body-text: #{$text-color};
  --header-bg: #{$header-background-color};
  --header-text: #{$header-text-color};
  --footer-bg: #{$footer-background-color};
  --footer-text: #{$footer-text-color};
}
