////
/// @group section-titles
////

@import '../utilities';

@if $type != 'web' {
  .front-matter-title-wrap {
    margin: if-map-get($section-header-margin-top, $type) if-map-get($section-header-margin-right, $type) if-map-get($section-header-margin-bottom, $type) if-map-get($section-header-margin-left, $type);

    .front-matter-number {
      display: none;
    }

    .front-matter-title {
      display: block;
      margin-top: if-map-get($front-matter-title-margin-top, $type);
      margin-bottom: 0;
      padding-bottom: if-map-get($front-matter-title-padding-bottom, $type);
      font-family: $front-matter-title-font-family;
      font-size: if-map-get($front-matter-title-font-size, $type);
      font-style: $front-matter-title-font-style;
      font-weight: $front-matter-title-font-weight;
      border-bottom: $front-matter-title-border-bottom-style if-map-get($front-matter-title-border-bottom-width, $type) if-map-get($front-matter-title-border-bottom-color, $type);
      letter-spacing: if-map-get($front-matter-title-letter-spacing, $type);
      word-spacing: if-map-get($front-matter-title-word-spacing, $type);
      hyphens: none;
      @if $type == 'prince' {
        prince-bookmark-level: 1;
      }
      @if $type != 'epub' {
        line-height: if-map-get($front-matter-title-line-height, $type);
      }

      text-align: $front-matter-title-align;
      text-transform: $front-matter-title-text-transform;

      @if  $front-matter-title-decoration-content != "" or $front-matter-title-decoration-display != none {
        &::after {
          font-family: $front-matter-title-decoration-font-family;
          content: $front-matter-title-decoration-content;
          display: $front-matter-title-decoration-display;
          white-space: pre;
          font-size: if-map-get($front-matter-title-decoration-font-size, $type);
          font-weight: $front-matter-title-decoration-font-weight;
          margin-bottom: if-map-get($front-matter-title-decoration-margin-bottom, $type);
          margin-top: if-map-get($front-matter-title-decoration-margin-top, $type);
          color: if-map-get($front-matter-title-decoration-color, $type);
        }
      }
    }

    .chapter-subtitle {
      display: block;
      margin-bottom: 0;
      font-family: $section-subtitle-font-family;
      font-size: if-map-get($section-subtitle-font-size, $type);
      font-style: $section-subtitle-font-style;
      font-weight: $section-subtitle-font-weight;
      hyphens: none;
      text-align: $section-subtitle-align;
      text-transform: $section-subtitle-text-transform;
      @if $type != 'epub' {
        column-span: all;
      }

      letter-spacing: if-map-get($section-subtitle-letter-spacing, $type);
      word-spacing: if-map-get($section-subtitle-word-spacing, $type);
    }

    .chapter-author {
      display: block;
      margin-bottom: if-map-get($section-author-margin-bottom, $type);
      font-family: $section-author-font-family;
      font-size: if-map-get($section-author-font-size, $type);
      font-style: $section-author-font-style;
      font-weight: $section-author-font-weight;
      hyphens: none;
      text-align: $section-author-align;
      text-indent: if-map-get($section-author-text-indent, $type);
      text-transform: $section-author-text-transform;
      letter-spacing: if-map-get($section-author-letter-spacing, $type);
      word-spacing: if-map-get($section-author-word-spacing, $type);
    }

    .front-matter-title + .chapter-subtitle,
    .short-title + .chapter-subtitle {
      margin-top: if-map-get($section-title-subtitle-spacing, $type);
    }

    .front-matter-title + .chapter-author,
    .short-title + .chapter-author {
      margin-top: if-map-get($section-title-author-spacing, $type);
    }

    .chapter-subtitle + .chapter-author {
      margin-top: if-map-get($section-subtitle-author-spacing, $type);
    }

    .front-matter-title:last-child {
      margin-bottom: if-map-get($front-matter-title-margin-bottom, $type);
    }

    .chapter-subtitle:last-child {
      margin-bottom: if-map-get($section-subtitle-margin-bottom, $type);
    }
  }

  #toc h1 {
    display: block;
    margin: if-map-get($toc-title-margin-top, $type) if-map-get($toc-title-margin-right, $type) if-map-get($toc-title-margin-bottom, $type) if-map-get($toc-title-margin-left, $type);
    border-bottom: $toc-title-border-bottom-style if-map-get($toc-title-border-bottom-width, $type) if-map-get($toc-title-border-bottom-color, $type);
    padding-bottom: if-map-get($toc-title-padding-bottom, $type);
    font-family: $toc-title-font-family;
    font-size: if-map-get($toc-title-font-size, $type);
    font-style: $toc-title-font-style;
    font-weight: $toc-title-font-weight;
    color: if-map-get($toc-title-color, $type);
    hyphens: none;
    @if $type != 'epub' {
      line-height: $toc-title-line-height;
    }

    text-align: $toc-title-align;
    text-transform: $toc-title-text-transform;
    letter-spacing: if-map-get($toc-title-letter-spacing, $type);
    word-spacing: if-map-get($toc-title-word-spacing, $type);

    @if  $toc-title-decoration-content != "" or $toc-title-decoration-display != none {
      &::after {
        font-family: $toc-title-decoration-font-family;
        content: $toc-title-decoration-content;
        display: $toc-title-decoration-display;
        white-space: pre;
        font-size: if-map-get($toc-title-decoration-font-size, $type);
        font-weight: $toc-title-decoration-font-weight;
        margin-bottom: if-map-get($toc-title-decoration-margin-bottom, $type);
        margin-top: if-map-get($toc-title-decoration-margin-top, $type);
      }
    }
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    .front-matter-title {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.4em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }
  }
}
