////
/// @group section-titles
////

@import '../utilities';

// --- PARTS --- //

@if $type != 'web' {
  .part-title-wrap {
    margin: if-map-get($section-header-margin-top, $type) if-map-get($section-header-margin-right, $type) if-map-get($section-header-margin-bottom, $type) if-map-get($section-header-margin-left, $type);

    .part-number {
      border-bottom: $part-number-border-bottom-style if-map-get($part-number-border-bottom-width, $type) if-map-get($part-number-border-bottom-color, $type);
      display: $part-number-display;
      margin: if-map-get($part-number-margin-top, $type) if-map-get($part-number-margin-right, $type) if-map-get($part-number-margin-bottom, $type) if-map-get($part-number-margin-left, $type);
      padding-bottom: if-map-get($part-number-padding-bottom, $type);
      font-family: $part-number-font-family;
      font-size: if-map-get($part-number-font-size, $type);
      font-style: $part-number-font-style;
      font-weight: $part-number-font-weight;
      letter-spacing: $part-number-letter-spacing;
      word-spacing: $part-number-word-spacing;
      text-align: $part-number-align;
      text-transform: $part-number-text-transform;
      page-break-after: avoid;

      &::before {
        text-transform: $part-number-before-content-text-transform;
        content: $part-number-before-content;
      }

      &::after {
        content: $part-number-after-content;
      }
    }

    .part-title {
      margin: if-map-get($part-title-margin-top, $type) if-map-get($part-title-margin-right, $type) if-map-get($part-title-margin-bottom, $type) if-map-get($part-title-margin-left, $type);
      font-family: $part-title-font-family;
      font-size: if-map-get($part-title-font-size, $type);
      font-style: $part-title-font-style;
      font-weight: $part-title-font-weight;
      hyphens: none;
      @if $type != 'epub' {
        line-height: if-map-get($part-title-line-height, $type);
      }
      text-align: $part-title-align;
      text-transform: $part-title-text-transform;
      page-break-after: avoid;
      letter-spacing: if-map-get($part-title-letter-spacing, $type);
      word-spacing: if-map-get($part-title-word-spacing, $type);
      border-bottom: if-map-get($part-title-border-bottom-width, $type) $part-title-border-bottom-style if-map-get($part-title-border-bottom-color, $type);

      &::after {
        font-family: $part-title-decoration-font-family;
        content: $part-title-decoration-content;
        display: $part-title-decoration-display;
        white-space: pre;
        font-size: if-map-get($part-title-decoration-font-size, $type);
        font-weight: $part-title-decoration-font-weight;
        margin-bottom: if-map-get($part-title-decoration-margin-bottom, $type);
        margin-top: if-map-get($part-title-decoration-margin-top, $type);
        color: $part-title-decoration-color;
      }
    }
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    h3.part-number {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.3em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }

    h1.part-title {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.4em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }
  }
}
