////
/// @group section-titles
////

@import '../utilities';

// --- PARTS --- //

@if $type != 'web' {
  .part-title-wrap {
    margin: if-map-get($section-header-margin-top, $type) if-map-get($section-header-margin-right, $type) if-map-get($section-header-margin-bottom, $type) if-map-get($section-header-margin-left, $type);

    .part-number {
      display: $part-number-display;
      margin-top: if-map-get($part-number-margin-top, $type);
      margin-bottom: if-map-get($part-number-margin-bottom, $type);
      font-family: $part-number-font-family;
      font-size: if-map-get($part-number-font-size, $type);
      font-style: $part-number-font-style;
      font-weight: $part-number-font-weight;
      letter-spacing: $part-number-letter-spacing;
      word-spacing: $part-number-word-spacing;
      text-align: $part-number-align;
      text-transform: $part-number-text-transform;
      page-break-after: avoid;

      &::before {
        text-transform: $part-number-before-content-text-transform;
        content: $part-number-before-content;
      }
    }

    .part-title {
      margin-top: if-map-get($part-title-margin-top, $type);
      margin-bottom: if-map-get($part-title-margin-bottom, $type);
      font-family: $part-title-font-family;
      font-size: if-map-get($part-title-font-size, $type);
      font-style: $part-title-font-style;
      font-weight: $part-title-font-weight;
      hyphens: none;
      text-align: $part-title-align;
      text-transform: $part-title-text-transform;
      page-break-after: avoid;
    }
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    h3.part-number {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.3em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }

    h1.part-title {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.4em;
      font-style: normal;
      font-weight: normal;
      text-align: center;
    }
  }
}
