////
/// @group media
////

@mixin caption-text-align($align) {
  figcaption,
  .wp-caption-text {
    text-align: map-get($image-caption-text-align-map, $align);
  }
}

p {
  img {
    &.aligncenter {
      margin: if-map-get($image-wrapper-margin-top, $type) auto if-map-get($image-wrapper-margin-bottom, $type);
      text-align: center;
      display: block;

      @include caption-text-align(center);
    }

    &.alignleft {
      float: left;
      margin: if-map-get($image-wrapper-margin-top, $type) if-map-get($image-alignleft-margin-right, $type) if-map-get($floated-image-wrapper-margin-bottom, $type) 0;
      padding-right: 0;

      @include caption-text-align(left);
    }

    &.alignright {
      float: right;
      margin: if-map-get($image-wrapper-margin-top, $type) 0 if-map-get($floated-image-wrapper-margin-bottom, $type) if-map-get($image-alignright-margin-left, $type);
      padding-left: 0;

      @include caption-text-align(right);
    }

    @if $type != 'web' {
      &.alignleft, &.alignright {
        max-width: 50%;
      }
    }
  }
}

@if $type == 'epub' {
  figcaption,
  .wp-caption-text {
    font-family: $image-caption-font-family;
    font-size: if-map-get($image-caption-font-size, $type);
    font-style: $image-caption-font-style;
    font-weight: $image-caption-font-weight;
    hyphens: none;
    padding-bottom: if-map-get($image-caption-padding-bottom, $type);
    margin-top: if-map-get($image-caption-margin-top, $type);
    text-align: $image-caption-text-align;
    text-transform: $image-caption-text-transform;
    text-indent: if-map-get($image-caption-text-indent, $type);
    color: if-map-get($image-caption-text-color, $type);
  }

  img {
    display: inline-block;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    page-break-inside: avoid !important;
  }

  img.mathjax {
    vertical-align: middle;
    border: none;
    background: none;
  }

  .wp-caption,
  .wp-nocaption {
    height: auto;
    max-width: 100%;
    page-break-inside: avoid !important;

    &.alignnone {
      margin: if-map-get($image-wrapper-margin-top, $type) 0 if-map-get($image-wrapper-margin-bottom, $type);
      text-align: left;
      width: auto;

      @include caption-text-align(left);
    }

    &.aligncenter {
      margin: if-map-get($image-wrapper-margin-top, $type) auto if-map-get($image-wrapper-margin-bottom, $type);
      text-align: center;
      width: auto;

      @include caption-text-align(center);

      img {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }

    &.alignright {
      float: right;
      margin: if-map-get($image-wrapper-margin-top, $type) 0 if-map-get($floated-image-wrapper-margin-bottom, $type) if-map-get($image-alignright-margin-left, $type);
      max-width: 50%;
      padding-left: 0;
      width: 50% !important;

      @include caption-text-align(right);

      img {
        width: 100%
      }
    }

    &.alignleft {
      float: left;
      margin: if-map-get($image-wrapper-margin-top, $type) if-map-get($image-alignleft-margin-right, $type) if-map-get($floated-image-wrapper-margin-bottom, $type) 0;
      max-width: 50%;
      padding-right: 0;
      width: 50% !important;

      @include caption-text-align(left);

      img {
        width: 100%
      }
    }
  }

  .wp-caption.alignnone {
    img {
      float: none;
      margin-right: 0;
      max-width: 100% !important;
    }

    figcaption,
    .wp-caption-text {
      box-sizing: border-box;
      float: none;
      padding-left: 0;
      width: 100% !important;
    }

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
} @else if $type == 'prince' {
  figcaption,
  .wp-caption-text {
    font-family: $image-caption-font-family;
    font-size: if-map-get($image-caption-font-size, $type);
    font-style: $image-caption-font-style;
    font-weight: $image-caption-font-weight;
    hyphens: none;
    line-height: if-map-get($image-caption-line-height, $type);
    margin-top: if-map-get($image-caption-margin-top, $type);
    padding-bottom: if-map-get($image-caption-padding-bottom, $type);
    text-align: $image-caption-text-align;
    text-transform: $image-caption-text-transform;
    text-indent: if-map-get($image-caption-text-indent, $type);
    color: if-map-get($image-caption-text-color, $type);
  }

  img {
    display: inline-block;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    page-break-inside: avoid !important;
    prince-image-resolution: $prince-image-resolution;
  }

  img.mathjax {
    vertical-align: middle;
    border: none;
    background: none;
  }

  .wp-caption,
  .wp-nocaption {
    height: auto;
    max-width: 100%;
    page-break-inside: avoid;
    text-align: center;

    &.alignnone {
      padding-left: 0;
      margin: if-map-get($image-wrapper-margin-top, $type) 0 if-map-get($image-wrapper-margin-bottom, $type);
      text-align: left;
      width: if-map-get($image-alignnone-wrapper-width, $type) !important;

      @include caption-text-align(left);
    }

    &.aligncenter {
      margin: if-map-get($image-wrapper-margin-top, $type) auto if-map-get($image-wrapper-margin-bottom, $type);
      text-align: center;

      @include caption-text-align(center);

      img {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &.alignleft {
      float: left;
      margin: if-map-get($image-wrapper-margin-top, $type) if-map-get($image-alignleft-margin-right, $type) if-map-get($floated-image-wrapper-margin-bottom, $type) 0;
      max-width: 50%;

      @include caption-text-align(left);
    }

    &.alignright {
      float: right;
      margin: if-map-get($image-wrapper-margin-top, $type) 0 if-map-get($floated-image-wrapper-margin-bottom, $type) if-map-get($image-alignright-margin-left, $type);
      max-width: 50%;
      padding-right: 0;

      @include caption-text-align(right);
    }
  }

  .wp-caption.alignnone {
    img {
      float: $image-alignnone-image-float;
      margin-right: 0;
      max-width: if-map-get($image-alignnone-image-maxwidth, $type) !important;
    }

    figcaption,
    .wp-caption-text {
      box-sizing: border-box;
      float: $image-alignnone-caption-float;
      padding-left: if-map-get($image-alignnone-caption-left-padding, $type);
      width: if-map-get($image-alignnone-caption-width, $type) !important;
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }
  }
} @else if $type == 'web' {
  .front-matter,
  .part,
  .chapter,
  .back-matter {
    .wp-caption figcaption,
    .wp-caption .wp-caption-text {
      font-family: $image-caption-font-family;
      font-size: if-map-get($image-caption-font-size, $type);
      font-style: $image-caption-font-style;
      font-weight: $image-caption-font-weight;
      hyphens: none;
      line-height: if-map-get($image-caption-line-height, $type);
      padding-bottom: if-map-get($image-caption-padding-bottom, $type);
      margin-top: if-map-get($image-caption-margin-top, $type);
      text-align: $image-caption-text-align;
      text-transform: $image-caption-text-transform;
      text-indent: if-map-get($image-caption-text-indent, $type);
      color: if-map-get($image-caption-text-color, $type);
    }

    img {
      display: inline-block;
      height: auto;
      margin: 0;
      max-width: 100%;
      padding: 0;
      page-break-inside: avoid !important;
    }

    img.mathjax {
      vertical-align: middle;
      border: none;
      background: none;
    }

    .wp-caption,
    .wp-nocaption {
      height: auto;
      max-width: 100%;
      page-break-inside: avoid;
      text-align: center;

      &.alignnone {
        padding-left: 0;
        margin: if-map-get($image-wrapper-margin-top, $type) 0 if-map-get($image-wrapper-margin-bottom, $type);
        text-align: left;
        width: if-map-get($image-alignnone-wrapper-width, $type) !important;

        @include caption-text-align(left);
      }

      &.aligncenter {
        margin: if-map-get($image-wrapper-margin-top, $type) auto if-map-get($image-wrapper-margin-bottom, $type);
        text-align: center;

        @include caption-text-align(center);

        img {
          margin-right: auto;
          margin-left: auto;
        }
      }

      &.alignleft {
        float: left;
        margin: if-map-get($image-wrapper-margin-top, $type) if-map-get($image-alignleft-margin-right, $type) if-map-get($floated-image-wrapper-margin-bottom, $type) 0;
        max-width: 50%;

        @include caption-text-align(left);
      }

      &.alignright {
        float: right;
        margin: if-map-get($image-wrapper-margin-top, $type) 0 if-map-get($floated-image-wrapper-margin-bottom, $type) if-map-get($image-alignright-margin-left, $type);
        max-width: 50%;
        padding-right: 0;

        @include caption-text-align(right);
      }
    }
  }
}
