////
/// @group media
////

%img {
  display: inline-block;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  page-break-inside: avoid;
}

%caption {
  font-family: $image-caption-font-family;
  font-size: if-map-get($image-caption-font-size, $type);
  font-style: $image-caption-font-style;
  font-weight: $image-caption-font-weight;
  hyphens: none;
  line-height: if-map-get($image-caption-line-height, $type);
  padding-bottom: if-map-get($image-caption-padding-bottom, $type);
  text-align: $image-caption-text-align;
  text-transform: $image-caption-text-transform;
}

@mixin caption-text-align($align) {
  figcaption,
  .wp-caption-text {
    text-align: map-get($_image-caption-text-align, $align);
  }
}

%image-wrapper {
  height: auto;
  max-width: 100%;
  page-break-inside: avoid;
}

%image-wrapper-float {
  max-width: 50%;
  width: 50% !important;

  img {
    width: 100%;
  }
}

%image-wrapper-center {
  margin: if-map-get($image-wrapper-margin-top, $type) auto if-map-get($image-wrapper-margin-bottom, $type);
  text-align: center;

  @include caption-text-align(center);
}

%image-wrapper-alignnone {
  margin: if-map-get($image-wrapper-margin-top, $type) 0 if-map-get($image-wrapper-margin-bottom, $type);
  width: 100% !important;
}

%image-wrapper-alignnone-captioned {
  img {
    float: $image-alignnone-image-float;
    margin-right: 0;
    max-width: if-map-get($image-alignnone-image-maxwidth, $type) !important;
  }

  figcaption,
  .wp-caption-text {
    box-sizing: border-box;
    float: $image-alignnone-caption-float;
    padding-left: if-map-get($image-alignnone-caption-left-padding, $type);
    width: if-map-get($image-alignnone-caption-width, $type) !important;
  }

  &:after {
      content: "";
      display: table;
      clear: both;
  }
}

@if $type != 'web' {
  img {
    @extend %img;
    @if $type == 'prince' {
      prince-image-resolution: $prince-image-resolution;
    }
  }

  figcaption,
  .wp-caption-text {
    @extend %caption;
  }

  .wp-caption,
  .wp-nocaption {
    @extend %image-wrapper;
  }

  .wp-caption.alignleft,
  .wp-nocaption.alignleft {
    @extend %image-wrapper-float;
    float: left;
    margin: if-map-get($floated-image-wrapper-margin-top, $type) if-map-get($image-alignleft-margin-right, $type) if-map-get($floated-image-wrapper-margin-bottom, $type) 0;
    padding-left: 0;

    @include caption-text-align(left);
  }

  .wp-caption.alignright,
  .wp-nocaption.alignright {
    @extend %image-wrapper-float;
    float: right;
    margin: if-map-get($floated-image-wrapper-margin-top, $type) 0 if-map-get($floated-image-wrapper-margin-bottom, $type) if-map-get($image-alignright-margin-left, $type);
    padding-right: 0;

    @include caption-text-align(right);
  }

  .wp-caption.aligncenter {
    @extend %image-wrapper-center;
  }

  .wp-nocaption.aligncenter {
    @extend %image-wrapper-center;
    width: 100% !important;
  }

  .wp-caption.alignnone {
    @extend %image-wrapper-alignnone;

    @if $type == 'prince' {
      @extend %image-wrapper-alignnone-captioned;
    }
  }

  .wp-nocaption.alignnone {
    @extend %image-wrapper-alignnone;
  }
}

@if $type == 'web' {
  .front-matter,
  .part,
  .chapter,
  .back-matter {
    img {
      @extend %img;
    }

    figcaption,
    .wp-caption-text {
      @extend %caption;
    }

    .wp-caption,
    .wp-nocaption {
      @extend %image-wrapper;
    }

    .wp-caption.alignleft,
    .wp-nocaption.alignleft {
      @extend %image-wrapper-float;
      float: left;
      margin: if-map-get($floated-image-wrapper-margin-top, $type) if-map-get($image-alignleft-margin-right, $type) if-map-get($floated-image-wrapper-margin-bottom, $type) 0;
      padding-left: 0;

      @include caption-text-align(left);
    }

    .wp-caption.alignright,
    .wp-nocaption.alignright {
      @extend %image-wrapper-float;
      float: right;
      margin: if-map-get($floated-image-wrapper-margin-top, $type) 0 if-map-get($floated-image-wrapper-margin-bottom, $type) if-map-get($image-alignright-margin-left, $type);
      padding-right: 0;

      @include caption-text-align(right);
    }

    .wp-caption.aligncenter {
      @extend %image-wrapper-center;
    }

    .wp-nocaption-aligncenter {
      @extend %image-wrapper-center;
      width: 100% !important;
    }

    .wp-caption.alignnone {
      @extend %image-wrapper-alignnone;
      @extend %image-wrapper-alignnone-captioned;
    }

    .wp-nocaption.alignnone {
      @extend %image-wrapper-alignnone;
    }
  }
}

@if $type == 'epub' {
  @media amzn-mobi {
    .wp-caption {
      text-align: center;
    }

    .wp-nocaption {
      text-align: center;
    }

    p.wp-caption-text {
      font-size: 0.8em !important;
      font-style: italic !important;
      margin-bottom: 1em !important;
      text-align: center !important;
    }
  }

  @media amzn-kf8 {
    div.wp-caption,
    div.wp-nocaption {
      height: auto !important;
      width: auto !important;
      margin-left: auto !important;
      margin-right: auto !important;
      text-align: center !important;
      page-break-inside: avoid !important;
    }

    div.wp-caption img,
    div.wp-nocaption img {
      width: auto;
      page-break-inside: avoid !important;
    }
  }
}
