////
/// @group media
////

@import '../utilities';

.interactive-content {

  @if $type != 'epub' {
    line-height: if-map-get($interactive-content-line-height, $type);
  }

  margin-bottom: if-map-get($interactive-content-margin-bottom, $type);
  padding: if-map-get($interactive-content-padding-top, $type) if-map-get($interactive-content-padding-right, $type) if-map-get($interactive-content-padding-bottom, $type) if-map-get($interactive-content-padding-left, $type);

  &__icon {
    display: $interactive-icon-display;
    float: $interactive-icon-float;
    width: if-map-get($interactive-icon-width, $type);
    height: if-map-get($interactive-icon-height, $type);
    margin:
      if-map-get($interactive-icon-margin-top, $type)
      if-map-get($interactive-icon-margin-right, $type)
      if-map-get($interactive-icon-margin-bottom, $type)
      if-map-get($interactive-icon-margin-left, $type);
    background-image: url('#{if-map-get($interactive-icon-url, $type)}');
    background-repeat: no-repeat;
    background-size: if-map-get($interactive-icon-background-size, $type);
  }

  img {
    display: block;
    margin-bottom: if-map-get($interactive-thumbnail-margin-bottom, $type);
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: if-map-get($interactive-content-font-size, $type);
    font-style: $interactive-content-font-style;
    font-family: $interactive-content-font-family;
    font-weight: $interactive-content-font-weight;
    margin-bottom: 0;
    text-indent: if-map-get($interactive-content-text-indent, $type);
    text-align: if-map-get($interactive-content-text-align, $type);
  }
}

.embed div.figcaption {
  text-align: if-map-get($media-caption-align, $type);
}

@if $type == 'web' {
  iframe {
    display: block;
    margin: 0 auto if-map-get($interactive-content-margin-bottom, $type);
  }

  .embed figcaption {
    text-align: if-map-get($media-caption-align, $type);
  }
}
