////
/// @group colors
////

@import 'utilities';

// STANDARD TEXT COLORS
@if $type == 'prince' {
  a {
    color: if-map-get($link-color, $type);
  }

  .print a {
    color: $link-color-print;
  }
}

@if $type != 'web' {
  body,
  .entry-content {
    color: if-map-get($body-color, $type);
  }

  blockquote {
    color: if-map-get($blockquote-color, $type);
  }

  // BODY HEADER COLOR

  h1 {
    color: if-map-get($h1-color, $type);
  }

  h2 {
    color: if-map-get($h2-color, $type);
  }

  h3 {
    color: if-map-get($h3-color, $type);
  }

  h4 {
    color: if-map-get($h4-color, $type);
  }

  h5 {
    color: if-map-get($h5-color, $type);
  }

  h6 {
    color: if-map-get($h6-color, $type);
  }

  // TABLE COLOR
  table {
    color: if-map-get($table-color, $type);
  }

  table p {
    color: if-map-get($table-para-color, $type);
  }
} @else {
.front-matter,
.part,
.chapter,
.back-matter {
  color: if-map-get($body-color, $type);

  a {
    color: if-map-get($link-color, $type);
  }

  blockquote {
    color: if-map-get($blockquote-color, $type);
  }

  // BODY HEADER COLOR

  h1 {
    color: if-map-get($h1-color, $type);
  }

  h2 {
    color: if-map-get($h2-color, $type);
  }

  h3 {
    color: if-map-get($h3-color, $type);
  }

  h4 {
    color: if-map-get($h4-color, $type);
  }

  h5 {
    color: if-map-get($h5-color, $type);
  }

  h6 {
    color: if-map-get($h6-color, $type);
  }

  // TABLE COLOR
  table {
    color: if-map-get($table-color, $type);
  }

  table p {
    color: if-map-get($table-para-color, $type);
  }
}
}

// IMAGE CAPTIONS COLOR
p.wp-caption-text {
  color: if-map-get($image-caption-text-color, $type);
}

// INDEX COLOR
.index .ugc,
.index .ugc p {
  color: if-map-get($index-para-color, $type);
}

// TITLE PAGE(S) COLOR
#half-title-page > .title {
  color: if-map-get($half-title-title-color, $type);
}

#title-page > .title {
  color: if-map-get($title-page-title-color, $type);
}

#title-page > .subtitle {
  color: if-map-get($title-page-subtitle-color, $type);
}

#title-page > .author {
  color: if-map-get($title-page-author-color, $type);
}

#title-page > .publisher {
  color: if-map-get($title-page-publisher-color, $type);
}

#title-page > .publisher-city {
  color: if-map-get($title-page-publisher-city-color, $type);
}

// FRONT MATTER COLOR
.front-matter-title {
  color: if-map-get($front-matter-title-color, $type);
}

#copyright-page .ugc p {
  color: if-map-get($copyright-para-color, $type);
}

.dedication p {
  color: if-map-get($dedication-para-color, $type);
}

.epigraph p {
  color: if-map-get($epigraph-para-color, $type);
}

// PART TITLE COLOR
.part-number {
  color: if-map-get($part-number-color, $type);
}

.part-title {
  color: if-map-get($part-title-color, $type);
}

// CHAPTER TITLE COLOR
.chapter-number,
.entry-title span {
  color: if-map-get($chapter-number-color, $type);
}

.chapter-title {
  color: if-map-get($chapter-title-color, $type);
}

.chapter-subtitle {
  color: if-map-get($chapter-subtitle-color, $type);
}

.chapter-author {
  color: if-map-get($chapter-author-color, $type);
}

.aphorism {
  color: if-map-get($chapter-aphorism-color, $type);
}

// BACK MATTER TITLE COLOR
.back-matter-title {
  color: if-map-get($back-matter-title-color, $type);
}

// DROPCAPS COLOR
.firstcharacter,
.first-character {
  color: if-map-get($first-character-color, $type);
}

// PULLQUOTES COLOR
.pullquote,
.pullquote-left,
.pullquote--left,
.pullquote-right,
.pullquote--right,
.pullquote-outside,
.pullquote--outside,
.pullquote-inside,
.pullquote--inside {
  color: if-map-get($pullquote-color, $type);
}

// SIDEBARS, TEXTBOXES COLOR
div.sidebar {
  background-color: if-map-get($sidebar-color, $type);
}

.textbox,
.bcc-box {
  background-color: if-map-get($textbox-background-color, $type);
  border-color: if-map-get($textbox-border-color, $type);
}

.textbox.shaded,
.bcc-box.shaded {
  background-color: if-map-get($textbox-shaded-background-color, $type);
}

// SHADED COLOR
.shaded {
  background-color: if-map-get($shaded-color, $type);
}
