.book-header {
  --brand: var(--header-color);
  --brand-hover: var(--header-color);
  --brand-accent: var(--header-color);

  background-color: var(--header-bg);
  color: var(--header-color);
  padding: 1.5rem 1rem 7.5rem;

  @media #{$breakpoint-large} {
    padding: 3.5rem 1rem 7.5rem;
  }
}

.book-header__inner {
  display: flex;
  flex-direction: column;
  //align-items: center;
  margin: 0 auto;
  max-width: $content-max-width;
  min-height: 560px;
  position: relative;

  @media #{$breakpoint-tablet-and-up} {
    //align-items: flex-start;
    & > * {
      max-width: 55%;
    }
  }
}

.book-header__title {
  font-size: $h3-font-size;
  text-align: left;
  text-transform: none;

  &::before {
    margin-left: 0;
    margin-bottom: 1.125rem;
  }
}

.book-header__subtitle {
  font-family: $font-family-serif;
  font-size: 1.5rem;
}

.book-header__author {
  font-family: $font-family-sans-serif;
  margin-bottom: 1rem;

  @media #{$breakpoint-large} {
    margin-bottom: 2.25rem;
  }
}

.book-header__cover {
  align-self: center;
  margin-bottom: 1.5rem;

  //second column for tablet and up (cover image, downloads and share icons[only for tablet])
  @media #{$breakpoint-tablet-and-up} {
    align-self: unset;
    position: absolute;
    right: 0;
    top: 0;

    .book-header__inner > & {
      max-width: 38%;
    }
  }
}

.book-header__cover__image {
  img {
    object-fit: contain;
    margin-bottom: 1.5rem;
    max-width: 100%;
    max-height: 500px;
  }
}

.book-header__cover__downloads {
  border-bottom: 3px solid var(--header-color);
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    height: 3rem;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--header-color);

    a {
      color: var(--cover-header-bg);
    }

    &:hover {
      background-color: #fafdff;
    }
  }

  .dropdown-menu {
    border-color: var(--header-color);
  }
}
//nested selector to overwrite general display rule from .book-header__share
.book-header__share.book-header__cover__share {
  display: none;

  @media #{$breakpoint-tablet-to-large} {
    display: block;
  }
}

.book-header__description {
  font-family: $font-family-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;

  a {
    text-decoration: underline;
  }
}

.book-header__license {
  align-self: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2.375rem;

  @media #{$breakpoint-tablet-and-up} {
    align-self: unset;
    justify-content: flex-start;
  }
}

.book-header__license__text {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;

  @media #{$breakpoint-tablet-and-up} {
    text-align: left;
  }
}

.book-header__cta {
  align-items: center;
  align-self: center;
  display: flex;
  flex-flow: column wrap;

  @media #{$breakpoint-tablet-and-up} {
    align-items: flex-start;
    align-self: unset;
    flex-direction: row;
  }

  .button {
    margin-bottom: 0.875rem;
    min-width: 15rem;

    @media #{$breakpoint-tablet-and-up} {
      margin-right: 1.375rem;
    }
  }
}

.book-header__share {
  align-items: center;
  align-self: center;
  display: flex;
  margin-top: 1rem;

  @media #{$breakpoint-tablet-to-large} {
    display: none;
  }

  @media #{$breakpoint-tablet-and-up} {
    align-items: flex-start;
    align-self: unset;

    & > :first-child {
      margin-left: 0;
    }
  }

  a {
    cursor: pointer;
  }
}

.license-icons {
  display: flex;
  align-items: center;

  & > .icon:first-child {
    margin-left: 0;
  }

  & > .icon:last-child {
    margin-right: 1rem;
  }
}

.license-text {
  font-family: $font-family-sans-serif;
  font-weight: bold;
}
