.section-info{
	box-shadow: $section-shadow;
	font-size: 1.125rem;
	padding-left: 0;
	padding-right: 0;

	@media #{$breakpoint-large} {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
	.section-info__inner{
		max-width: $content-max-width;
		margin: 0 auto;

		//two column as of large 960px
		@media #{$breakpoint-large} {
			display: flex;
		}
	}
	.section-info__inner__content{

		@media #{$breakpoint-large} {
			flex: 1 1 0;

			&:last-child {
				margin-left: 7rem;
			}
		}
	}
	.section-info__title{
		margin-bottom: 1.5rem;
		@media #{$breakpoint-tablet-and-up} {
			margin-bottom: 3rem;
		}
	}
	.section-info__description{
		font-family: $font-family-serif;
		font-size: 1.125rem;
	}


	.section-info__subsection{
		padding-left: 1rem;
		padding-right: 1rem;

		@media #{$breakpoint-large} {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.section-info__description{

	}
	.section-info__lead-author,
	.section-info__contributing-authors,
	.section-info__license,
	.section-info__subject{
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid #ECECEC;

		&:last-child{
			@media #{$breakpoint-small-to-tablet} {
				border-bottom:0 none;
			}
		}
	}
	.section-info__subject{
		margin-bottom: 0;
	}

	.section-info__lead-author__authors{
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	.section-info__lead-author__photo{
		border-radius:58px;
		border: 3px solid var(--brand-accent);
		overflow: hidden;
		width: 116px;
		height: 116px;
		margin-right: .625rem;

		img{
			width:100%;
			height:auto;
		}
	}
	.section-info__lead-author__name{
		margin-right: 2rem;
	}
