.footer{

	--brand: var(--footer-color);
	--brand-hover: var(--footer-color);

	background-color: $footer-bg;
	color: $footer-color;
	font-family: $font-family-sans-serif;
	padding: 4rem 1rem 2.25rem;

	@media #{$breakpoint-tablet-and-up}{
		flex-direction: row;
    padding-top: 2rem;
		padding-bottom: 2.5rem;
	}

	//overwrite link colors of potential book theme
	a {
		color: $link-color;
		text-decoration: $link-decoration;

		&:hover {
			color: $link-hover-color;
			text-decoration: $link-hover-decoration;
		}
	}
}
	.footer__inner{
		max-width: $content-max-width;
		margin:0 auto;
	}
	.footer__pressbooks{
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media #{$breakpoint-tablet-and-up}{
			flex-direction: row;
		}
	}
		.footer__pressbooks__icon{
			margin: 0 1rem;
		}
		.footer__pressbooks__links{
			margin-bottom: 1.5rem;
			margin-top: 1.5rem;

			@media #{$breakpoint-tablet-and-up}{
				margin: 0;
			}
		}
		.footer__pressbooks__links__list{
			display: flex;
			flex-wrap: wrap;
			font-size: .875rem;
			justify-content: center;
			list-style: none;
			margin: 0;
			padding-left: 0;

			li{
				line-height: 1;
				padding: .125rem 0;
			}

			li + li>a{
				border-left: 1px solid var(--footer-color);
				margin-left: 1rem;
				padding-left: 1rem;
			}
		}
			.footer__pressbooks__links__title{
				font-size: 1rem;
				text-align: center;
			}
		.footer__pressbooks__social{
			align-items: center;
			display: flex;

		}
