.header {
  font-family: $font-family-sans-serif;
  padding: 1.5rem 1rem;

  @media #{$breakpoint-large} {
    padding: 4rem 1rem 3rem;
  }

  //overwrite link colors of potential book theme
  a {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }
}

.header--home {
  --brand: var(--header-color);
  --brand-hover: var(--header-color);
  --brand-accent: var(--header-color);

  background-color: var(--header-bg);
  color: var(--header-color);
  padding: 2rem 1rem 0;
}

.header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: $nav-max-width;
  margin: 0 auto;
}

.header__start-container {
  align-items: center;
  display: none;

  @media #{$breakpoint-large} {
    display: flex;
  }
}

.header__home {
  margin-right: 4.5rem;
}

.header__search {
  //display: flex;
  position: relative;
}

.header:not(.header--home) .icon-search {
  font-size: 1.5rem;
  cursor: pointer;
}

.header__search__form {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;

  .search--visible & {
    display: block;
  }

  label {
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
  }

  input[type='text'] {
    background-color: transparent;
    border: 0 none;
    border-bottom: 2px solid var(--body-color);
    color: var(--body-color);

    &:focus {
      border-color: var(--brand);
    }

    .header--home & {
      color: var(--header-color);
      border-bottom: 1px solid var(--header-color);

      &:focus {
        border-color: var(--brand-orig);
      }
    }

    .header--reading & {
      // TODO
    }
  }

  .header--home & {
    // TODO
  }

  input[type='submit'] {
    display: none;
  }
}

.header__brand {
  font-family: $font-family-sans-serif;
  font-size: 1.25rem;
  margin-bottom: 0;
  max-width: 100%;
  overflow: hidden;

  @media #{$breakpoint-tablet-to-large} {
    font-size: 1.5rem;
  }

  @media #{$breakpoint-large} {
    font-size: 2.5rem;
  }
}

.header__logo {
  .icon--svg {
    display: inline-block;
    height: 0.7em;
    margin-bottom: -1px;
    margin-right: 2px;
    width: 0.7em;

    .header--reading & {
      color: var(--brand);
    }
  }
}

.header__menu-icon {
  display: block;
  position: relative;
  //top: 2rem;
  //right: 1rem;
  width: 25px;
  height: 20px;
  z-index: 99;
  text-indent: -9999em;

  @media #{$breakpoint-large} {
    display: none;
  }

  &__icon {
    display: block;
    position: absolute;
    top: 7px;
    width: 25px;
    height: 3px;
    background: var(--brand);

    &::before,
    &::after {
      width: 25px;
      height: 3px;
      content: '';
      background: var(--brand);
    }

    &::before {
      position: absolute;
      top: -7px;
      right: 0;
    }

    &::after {
      position: absolute;
      top: 7px;
      right: 0;
    }

    .--active & {
      background: var(--header-color);

      &::before,
      &::after {
        background: var(--header-color);
      }
    }
  }
}

.header__nav {
  @media #{$breakpoint-not-large} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    margin: 0 0 0 -100%;
    padding: 0 17px;
    position: absolute;
    top: 0;
    width: 100%;

    a {
      display: none;
      font-family: $font-family-sans-serif;
      font-size: rem(24);
      line-height: (80/24);
      color: var(--header-color);
      letter-spacing: 0;
    }

    .sep {
      display: none;
    }

    &.--visible {
      margin: 0;
      padding: 0 52px;
      z-index: 1;
      background: var(--primary);

      a {
        display: block;
        width: 100%;
        border-bottom: solid 1px var(--header-color);

        &:hover {
          color: var(--header-color);
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
