// stylelint-disable no-descending-specificity

.reading-header {
  --brand: var(--header-color);
  --brand-hover: var(--header-color);
  --brand-accent: var(--header-color);

  color: var(--header-color);
  font-family: $font-family-sans-serif;

  //overwrite link colors of potential book theme
  a {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }
}

.reading-header__inner {
  display: flex;
  flex-direction: column;

  @media #{$breakpoint-large} {
    flex-direction: row;
  }
}

.reading-header__toc,
.reading-header__title,
.reading-header__end-container {
  align-items: center;
  background-color: var(--header-bg);
  display: flex;
  flex: 1 1 auto;
  height: 5rem;
}

.reading-header__toc,
.reading-header__end-container {
  //align-items: center;
  //background-color: var(--header-bg);
  //display: flex;
  //flex: 1 1 auto;
  border-top: 3px solid var(--header-color);
  font-size: 1rem;
  order: 1;
  padding-left: 2.25rem;
  padding-right: 2.25rem;

  @media #{$breakpoint-large} {
    border-top: 0 none;
    max-width: 18rem;
    order: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media #{$breakpoint-max-content} {
    max-width: 24rem;
    padding-left: 3rem;
    font-size: 1.25rem;
  }
}

.reading-header__toc {
  position: relative;

  & > .js-toc-toggle {
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }

  a {
    cursor: pointer;

    & > .reading-header__toc__title {
      text-transform: uppercase;
    }

    & > .icon {
      margin-left: auto;
      font-size: 1rem;
      height: 1em;
      width: 1em;

      @media #{$breakpoint-tablet-and-up} {
        font-size: 1.25rem;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  &.--visible {
    & > a .icon-arrow-up-down {
      &::before {
        content: $icon-arrow-up;
      }
    }
  }
}

.reading-header__title {
  //align-self: center;
  background-color: var(--footer-bg);
  border-top: solid 2px var(--body-bg);
  border-bottom: solid 2px var(--body-bg);
  font-size: 1.5rem;
  justify-content: center;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

.reading-header__end-container {
  display: none;

  @media #{$breakpoint-large} {
    display: flex;
    justify-content: flex-end;
  }
}
