////
/// @group pages
////

// Numberless Chapters
.numberless > .chapter-number {
  display: none;
}

// License
.chapter .license-attribution {
  p {
    text-align: $section-license-align;
    @if $type != 'epub' {
      line-height: $section-license-line-height;
    }

    font-size: $section-license-font-size;
    font-style: $section-license-font-style;
    margin-top: $section-license-margin-top;
    page-break-inside: avoid;
    text-indent: 0;
  }

  img {
    background: transparent;
    height: 2em;
    width: auto;
  }
}

@if $type == 'prince' {
  .chapter.with-subsections .chapter-ugc h1 {
    prince-bookmark-level: 2;
  }

  div.part ~ .chapter.with-subsections .chapter-ugc h1 {
    prince-bookmark-level: 3;
  }
}
