////
/// @group structure
////

//========================
// Content String Settings
//========================

// Metadata

meta[name="pb-title"] {
  string-set: book-title attr('content');
}

meta[name="pb-short-title"] {
  string-set: book-title attr('content');
}

meta[name="pb-subtitle"] {
  string-set: book-subtitle attr('content');
}

meta[name="pb-author"] {
  string-set: book-author attr('content');
}

meta[name="pb-publisher"] {
  string-set: book-publisher attr('content');
}

meta[name="pb-publisher-city"] {
  string-set: book-publisher-city attr('content');
}

.short-book-title {
  visibility: hidden;
}

// Parts

.part-title-wrap {
  .part-number {
    string-set: part-number content();
  }

  .part-title {
    string-set: part-title content();
  }
}

// Sections (Front Matter, Chapters, Back Matter)

.chapter-number {
  string-set: chapter-number content();
}

.front-matter .front-matter-title-wrap .front-matter-title,
.chapter .chapter-title-wrap .chapter-title,
.back-matter .back-matter-title-wrap .back-matter-title {
  string-set: section-title content();
}

// If the 'short-title' property is available, this will override the section
// title for use in the running head.

.front-matter .front-matter-title-wrap .short-title,
.chapter .chapter-title-wrap .short-title,
.back-matter .back-matter-title-wrap .short-title {
  width: 0;
  height: 0;
  visibility: hidden; // display: none causes issues with string-set
  string-set: section-title content();
}

.chapter-title-wrap {
  .chapter-author {
    string-set: chapter-author content();
  }

  .chapter-subtitle {
    string-set: chapter-subtitle content();
  }
}
