////
/// @group elements
////

//============================================================================//
//                                   Links                                    //
//============================================================================//

@if $type != 'web' {
  a {
    text-decoration: $link-text-decoration;
  }
}

@else {
  .front-matter,
  .part,
  .chapter,
  .back-matter {
    a {
      text-decoration: $link-text-decoration;
    }
  }
}
