//============================================================================//
//                                   Lists                                    //
//============================================================================//
@import '../utilities';

ol {
  margin-top: $ol-margin-top;
  margin-bottom: $ol-margin-bottom;
  margin-left: if-map-get($ol-margin-left, $type);
}

ul {
  margin-top: $ul-margin-top;
  margin-bottom: $ul-margin-bottom;
  margin-left: if-map-get($ul-margin-left, $type);
}

li + li {
  margin-top: $li-li-margin-top;
}

ol.upper-alpha {
  list-style-type: upper-alpha;
}

ol.lower-alpha {
  list-style-type: lower-alpha;
}

ol.upper-roman {
  list-style-type: upper-roman;
}

ol.lower-roman {
  list-style-type: lower-roman;
}

@import 'lists-ordered-harvard';
@import 'lists-ordered-legal';

// Definition Lists

dl {
  dt {
    display: block;
    margin: $dt-margin-top $dt-margin-right $dt-margin-bottom $dt-margin-left;
    font-style: $dt-font-style;
    font-weight: $dt-font-weight;
  }

  dd {
    margin: $dd-margin-top $dd-margin-right $dd-margin-bottom $dd-margin-left;
    font-style: $dd-font-style;
    font-weight: $dd-font-weight;
  }
}

@if $type == 'epub' {
  // scss-lint:disable ImportantRule
  @media amzn-mobi {
    ul,
    ol {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    ul {
      text-align: left !important;
    }

    ol {
      text-align: left !important;
    }

    li {
      text-align: left !important;
    }
  }
}
