////
/// @group elements
////

@if $type != "web" {
  ol.legal,
  ol.legal ol {
    list-style-type: none;
    counter-reset: legal-list;

    li::before {
      width: 1em;
      content: counters(legal-list, ".") ". ";
      counter-increment: legal-list;
    }
  }
} @else {
  .front-matter,
  .part,
  .chapter,
  .back-matter {
    #content {
      ol.legal,
      ol.legal ol {
        list-style-type: none;
        counter-reset: legal-list;

        li::before {
          width: 1em;
          content: counters(legal-list, ".") ". ";
          counter-increment: legal-list;
        }
      }
    }
  }
}
