// 'Antinoou', @import 'AntinoouFont'

//ANTINOOU
//COPTIC FONT

@font-face {
  font-family: 'Antinoou';
  src: url('fonts/Antinoou.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Antinoou';
  src: url('fonts/AntinoouItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
