// 'Arapey', @import 'ArapeyFont'

//ARAPEY
//SERIF

@font-face {
  font-family: 'Arapey';
  src: url('fonts/Arapey-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arapey';
  src: url('fonts/Arapey-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
