// 'BravuraText', @import 'BravuraTextFont'

// BravuraText
// OpenType music font

@font-face {
  font-family: 'Bravura Text';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/BravuraText.woff2') format('woff2');
}
