// 'BravuraText', @import 'BravuraTextFont'

// BravuraText
// OpenType music font

@font-face {
  font-family: 'Bravura Text';
  font-style: normal;
  font-weight: 400;
  src: url('uploads/assets/fonts/BravuraText.otf') format('opentype');
}
