// 'Exo', @import 'ExoFont'

//EXO
//SANS-SERIF

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Exo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/Exo-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Exo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-weight: normal;
  src: url('fonts/Exo-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/Exo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-weight: bold;
  src: url('fonts/Exo-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/Exo-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/Exo-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/Exo-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/Exo-BlackItalic.ttf') format('truetype');
}
