@import 'NotoSansTeluguFont', 'NotoSerifTeluguFont';

// Sans-serif stack name

$sans-serif-epub-te: 'Noto Sans Telugu';
$sans-serif-prince-te: 'Noto Sans Telugu';
$sans-serif-web-te: 'Noto Sans Telugu';

// Serif stack-name

$serif-epub-te: 'Noto Serif Telugu';
$serif-prince-te: 'Noto Serif Telugu';
$serif-web-te: 'Noto Serif Telugu';
