@import 'NotoSansGurmukhiFont';

// Sans-serif stack name

$sans-serif-epub-pun: 'Noto Punjabi Gurmukhi';
$sans-serif-prince-pun: 'Noto Punjabi Gurmukhi';
$sans-serif-web-pun: 'Noto Punjabi Gurmukhi';

// Serif stack name

$serif-epub-pun: 'Noto Punjabi Gurmukhi';
$serif-prince-pun: 'Noto Punjabi Gurmukhi';
$serif-web-pun: 'Noto Punjabi Gurmukhi';
