@import 'NotoSansGurmukhiFont';

// Sans-serif stack name

$sans-serif-epub-pan: 'Noto Sans Gurmukhi';
$sans-serif-prince-pan: 'Noto Sans Gurmukhi';
$sans-serif-web-pan: 'Noto Sans Gurmukhi';

// Serif stack name

$serif-epub-pan: 'Noto Sans Gurmukhi';
$serif-prince-pan: 'Noto Sans Gurmukhi';
$serif-web-pan: 'Noto Sans Gurmukhi';
