// NOTO ADLAM
// FULAH (ADLAM) FONT SANS

@import 'NotoSansAdlamFont';

// Sans-serif stack name

$sans-serif-epub-ff: 'Noto Sans Adlam';
$sans-serif-prince-ff: 'Noto Sans Adlam';
$sans-serif-web-ff: 'Noto Sans Adlam';

// Serif stack name

$serif-epub-ff: 'Noto Sans Adlam';
$serif-prince-ff: 'Noto Sans Adlam';
$serif-web-ff: 'Noto Sans Adlam';
