@import 'NotoSansHebrewFont', 'NotoSerifHebrewFont';

// Sans-serif stack name

$sans-serif-epub-kr: 'Noto Sans Hebrew';
$sans-serif-prince-kr: 'Noto Sans Hebrew';
$sans-serif-web-kr: 'Noto Sans Hebrew';

// Serif stack-name

$serif-epub-kr: 'Noto Serif Hebrew';
$serif-prince-kr: 'Noto Serif Hebrew';
$serif-web-kr: 'Noto Serif Hebrew';