@import 'NotoSansFont';

// Sans-serif stack name

$sans-serif-epub-tr: 'Noto Sans';
$sans-serif-prince-tr: 'Noto Sans';
$sans-serif-web-tr: 'Noto Sans';

@import 'NotoSerifFont';

// Serif stack-name

$serif-epub-tr: 'Noto Serif';
$serif-prince-tr: 'Noto Serif';
$serif-web-tr: 'Noto Serif';
