@import 'NotoSansKhmerFont', 'NotoSerifKhmerFont';

// Sans-serif stack name

$sans-serif-epub-kr: 'Noto Sans Khmer';
$sans-serif-prince-kr: 'Noto Sans Khmer';
$sans-serif-web-kr: 'Noto Sans Khmer';

// Serif stack-name

$serif-epub-kr: 'Noto Serif Khmer';
$serif-prince-kr: 'Noto Serif Khmer';
$serif-web-kr: 'Noto Serif Khmer';
