@import 'SBLHebrewFont';

// Sans-serif stack name

$sans-serif-epub-he: 'SBL Hebrew';
$sans-serif-prince-he: 'SBL Hebrew';
$sans-serif-web-he: 'SBL Hebrew';

// Serif stack name

$serif-epub-he: 'SBL Hebrew';
$serif-prince-he: 'SBL Hebrew';
$serif-web-he: 'SBL Hebrew';
