// 'Noto Sans Ethiopic
@import 'NotoSansEthiopicFont', 'NotoSerifEthiopicFont';

// Sans-serif stack name

$sans-serif-epub-ur: 'Noto Sans Ethiopic';
$sans-serif-prince-ur: 'Noto Sans Ethiopic';
$sans-serif-web-ur: 'Noto Sans Ethiopic';

// Serif stack name

$serif-epub-ur: 'Noto Sans Ethiopic';
$serif-prince-ur: 'Noto Sans Ethiopic';
$serif-web-ur: 'Noto Sans Ethiopic';