// NOTO CHEROKEE
// CHEROKEE FONT SANS

@import 'NotoSansCherokeeFont';

// Sans-serif stack name

$sans-serif-epub-chr: 'Noto Sans Cherokee';
$sans-serif-prince-chr: 'Noto Sans Cherokee';
$sans-serif-web-chr: 'Noto Sans Cherokee';

// Serif stack name

$serif-epub-chr: 'Noto Sans Cherokee';
$serif-prince-chr: 'Noto Sans Cherokee';
$serif-web-chr: 'Noto Sans Cherokee';
