@import 'NotoSansHebrewFont', 'NotoSerifHebrewFont';

// Sans-serif stack name

$sans-serif-epub-he-modern: 'Noto Sans Hebrew';
$sans-serif-prince-he-modern: 'Noto Sans Hebrew';
$sans-serif-web-he-modern: 'Noto Sans Hebrew';

// Serif stack-name

$serif-epub-he-modern: 'Noto Serif Hebrew';
$serif-prince-he-modern: 'Noto Serif Hebrew';
$serif-web-he-modern: 'Noto Serif Hebrew';