@import 'NotoSansArmenianFont', 'NotoSerifArmenianFont';

// Sans-serif stack name

$sans-serif-epub-hy: 'Noto Sans Armenian';
$sans-serif-prince-hy: 'Noto Sans Armenian';
$sans-serif-web-hy: 'Noto Sans Armenian';

// Serif stack-name

$serif-epub-hy: 'Noto Serif Armenian';
$serif-prince-hy: 'Noto Serif Armenian';
$serif-web-hy: 'Noto Serif Armenian';
