@import 'NotoSansBengaliFont', 'NotoSerifBengaliFont';

// Sans-serif stack name

$sans-serif-epub-bn: 'Noto Sans Bengali';
$sans-serif-prince-bn: 'Noto Sans Bengali';
$sans-serif-web-bn: 'Noto Sans Bengali';

// Serif stack-name

$serif-epub-bn: 'Noto Serif Bengali';
$serif-prince-bn: 'Noto Serif Bengali';
$serif-web-bn: 'Noto Serif Bengali';
