// 'Noto Nastaliq Urdu
@import 'NotoNastaliqUrduFont';

// Sans-serif stack name

$sans-serif-epub-ur: 'Noto Nastaliq Urdu';
$sans-serif-prince-ur: 'Noto Nastaliq Urdu';
$sans-serif-web-ur: 'Noto Nastaliq Urdu';

// Serif stack name

$serif-epub-ur: 'Noto Nastaliq Urdu';
$serif-prince-ur: 'Noto Nastaliq Urdu';
$serif-web-ur: 'Noto Nastaliq Urdu';