@import 'NotoSansOriyaFont';

// Sans-serif stack name

$sans-serif-epub-or: 'Noto Sans Oriya';
$sans-serif-prince-or: 'Noto Sans Oriya';
$sans-serif-web-or: 'Noto Sans Oriya';

// Serif stack-name

$serif-epub-or: 'Noto Sans Oriya';
$serif-prince-or: 'Noto Sans Oriya';
$serif-web-or: 'Noto Sans Oriya';
