@import 'NotoSansMalayalamFont', 'NotoSerifMalayalamFont';

// Sans-serif stack name

$sans-serif-epub-ml: 'Noto Sans Malayalam';
$sans-serif-prince-ml: 'Noto Sans Malayalam';
$sans-serif-web-ml: 'Noto Sans Malayalam';

// Serif stack-name

$serif-epub-ml: 'Noto Serif Malayalam';
$serif-prince-ml: 'Noto Serif Malayalam';
$serif-web-ml: 'Noto Serif Malayalam';
