@import 'NotoSansGurmukhiFont';

// Sans-serif stack name

$sans-serif-epub-pun: 'Noto Sans Gurmukhi';
$sans-serif-prince-pun: 'Noto Sans Gurmukhi';
$sans-serif-web-pun: 'Noto Sans Gurmukhi';

// Serif stack name

$serif-epub-pun: 'Noto Sans Gurmukhi';
$serif-prince-pun: 'Noto Sans Gurmukhi';
$serif-web-pun: 'Noto Sans Gurmukhi';
