@import 'BravuraTextFont';

// Sans-serif stack name

$sans-serif-epub-music: 'Bravura Text';
$sans-serif-prince-music: 'Bravura Text';
$sans-serif-web-music: 'Bravura Text';

// Serif stack name

$serif-epub-music: 'Bravura Text';
$serif-prince-music: 'Bravura Text';
$serif-web-music: 'Bravura Text';
