@import 'NotoSansKannadaFont', 'NotoSerifKannadaFont';

// Sans-serif stack name

$sans-serif-epub-kn: 'Noto Sans Kannada';
$sans-serif-prince-kn: 'Noto Sans Kannada';
$sans-serif-web-kn: 'Noto Sans Kannada';

// Serif stack-name

$serif-epub-kn: 'Noto Serif Kannada';
$serif-prince-kn: 'Noto Serif Kannada';
$serif-web-kn: 'Noto Serif Kannada';
