// NOTO N'Ko
// N'Ko FONT SANS

@import 'NotoSansNKoFont';

// Sans-serif stack name

$sans-serif-epub-ff: 'Noto Sans NKo';
$sans-serif-prince-ff: 'Noto Sans NKo';
$sans-serif-web-ff: 'Noto Sans NKo';

// Serif stack name

$serif-epub-ff: 'Noto Sans NKo';
$serif-prince-ff: 'Noto Sans NKo';
$serif-web-ff: 'Noto Sans NKo';
