// 'FreeSans', @import 'FreeSans'

@font-face {
  font-family: 'FreeSans';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/FreeSans.ttf');
}

@font-face {
  font-family: 'FreeSans';
  font-style: oblique;
  font-weight: normal;
  src: url('fonts/FreeSansOblique.ttf');
}

@font-face {
  font-family: 'FreeSans';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/FreeSansBold.ttf');
}

@font-face {
  font-family: 'FreeSans';
  font-style: oblique;
  font-weight: bold;
  src: url('fonts/FreeSansBoldOblique.ttf');
}
