// 'FreeMono', @import 'FreeMono'

@font-face {
  font-family: 'FreeMono';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/FreeMono.ttf');
}

@font-face {
  font-family: 'FreeMono';
  font-style: oblique;
  font-weight: normal;
  src: url('fonts/FreeMonoOblique.ttf');
}

@font-face {
  font-family: 'FreeMono';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/FreeMonoBold.ttf');
}

@font-face {
  font-family: 'FreeMono';
  font-style: oblique;
  font-weight: bold;
  src: url('fonts/FreeMonoBoldOblique.ttf');
}
