// 'GFS Neohellenic', @import 'GFSNeohellenicFont'

//GFSNEOHELLENIC
//SANSSERIF, ANCIENT GREEK

@font-face {
  font-family: 'GFS Neohellenic';
  src: url('fonts/GFSNeohellenic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'GFS Neohellenic';
  src: url('fonts/GFSNeohellenicItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'GFS Neohellenic';
  src: url('fonts/GFSNeohellenicBold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'GFS Neohellenic';
  src: url('fonts/GFSNeohellenicBoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
}
