// 'Gilda Display', @import 'GildaDisplayFont'


//GILDA DISPLAY
//SERIF

@font-face {
  font-family: "Gilda Display";
  font-weight: normal;
  font-style: normal;
  src: url('fonts/GildaDisplay-Regular.ttf') format("truetype");
}

