// 'K2D', @import 'K2DFont'

//K2D
//SANS-SERIF

@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/K2D-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 100;
  src: url('fonts/K2D-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/K2D-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 200;
  src: url('fonts/K2D-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/K2D-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/K2D-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/K2D-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/K2D-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/K2D-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/K2D-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/K2D-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/K2D-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/K2D-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/K2D-BoldItalic.ttf') format('truetype');
}


@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/K2D-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/K2D-ExtraBoldItalic.ttf') format('truetype');
}
