// 'Noto Sans Khmer', @import 'NotoSansKhmerFont'

@font-face {
  font-family: 'Noto Sans Khmer';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSansKhmer-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans Khmer';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSansKhmer-Bold.otf') format('opentype');
