// 'Noto Sans Adlam', @import 'NotoSansAdlamFont'

@font-face {
  font-family: 'Noto Sans Adlam';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSansAdlam-Regular.ttf') format('truetype');
}
