// 'Noto Sans Adlam', @import 'NotoSansAdlamFont'

@font-face {
  font-family: 'Noto Sans Adlam';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSansAdlam-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans Adlam';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSansAdlam-Bold.otf') format('opentype');
}
