// 'Noto Serif Kannada', @import 'NotoSerifKannadaFont'

@font-face {
  font-family: 'Noto Serif Kannada';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/NotoSerifKannada-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Serif Kannada';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/NotoSerifKannada-Bold.ttf') format('truetype');
}
