// 'Noto Sans Malayalam', @import 'NotoSansMalayalamFont'

@font-face {
  font-family: 'Noto Sans Malayalam';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSansMalayalam-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans Malayalam';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSansMalayalam-Bold.otf') format('opentype');
}
