// 'Noto Serif Telugu', @import 'NotoSerifTeluguFont'

@font-face {
  font-family: 'Noto Serif Telugu';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSerifTelugu-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif Telugu';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSerifTelugu-Bold.otf') format('opentype');
}
