// 'Noto Sans Bengali', @import 'NotoSansBengaliFont'

@font-face {
  font-family: 'Noto Sans Bengali';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSansBengali-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans Bengali';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSansBengali-Bold.otf') format('opentype');
}
