// 'Noto Sans Oriya', @import 'NotoSansOriyaFont'

@font-face {
  font-family: 'Noto Sans Oriya';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/NotoSansOriya-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Oriya';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/NotoSansOriya-Bold.ttf') format('truetype');
}
