// 'Noto Nastaliq Urdu', @import 'NotoNastaliqUrduFont'

@font-face {
  font-family: 'Noto Nastaliq Urdu';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoNastaliqUrdu-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Nastaliq Urdu';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoNastaliqUrdu-Bold.otf') format('opentype');
}
