// 'Noto Sans Oriya', @import 'NotoSansOriyaFont'

@font-face {
  font-family: 'Noto Sans Oriya';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSansOriya-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans Oriya';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSansOriya-Bold.otf') format('opentype');
}
