// 'Noto Sans Tibetan', @import 'NotoSansTibetanFont'

@font-face {
  font-family: 'Noto Sans Tibetan';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/NotoSansTibetan-Regular.ttf') format('truetype');
}
