// 'Noto Sans Telugu', @import 'NotoSansTeluguFont'

@font-face {
  font-family: 'Noto Sans Telugu';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSansTelugu-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans Telugu';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSansTelugu-Bold.otf') format('opentype');
}
