// 'Noto Serif Bengali', @import 'NotoSerifBengaliFont'

@font-face {
  font-family: 'Noto Serif Bengali';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSerifBengali-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif Bengali';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSerifBengali-Bold.otf') format('opentype');
}
