// 'Noto Serif Telugu', @import 'NotoSerifTeluguFont'

@font-face {
  font-family: 'Noto Serif Telugu';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSerifTelugu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Serif Telugu';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSerifTelugu-Bold.ttf') format('truetype');
}
