// 'Noto Serif Khmer', @import 'NotoSerifKhmerFont'

@font-face {
  font-family: 'Noto Serif Khmer';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSerifKhmer-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif Khmer';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSerifKhmer-Bold.otf') format('opentype');
}
