// 'Noto Serif Armenian', @import 'NotoSerifArmenianFont'

@font-face {
  font-family: 'Noto Serif Armenian';
  font-style: normal;
  font-weight: 400;
  src: url('uploads/assets/fonts/NotoSerifArmenian-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif Armenian';
  font-style: bold;
  font-weight: 700;
  src: url('uploads/assets/fonts/NotoSerifArmenian-Bold.otf') format('opentype');
}
