// 'Noto Sans Bengali', @import 'NotoSansBengaliFont'

@font-face {
  font-family: 'Noto Sans Bengali';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/NotoSansBengali-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Bengali';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/NotoSansBengali-Bold.ttf') format('truetype');
}
