// 'Noto Serif Kannada', @import 'NotoSerifKannadaFont'

@font-face {
  font-family: 'Noto Serif Kannada';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSerifKannada-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif Kannada';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSerifKannada-Bold.otf') format('opentype');
}
