// 'Noto Sans Ethiopic', @import 'NotoSansEthopicFont'

@font-face {
  font-family: 'Noto Sans Ethiopic';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSansEthiopic-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans Ethiopic';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSansEthiopic-Bold.otf') format('opentype');
}
