// 'Noto Sans Cherokee', @import 'NotoSansCherokeeFont'

@font-face {
  font-family: 'Noto Sans Cherokee';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSansCherokee-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Cherokee';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSansCherokee-Bold.ttf') format('truetype');
}
