// 'Noto Naskh Arabic', @import 'NotoNaskhArabicFont'

// NOTO NASKH ARABIC
// ARABIC FONT SERIF

@font-face {
  font-family: 'Noto Naskh Arabic';
  src: url('fonts/NotoNaskhArabic-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Noto Naskh Arabic';
  src: url('fonts/NotoNaskhArabic-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
