// 'Noto Sans Armenian', @import 'NotoSansArmenianFont'

@font-face {
  font-family: 'Noto Sans Armenian';
  font-style: normal;
  font-weight: 400;
  src: url('uploads/assets/fonts/NotoSansArmenian-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Armenian';
  font-style: bold;
  font-weight: 700;
  src: url('uploads/assets/fonts/NotoSansArmenian-Bold.ttf') format('truetype');
}
