// 'Noto Sans Malayalam', @import 'NotoSansMalayalamFont'

@font-face {
  font-family: 'Noto Sans Malayalam';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/NotoSansMalayalam-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Malayalam';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/NotoSansMalayalam-Bold.ttf') format('truetype');
}
