// 'Noto Serif Malayalam', @import 'NotoSerifMalayalamFont'

@font-face {
  font-family: 'Noto Serif Malayalam';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/NotoSerifMalayalam-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Serif Malayalam';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/NotoSerifMalayalam-Bold.ttf') format('truetype');
}
