// 'Noto Sans Kannada', @import 'NotoSansKannadaFont'

@font-face {
  font-family: 'Noto Sans Kannada';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSansKannada-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Kannada';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSansKannada-Bold.ttf') format('truetype');
}
