// 'Noto Sans NKo', @import 'NotoSansNKoFont'

@font-face {
  font-family: 'Noto Sans NKo';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSansNKo-Regular.ttf') format('truetype');
}
