// 'Noto Sans Coptic', @import 'NotoSansCopticFont'

@font-face {
  font-family: 'Noto Sans Coptic';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/NotoSansCoptic-Regular.ttf') format('truetype');
}