// 'Noto Sans Adlam Unjoined', @import 'NotoSansAdlamUnjoinedFont'

@font-face {
  font-family: 'Noto Sans Adlam Unjoined';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSansAdlamUnjoined-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans Adlam Unjoined';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSansAdlamUnjoined-Bold.otf') format('opentype');
}
