// Shape Shifter Fonts
// @see \Pressbooks\Styles::getShapeShifterFonts

$shapeshifter-fonts: ();

@if variable-exists(shapeshifter-font-1) {
  $shapeshifter-fonts: append($shapeshifter-fonts, $shapeshifter-font-1 );
}

@if variable-exists(shapeshifter-font-2) {
  $shapeshifter-fonts: append($shapeshifter-fonts, $shapeshifter-font-2 );
}

@each $font in $shapeshifter-fonts {
  @if unquote($font) == 'Cormorant Garamond' {
    // noinspection CssInvalidAtRule
    @use 'CormorantGaramondFont';
  } @else if unquote($font) == 'Noto Serif' {
    // noinspection CssInvalidAtRule
    @use 'NotoSerifFont';
  } @else if unquote($font) == 'Spectral' {
    // noinspection CssInvalidAtRule
    @use 'SpectralFont';
  } @else if unquote($font) == 'Alegreya Sans' {
    // noinspection CssInvalidAtRule
    @use 'AlegreyaSansFont';
  } @else if unquote($font) == 'Crimson Text' {
    // noinspection CssInvalidAtRule
    @use 'CrimsonTextFont';
  } @else if unquote($font) == 'Roboto' {
    // noinspection CssInvalidAtRule
    @use 'RobotoFont';
  } @else if unquote($font) == 'Open Sans' {
    // noinspection CssInvalidAtRule
    @use 'OpenSansFont';
  } @else if unquote($font) == 'Lato' {
    // noinspection CssInvalidAtRule
    @use 'LatoFont';
  } @else if unquote($font) == 'Montserrat' {
    // noinspection CssInvalidAtRule
    @use 'MontserratFont';
  } @else if unquote($font) == 'Raleway' {
    // noinspection CssInvalidAtRule
    @use 'RalewayFont';
  } @else if unquote($font) == 'Noto Sans' {
    // noinspection CssInvalidAtRule
    @use 'NotoSansFont';
  } @else if unquote($font) == 'Rubik' {
    // noinspection CssInvalidAtRule
    @use 'RubikFont';
  } @else if unquote($font) == 'Barlow' {
    // noinspection CssInvalidAtRule
    @use 'BarlowFont';
    // noinspection CssInvalidAtRule
  } @else if unquote($font) == 'Libre Franklin' {
    // noinspection CssInvalidAtRule
    @use 'LibreFranklinFont';
  } @else if unquote($font) == 'K2D' {
    // noinspection CssInvalidAtRule
    @use 'K2DFont';
  } @else if unquote($font) == 'FreeSans' {
    // noinspection CssInvalidAtRule
    @use 'FreeSans';
  } @else if unquote($font) == 'FreeSerif' {
    // noinspection CssInvalidAtRule
    @use 'FreeSerif';
  } @else if unquote($font) == 'SourceSansPro' {
    // noinspection CssInvalidAtRule
    @use 'SourceSansProFont';
  } @else if unquote($font) == 'Sorts Mill Goudy' {
    // noinspection CssInvalidAtRule
    @use 'SortsMillGoudyFont';
  } @else if unquote($font) == 'New Athena Unicode' {
    // noinspection CssInvalidAtRule
    @use 'NewAthenaUnicodeFont';
  }
}
