// 'Special Elite', @import 'SpecialEliteFont'

//SPECIALELITE

@font-face {
  font-family: "Special Elite";
  font-weight: normal;
  font-style: normal;
  src: url('fonts/SpecialElite.ttf') format("truetype");
}