// 'Teko', @import 'TekoFont'

//TEKO
//SANS-SERIF, DISPLAY, Devanagari

@font-face {
  font-family: 'Teko';
  src: url('fonts/Teko-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Teko';
  src: url('fonts/Teko-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Teko';
  src: url('fonts/Teko-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Teko';
  src: url('fonts/Teko-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Teko';
  src: url('fonts/Teko-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}