// 'WWDesigns', @import 'WWDesignsFont'

//WWDESIGNS
//FANTASY

@font-face {
  font-family: "WWDesigns";
  font-weight: normal;
  font-style: normal;
  src: url('fonts/WWDesigns.ttf') format("truetype");
}

