// stylelint-disable no-descending-specificity

#content {
  position: relative;
  margin: 0 auto;
  background-color: var(--body-bg);
  width: 100%;

  @media #{$breakpoint-large} {
    width: var(--reading-width, $reading-page-max-width);
  }
}

#content img {
  height: auto;
  max-width: 100%;
}

#content .wp-caption,
#content .wp-nocaption {
  height: auto;
  max-width: 100%;
}

.single #content {
  min-height: 350px;
  margin-bottom: 0;
}

.edit-link {
  margin-top: 5rem;
}

// Print
@media print {
  body {
    background: none;
  }

  a {
    color: #000;
  }

  #wrap {
    position: relative;
    display: block;
    float: none;
    margin: 0 auto;
    clear: both;
  }

  #header {
    padding-bottom: 18pt;
    border-bottom: 2pt solid #000;
  }

  .entry-content {
    font-size: 14pt;
    line-height: 1.6em;
  }

  .entry-title {
    font-size: 21pt;
  }

  #branding img,
  #respond,
  #comments,
  #searchform,
  .comment-edit-link,
  .edit-link,
  .navigation,
  .page-link,
  .widget-area,
  .nav,
  .share-wrap-single,
  .sidebar {
    display: none;
  }

  #container,
  #header,
  .footer {
    width: 100%;
    margin: 0;
  }

  .footer,
  nav {
    color: #000;
    background: #fff;
  }

  #content {
    width: 100%;
    padding: 10px;
    margin: 24pt 0 0;
  }

  .wp-caption p {
    font-size: 11pt;
  }

  .home .sticky {
    border: 0;
  }

  .wrapper {
    height: auto;
    min-height: 100px;
    margin: 0 auto;
  }
}
