.footer {
  --brand: var(--footer-color);
  --brand-hover: var(--footer-color);

  background-color: $footer-bg;
  color: $footer-color;
  font-family: $font-family-sans-serif;
  padding: 0 0 2.25rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;

    &:before {
      display: none;
    }
  }

  &.footer--home {
    padding-top: 4rem;
  }

  &.footer--reading {
    padding-bottom: 7rem;

    @media #{$breakpoint-large} {
      padding-bottom: 7rem;
    }

    @media #{$breakpoint-max-content} {
      padding-bottom: 2.5rem;
    }

    &.footer--multipage {
      padding-bottom: 9.5rem;

      @media #{$breakpoint-large} {
        padding-bottom: 7rem;
      }

      @media #{$breakpoint-max-content} {
        padding-bottom: 2.5rem;
      }
    }
  }

  @media #{$breakpoint-tablet-and-up} {
    flex-direction: row;
    padding-bottom: 2.5rem;
  }
}

.footer__inner {
  margin: 0 auto;
}

.footer__pressbooks {
  max-width: $content-max-width;
  margin: 2rem auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media #{$breakpoint-tablet-and-up} {
    flex-direction: row;
  }
}

.footer__pressbooks__icon {
  margin: 0 1rem;

  > .icon--svg {
    height: rem(45);
    width: rem(45);
  }
}

.footer__pressbooks__links {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 0 rem(30);

  @media #{$breakpoint-tablet-and-up} {
    margin: 0;
    padding: 0;
  }
}

.footer__pressbooks__links__list {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding-left: 0;

  li {
    padding: 0.125rem 0;
  }

 a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.footer__pressbooks__links__title {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.footer__pressbooks__social {
  align-items: center;
  display: flex;
  margin: 0 1rem;

  a {
    margin: 0 0.25em;

    > .icon--svg {
      height: rem(32);
      width: rem(32);
    }

    @media (min-width: $medium) {
      > .icon--svg {
        height: rem(24);
        width: rem(24);
      }
    }
  }
}

.footer__network {
  height: auto;
  margin-bottom: 0;
  padding: rem(40) rem(30);
  font-family: $font-family-sans-serif;
  font-size: rem(16);
  color: var(--accent-fg);
  background-color: var(--accent, $brand-accent);
  text-align: center;

  .social-media {
    margin-top: 1em;

    a {
      width: rem(32);
      height: rem(32);
      margin: 0 0.25em;
      transition: all 0.4s;

      > .icon--svg {
        height: rem(32);
        width: rem(32);
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-weight: 600;
    line-height: (36/16);
  }


  &__block {
    border-top: solid 1px var(--accent-fg);

    &:first-of-type {
      border-top: 0;
    }

    a {
      color: var(--accent-fg);
      text-decoration: none;
      border-bottom: solid 1px transparent;

      &:hover,
      &:focus {
        border-bottom: solid 1px var(--accent-fg);
      }
    }
  }

  &__block--1 {
    margin: 0 -5px;
    padding: 0 0 40px;
  }

  &__block--2 {
    padding: 30px 7.5px;

    .widget {
      margin-bottom: 1em;
    }
  }

  &__menu {
    padding: 30px 7.5px 0;
  }

  &__block .social-media {
    margin-top: 0;
    width: 100%;

    a {
      margin: 0 0.5em 0 0;
      border-bottom: none;

      &:hover,
      &:focus {
        border-bottom: none;
      }
    }
  }
}

@media (min-width: $medium) {
  .footer__network {
    display: flex;
    flex-direction: row;
    justify-content: center;

    ul {
      text-align: left;
    }

    &__block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0 rem(60);
      border-top: 0;
      border-right: solid 1px var(--accent-fg);
    }

    &__block--2 {
      flex-direction: column;
      justify-content: center;
    }

    &__block:last-of-type {
      border-right: 0;
    }
  }

  .social-media {
    a {
      width: rem(24);
      height: rem(24);
      margin: 0 0.5em 0 0;

      > .icon--svg {
        height: rem(24);
        width: rem(24);
      }
    }
  }
}

@media (min-width: $extra-large) {
  .footer__network {
    ul {
      li {
        display: inline-block;
        margin-right: 3em;
      }
    }
  }
}
