.pressbooks-footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 125px;
  background-color: $dark-grey;

  h1,
  li,
  a {
    color: $white;
    font-family: $font-family-sans-serif;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
  }

  h1 {
    font-size: rem(16);
    font-weight: normal;
    margin: 0 0 rem(12);

    .pressbooks {
      font-weight: 600;
    }
  }

  a {
    border-bottom: solid 1px $dark-grey;
    transition: all 0.4s;

    &:hover,
    &:focus {
      border-bottom-color: $white;
    }
  }

  ul {
    display: none;
    margin: 0;
    font-size: rem(14);
  }

  &__icon {
    display: none;
    border-bottom: none;

    &:hover,
    &:focus {
      border-bottom: none;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__social {
    a {
      display: inline-block;
      width: rem(16);
      height: rem(16);
      margin: 0 0.125rem;
      border-bottom: none;

      &:hover,
      &:focus {
        border-bottom: none;
      }
    }
  }
}

@media (min-width: $medium) {
  .pressbooks-footer {
    flex-direction: row;
    justify-content: space-between;
    height: rem(106);
    padding: 0 rem(38);

    h1 {
      font-weight: 600;
    }

    ul {
      display: block;
      list-style: none;

      li {
        display: inline-block;

        &::after {
          content: "|";
          color: $white;
          display: inline-block;
          margin: 0 0.5rem;
        }

        &:last-child {
          &::after {
            content: "";
            display: none;
          }
        }
      }
    }

    &__icon {
      display: block;
      line-height: 1;
    }
  }
}
