.content-info {
  .pressbooks-footer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 125px;
    background-color: $dark-grey;

    h1,
    li,
    a {
      color: $white;
      font-family: $font-family-sans-serif;
      text-decoration: none;
      text-transform: none;
      letter-spacing: normal;
    }

    h1 {
      font-size: rem(16);
      font-weight: normal;
      margin-bottom: 0;

      .pressbooks {
        font-weight: 600;
      }
    }

    h1 a {
      border-bottom: solid 1px $dark-grey;
      transition: all 0.4s;

      &:hover,
      &:focus {
        border-bottom: solid 1px $white;
      }
    }

    ul {
      display: none;
      margin: 0;
      font-size: rem(14);
    }

    .pressbooks-icon {
      display: none;
    }

    .pressbooks-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (min-width: $medium) {
  .content-info {
    .pressbooks-footer {
      flex-direction: row;
      justify-content: space-between;
      height: rem(106);
      padding: 0 rem(38);

      h1 {
        font-weight: 600;
        margin-bottom: rem(11);
      }

      ul {
        display: block;
        list-style: none;

        li {
          display: inline-block;

          &::after {
            content: "|";
            color: $white;
            display: inline-block;
            margin: 0 0.5rem;
          }

          &:last-child {
            &::after {
              content: "";
              display: none;
            }
          }
        }
      }

      .pressbooks-icon {
        display: block;
        line-height: 1;

        svg path {
          fill: $white;
        }
      }

      .social-media {
        margin-top: 0;

        a {
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          margin: 0 0.25rem;
          font-size: rem(32);
          color: $near-black;
          transition: all 0.4s;

          &:hover,
          &:focus {
            color: $silver;
          }
        }
      }
    }
  }
}
