@use "sass:math";

.header {
  font-family: $font-family-sans-serif;
  padding: 3.5rem 1rem 1.5rem;

  @media #{$breakpoint-large} {
    padding: 3rem 1rem;
  }
}

.header__inside {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: $nav-max-width;
  margin: 0 auto;
}

.header__logo--img,
.header__logo--svg {
  display: inline-block;
  width: auto;
  max-width: 100px;
  height: auto;
  max-height: 1.5rem;
  margin-bottom: -1px;
  margin-right: 2px;

  @media #{$breakpoint-medium} {
    max-width: 150px;
  }

  @media #{$breakpoint-large} {
    max-width: 200px;
    max-height: 30px;
  }
}

.header__nav-icon {
  display: block;
  position: relative;
  width: 25px;
  height: 20px;
  z-index: 999;
  text-indent: -9999em;

  @media #{$breakpoint-large} {
    display: none;
  }

  &__icon {
    display: block;
    position: absolute;
    top: 7px;
    width: 25px;
    height: 3px;
    background: var(--primary);

    &::before,
    &::after {
      width: 25px;
      height: 3px;
      content: "";
      background: var(--primary);
    }

    &::before {
      position: absolute;
      top: -7px;
      right: 0;
    }

    &::after {
      position: absolute;
      top: 7px;
      right: 0;
    }

    .header__nav--active & {
      --header-bg: var(--primary);
      --header-text: var(--primary-fg);
      color: var(--header-text);
      background: var(--header-text);

      &::before,
      &::after {
        background: var(--header-text);
      }
    }
  }
}

.js-header-nav {
  .nav--primary {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      display: inline;
      padding-left: 1rem;
      font-size: 1.125rem;
    }
  }

  @media #{$breakpoint-not-large} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    margin: 0 0 0 -100%;
    padding: 0 17px;
    position: absolute;
    top: 0;
    width: 100%;

    .nav--primary li {
      display: block;
      padding-left: 0;
    }

    a {
      display: none;
      font-family: $font-family-sans-serif;
      font-size: rem(24);
      line-height: math.div(80, 24);
      color: var(--header-color);
      letter-spacing: 0;
    }

    .header__nav--active & {
      --header-color: var(--primary-fg);
      margin: 0;
      padding: 6rem 52px;
      z-index: 99;
      background: var(--primary);

      .nav--primary li {
        border-bottom: solid 1px var(--header-color);

        &:last-child {
          border-bottom: 0;
        }
      }

      a {
        display: block;
        width: 100%;

        &:hover {
          color: var(--header-color);
        }
      }
    }
  }
}

.header--home {
  --brand: var(--header-color);
  --primary-dark: var(--header-color);
  --brand-accent: var(--header-color);
  background-color: var(--header-bg);
  color: var(--header-color);
}

.header__search {
  position: relative;
}

.icon-search {
  vertical-align: middle;
}

.header:not(.header--home) .icon-search {
  font-size: 1.5rem;
  cursor: pointer;
}

.header__search__form {
  display: inline-block;
  position: relative;
  width: 12rem;

  // label {
  //   height: 0;
  //   overflow: hidden;
  //   position: absolute;
  //   width: 0;
  // }

  label {
    position: absolute;
    left: 0;
    width: 12rem;

    .icon--svg {
      width: 1.5rem;
      height: 2rem;
      display: inline-block;
      float: right;
      vertical-align: middle;
    }
  }

  input[type="search"] {
    background-color: transparent;
    border: 0 none;
    border-bottom: 2px solid var(--primary);
    color: var(--body-color);
    width: 12rem;

    &:focus {
      border-color: var(--brand-orig);
    }

    &:focus + label {
      text-indent: -999999rem;
    }

    .header--home & {
      color: var(--header-color);
      border-bottom: 1px solid var(--header-color);

      &:focus {
        border-color: var(--brand-orig);
      }
    }
  }

  input[type="submit"] {
    display: none;
  }
}
