.home .block {
  padding: 5rem 0 4rem;

  @media #{$breakpoint-tablet-and-up} {
    padding: 7rem 1rem 6rem;
  }
}

.block__title {
  font-size: 1.875rem;
  text-align: center;
  text-transform: uppercase;

  @media #{$breakpoint-tablet-and-up} {
    font-size: 3rem;
  }

  &::before {
    content: '';
    display: block;
    margin: 0 auto 1rem;
    width: 46px;
    height: 5px;
    background: var(--brand-accent);

    @media #{$breakpoint-large} {
      margin-bottom: 2rem;
      width: 75px;
    }
  }
}

.block__subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;

  @media #{$breakpoint-tablet-and-up} {
    margin-bottom: 1.5rem;
  }
}

.block__subsection {
  // TODO
}

.block-toggle__cta {
  position: relative;
  text-align: center;

  @media #{$breakpoint-large} {
    display: none;
  }
}

.block-toggle__cta__blurb {
  font-size: 0.875rem;
  margin-bottom: 0;
  padding-bottom: 2.5rem;
}

.block-toggle__cta__button {
  bottom: 0;
  cursor: pointer;
  font-size: 1.5rem;
  left: 50%;
  margin: 0;
  position: absolute;
  transform: translate(-50%, 50%);
  z-index: 10;
}

.home .block.block-toggle {
  @media #{$breakpoint-not-large} {
    &:not(.block-toggle--visible) {
      //padding-bottom: 2.5rem;
      .block-toggle__content {
        display: none;
      }
    }

    &.block-toggle--visible {
      .block-toggle__cta__blurb {
        display: none;
      }
    }
  }

  padding-bottom: 0;

  &.block-meta {
    padding-bottom: 6rem;
  }
}
